.address-point
  padding 10px
  background: #FAFAFA
  border-radius: 2px
  margin-bottom 8px

  @media (min-width: 1024px)

    ._js-is-overlap &
      padding-left 23px
      padding-right 23px

  &__title
    line-height: 24px
    font-size: 16px
    margin-bottom 5px

  &__info
    font-size: 14px
    letter-spacing: -0.5px

  &__change-link
    position relative
    padding 15px 0 5px 0
    margin-top 10px
    text-transform uppercase

    &:before
      content ''
      position absolute
      top 0
      left 0
      height 1px
      background-color #B7C2C9
      width 60%
      max-width 280px

    a
      text-decoration none
      font-size: 13px
      color #2577D7

