<div block="b-contacts-page">
	<div elem="text">
		<div elem="item" mods="contacts">
			<div elem="item-title">Контакты</div><!-- e:title -->
			<div elem="item-body">
				<p><a href="mailto:zakaz04@instrdom.ru">zakaz04@instrdom.ru</a></p>
				<div elem="phone">
					<div><a href="tel:84952871466"><strong>8 (495) 287-14-66</strong></a></div>
					<div><a href="tel:84952871466">8 (800) 333-83-07</a><span>Бесплатно по России</span></div>
				</div><!-- e:phone -->
				<div elem="time">Прием звонков: <span>пн-пт: 8:30-17:45</span></div><!-- e:time -->
			</div><!-- e:item-body -->
		</div><!-- e:item -->
		<div elem="item" mods="requisites">
			<div elem="item-title">Реквизиты</div><!-- e:title -->
			<div elem="item-body">
				<p><strong>ООО «Инструментальный дом»</strong><br>Почтовый адрес: 111524, г. Москва, <br>ул. Электродная, д.2, стр.7 </p>
				<div elem="requisites">
					<div elem="requisites-item">
						<span elem="requisites-name">ИНН</span><!-- e:requisites-name -->
						<span elem="requisites-body">7720329056</span><!-- e:requisites-body -->
					</div><!-- e:requisites-item -->
					<div elem="requisites-item">
						<span elem="requisites-name">КПП</span><!-- e:requisites-name -->
						<span elem="requisites-body">772001001</span><!-- e:requisites-body -->
					</div><!-- e:requisites-item -->
					<div elem="requisites-item">
						<span elem="requisites-name">ОГРН</span><!-- e:requisites-name -->
						<span elem="requisites-body">1167746075980</span><!-- e:requisites-body -->
					</div><!-- e:requisites-item -->
				</div><!-- e:requisites -->
			</div><!-- e:item-body -->
		</div><!-- e:item -->
	</div><!-- e:text -->
	<div elem="map" id="contacts-page-map" data-center="55.7571289, 37.75060689999998"></div><!-- e:map -->
</div><!-- b:contacts-page -->