.b-contacts-page
	&__map
		height 520px
		background #ccc
	
	&__text
		display flex
		flex-wrap wrap
		margin-bottom 50px
		font-family Roboto
	
	&__item
		flex 0 0 350px
		margin-right 180px
		font-size 20px
		
		&--contacts
			p
				margin-bottom 30px
				
		&--requisites
			font-size 16px
			color #000
		
		&:last-child
			margin-right 0
			
		&-title
			font-weight 500
			font-size 32px
			letter-spacing -0.03em
			color #232F36
			margin-bottom 40px
	
	&__phone
		line-height 1
		margin-bottom 30px
		
		> div
			margin-bottom 15px
		
		a
			color #000
			text-decoration none
		
		strong
			font-weight 500
			
		span
			font-size 14px
			color #3F505B
			display inline-block
			margin-left 5px
	
	&__time
		color #3F505B
		span
			color #d00000
	
	&__requisites
		&-item
			margin-bottom 6px
			line-height 1.2
			&:last-child
				margin-bottom 0
				
		&-name
			font-weight 600
			display inline-block
			min-width 50px
		
	@media all and (max-width: 1023px)
		&__item
			flex 0 0 270px
			font-size 16px
			margin-right 80px
			
			&:last-child
				margin-right 0
			&--contacts
				p
					margin-bottom 12px
			&--requisites
				font-size 14px
				
			&-title
				font-size 26px
				margin-bottom 20px
		&__phone
			margin-bottom 20px
			
			> div
				margin-bottom 10px
		&__time
			font-size 14px
			
		&__requisites					
			&-name
				font-weight 400
			
	@media all and (max-width: 760px)
		&__text
			display block
			margin-bottom 40px
		&__item
			margin-bottom 25px
			margin-right 0
			&-title
				font-size 20px
				margin-bottom 15px
			
		&__map
			height 260px