.compare-delete
  position absolute
  z-index 10
  font-size 0
  top 0
  right 0
  width 36px
  height 36px
  background url('../img/delete-compare.svg') center center no-repeat
  background-size 17px 17px
