input,
textarea
    border-radius 2px
    border 1px solid #B7C2C9
    outline none
    font-size 14px
    color #232F36
    &::placeholder
        color #4C728B

input
    padding 2px 17px 0
    height 56px

    &:focus
        border-color #0F8EC7

input[type="checkbox"]
    width 13px
    height 13px
    padding 0

input[type="tel"]
    box-shadow none

&.error
    input,
    textarea
        border-color #D00000

.b-form

    &__title
        font-size 24px
        font-weight 500
        line-height 24px
        margin-bottom 16px
        color #232F36

    &__text
        margin-bottom 16px
        font-size 16px
        line-height 20px
        font-weight normal
        color #232F36

    &__item
        position relative
        text-align left
        margin-bottom 15px
        input
            width 100%
            background none
        &--phone
            position relative
            z-index 3
            background #fff
            height 56px
            padding 7px 44px 0 20px
            border 1px solid #b7c2c9
            input
                background none
                border 0
                height 22px
                border-radius 0
            img
                vertical-align middle
                display block
            &.valid
                &:after
                    content ""
                    position absolute
                    right 12px
                    top 50%
                    width 18px
                    height 14px
                    background url(../img/marker-green.svg) center center no-repeat
                    transform translateY(-50%)


        &.error
            border 1px solid #D00000
            background #fff
            padding-top 6px
            & ^[0]
                &__error-note
                    display block
                &__item-close
                    display block
            input
                border-color #D00000 !important
                border 0
                height 20px !important
                pointer-events none

        &--file
            &.error
                height 272px
                border 0
                &.expansion
                    .expansion
                        display block
                    .size
                        display none

                &.size
                    .expansion
                        display none
                    .size
                        display block


                .jq-file
                    border 1px solid #d00000

    &__item-name
        font-family "Open Sans"
        font-size 12px
        color #4C728B
        margin-bottom 2px
        line-height normal

    &__error-note
        font-family "Open Sans"
        padding-left 17px
        color #d00000
        font-size 14px
        font-weight normal
        margin-bottom 9px
        line-height normal
        display none

    &__item-close
        position absolute
        top 50%
        right 13px
        transform translateY(-50%)
        width 14px
        height 14px
        cursor pointer
        display none
        .svg-icon
            width 14px
            height 14px
            svg
                fill #D00000

    &__phone-container
        display flex
        align-items center
        input
            flex 1
            padding 0
            color #232F36
            outline none
            padding 0
            font-size 14px
            &::placeholder
                color #232F36
                font-size 14px

    &__country-flag
        position relative
        width 30px
        height 14px
        margin-right 13px
        margin-top 0
        &.opened
            & ^[0]
                &__country-flags
                    display block

                &__country-selected-flag
                    .svg-icon
                        transform rotate(180deg)

    &__country-selected-flag
        cursor pointer
        position relative
        width 30px
        height 14px
        margin-top -1px
        .svg-icon
            position absolute
            right 0
            top 5px
            width 8px
            height 5px
            color #3F505B
            svg
                fill #3F505B
    &__country-flags
        display none
        width 50px
        position absolute
        left -5px
        top 100%
        margin-top 4px
        border 1px solid #084d6b
        background #fff
        color #232F36
        font-size 12px
        padding 5px
        div
            margin-bottom 6px
            height 14px
            line-height 14px
            cursor pointer
            display flex
            &:last-child
                margin-bottom 0
        img
            margin-right 4px
            vertical-align middle

    &--horisontal
        & ^[0]
            &__title
                text-align center
                color #232F36
                line-height 1
                font-size 32px
                font-weight 500
                margin-bottom 12px
            &__text
                font-size 16px
                margin-bottom 25px
                text-align center
            &__container
                display flex

            &__item
                margin-bottom 0
                &--phone
                    padding-top 10px
                    height 72px
                    flex 1
                &--email
                    flex 1
                    input
                        border-right 0
            &__item-name
                margin-bottom 8px
            &__button
                border-radius 0 2px 2px 0
                font-family "Open Sans"
                font-weight 600

        &.content-form
            background #E3E6E9
            padding-top 40px
            padding-bottom 55px
            margin-bottom 108px
            & ^[0]
                &__container
                    max-width 800px
                    margin-left auto
                    margin-right auto

                &__button
                    width 217px
                    box-shadow none

                &__item
                    input
                        height 72px
                        border-color transparent
                        background #fff
                        &:focus
                            border-color #2577d7
                    &.error
                        height 72px

                @media (max-width 1023px)

                    &__text
                        padding-left 25px
                        padding-right 25px
                    &__container
                        padding-left 32px
                        padding-right 32px
                        max-width 100%
                    &__item
                        input
                            height 56px

                    &__button
                        width 187px

        &.footer-form
            max-width 627px
            margin-left auto
            margin-right auto
            margin-bottom 140px
            & ^[0]
                &__title
                    color #fff
                    padding-bottom 15px
                    margin-bottom 45px
                    position relative
                    &:after
                        content ""
                        height 3px
                        width 64px
                        background #2577D7
                        position absolute
                        left 50%
                        margin-left -32px
                        bottom 0
                &__item--phone
                    height 64px
                    padding-top 5px
                &__item-name
                    margin-bottom 6px

                &__button
                    width 233px

    &--landing

        .b-form

            &__top-container
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex

                @media (max-width 1023px)
                    flex-wrap wrap
                    margin-left -16px

                .b-form__item
                    margin-right 3px

                    @media (max-width 1023px)
                        margin-right 0
                        margin-bottom 22px
                        flex 0 0 50%
                        width 50%
                        max-width 50%
                        padding-left 16px

                    @media (max-width 480px)
                        flex 0 0 100%
                        width 100%
                        max-width 100%

                    &:last-child
                        margin-right 0

            &__item
                margin-bottom 0

                @media (max-width: 480px)
                    &.b-form__item--file
                        margin-bottom 9px

                &.error
                    padding-top 0
                    border none
                    height auto

                    .jq-file
                        border 1px solid #d00000

                        &__name
                            padding 0 10px

                        &__refresh
                            display block
                            font-size 14px
                            line-height 15px
                            color #fff
                            position absolute
                            top 50%
                            right 10px
                            transform translateY(-50%)

                &--text
                    flex 0 0 300px

                    @media (max-width 1220px)
                        flex 1 1 auto

                    input
                        height 68px
                        background-color #fff

                        @media (max-width 480px)
                            height 56px

                &--phone
                    height 68px
                    flex 0 0 300px
                    padding 0
                    border none

                    @media (max-width 480px)
                        height 56px

                    .b-form__item-phone-wrap
                        padding 7px 33px 0 20px
                        height 68px
                        border 1px solid #b7c2c9

                        @media (max-width 1220px)
                            flex 1 1 auto

                        @media (max-width 480px)
                            height 56px

                &--requisites,&--docs
                    flex 0 0 147px
                    border-radius 2px

                    .jq-file
                        border none
                        cursor pointer

                        input
                            width auto
                            height 68px

                        &__name
                            width 100%
                            height 68px
                            padding 0 5px 0 42px
                            margin 0
                            background-color #009B35
                            font-family: Open Sans;
                            font-weight: 600;
                            line-height: 16px;
                            font-size: 13px;
                            letter-spacing: -0.5px;
                            color: #FFFFFF;
                            display flex
                            align-items center
                            white-space normal

                            @media (max-width 480px)
                                height 56px

                            &:before
                                background url('../img/clip-white.svg') 0 0 no-repeat
                                left 16px


                        &__refresh
                            display none

                &--docs
                    flex 0 0 206px
                    border-radius 2px

                    @media (max-width 1220px)
                        flex 0 0 190px

                    .jq-file

                        &__name
                            padding-left 52px
                            background-color #45B700

                            &:before
                                background url('../img/folder.svg') 0 0 no-repeat
                                width 21px
                                height 21px
                                left 21px
                                margin-top -11px

                &--greement
                    .jq-checkbox
                        background-color transparent

                        @media (max-width: 1023px)
                            margin-right 8px

                        &__div
                            background url('../img/checkbox-landing.svg') 50% 50% no-repeat

                            @media (max-width: 1023px)
                                background url('../img/check-box-marker.svg') 50% 50% no-repeat

                    span
                        font-size 14px
                        color #FFFFFF

                        @media (max-width: 1023px)
                            color #232F36
                            font-size 13px

                            .mobile-hidden
                                display none

            &__item-control
                line-height 0
                font-size 0

            &__button
                flex 0 0 214px

                @media (max-width 1220px)
                    flex 0 0 200px
                    padding 10px 20px

                @media (max-width 1023px)
                    flex 1 1 auto
                    width 100%
                    margin-left 16px
                    height 64px
                    font-size 16px

                 @media (max-width 480px)
                    height 56px
                    font-size 14px


            &__bot-container
                margin-top 20px
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                justify-content center



    @media (max-width 1023px)

        &--horisontal
            & ^[0]
                &__title
                    font-size 20px
                &__text
                    margin-bottom 23px

            &.content-form
                padding-top 21px
                padding-bottom 24px
                margin-bottom 45px
                & ^[0]

                    &__container
                        padding-left 32px
                        padding-right 32px
                        max-width 100%
                    &__item
                        input
                            height 56px
                        &.error
                            height 56px

                            & ^[0]
                                &__error-note
                                    margin-bottom 0

                    &__button
                        width 187px

            &.footer-form
                margin-bottom 100px
                max-width 448px
                & ^[0]
                    &__title
                        margin-bottom 22px

                    &__container
                        display block

                    &__item
                        margin-bottom 16px
                        &--phone
                            height 56px
                            border-radius 2px

                    &__item-name
                        margin-bottom 4px

                    &__button
                        width 100%
                        height 48px
                        letter-spacing normal

    @media (max-width 640px)
        &--horisontal
            &.content-form
                margin-bottom 32px
                margin-left -16px
                margin-right -16px
                & ^[0]
                    &__container
                        display block
                    &__item
                        margin-bottom 16px
                        input
                            border 1px solid #C5D1D9
                        &.error
                            input
                                border 0

                    &__button
                        display block
                        height 48px
                        width 100%
            &.footer-form
                margin-bottom 70px

