<form block="b-form" mods="horisontal" class="footer-form" action="">
	<div elem="title">Остались вопросы?</div>
	<div elem="container">
		<div elem="item" mods="phone">	
			<div elem="item-name">Номер телефона</div>	
			<div elem="phone-container">	
				<span elem="country-flag">
					<div elem="country-selected-flag" class="_js_selected_country">
						<img src="img/flag-rf.svg" alt="">
						<icon name="arrow-b" tag="span">
					</div>				
					<div elem="country-flags" class="_js_select_country">
						<div data-phone-number="+7 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+7</div>
						<div data-phone-number="+8 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+8</div>
					</div>
				</span> 
				<input type="tel" required class="_js_phone-number" value="+7">
			</div>
		</div>
		<button elem="button">ПЕРЕЗВОНИТЕ МНЕ</button>
	</div>
</form>