<div block="metro-chooser">
	<div elem="header">

		{% include 'metro-select.html' %}

	</div>
	<div elem="list">
		{% for metro in range(1, 15) %}
			<div block="address-point">
				<div elem="title">Ваш пункт самовывоза</div>
				<div elem="info">Пункт самовывоза магазина Инстрдом Россия, г. Москва, Электродная улица, д.2, стр. 12-13-14</div>
				<div elem="change-link">
					<a href="#">Выбрать</a>
				</div>
			</div><!-- b:address-point -->
		{% endfor %}
	</div>
</div><!-- b:metro-chooser -->
