compare-features-width = 330px

.compare-table

  &__head
    display block
    margin-bottom 25px

    .two-way-switch
      margin 20px 0

    a
      text-decoration none

  &__title
    text-decoration none
    margin 0
    font-weight: 500
    line-height: 26px
    font-size: 20px
    letter-spacing: -0.5px

  &__content
    position relative
    padding-left 0
    font-size 14px

  &__features
    display none

  &__products
    overflow-x auto
    -ms-overflow-style: -ms-autohiding-scrollbar

    custom-scroll()

  &__foot
    padding-top 40px


@media (min-width:760px)

  .compare-table

    compare-features-width = 170px

    &__head
      display flex
      justify-content space-between
      align-items center

      .two-way-switch
        margin 0

    &__content
      padding-left: compare-features-width
      margin-right: -40px

    &__features
      display flex
      position absolute
      top 0
      left 0
      width: compare-features-width
      height 100%

      .compare-fields
        margin-left -40px
        width 190px

@media (min-width: 1024px)
  .compare-table

    &__content
      margin-right: -20px

    &__features .compare-fields
      margin-left -20px

@media (min-width: 1140px)

  .compare-table

    compare-features-width = 330px

    &__title
      display none

    &__content
      padding-left: compare-features-width
      margin-right: 0

    &__features
      width: compare-features-width

      .compare-fields
        width 100%
        margin-left 0
