<div block="compare-table">
	<div elem="head">
		<div elem="title">Сравнение</div>
		<div block="two-way-switch" mods="compare-crtl">
			<input elem="ctrl" type="checkbox">
			<div elem="fake"></div>
			<div elem="label">Только отличия</div>
			<div elem="label">Сравнить все  характеристики</div>
		</div><!-- b:two-way-switch -->
		<a href="#">Очистить все</a>
	</div>
	<div elem="content">
		<div elem="features">
			{% include 'compare-features.html' %}
		</div>
		<div elem="products">
			{% include 'compare-products-list.html' %}
		</div>
	</div>
	<div elem="foot">
		{% include 'copy-compare-link.html' %}
	</div>
</div><!-- b:compare-table -->
