<div block="cart-payment-methods">
	<div elem="title">Выберите способ оплаты</div>
	<div elem="choose">
		{% include 'new-cart-form-payment-radio.html' %}
	</div>
</div><!-- b:cart-payment-methods -->
