<div block="pickup-scroll" mods="{{pickupScrollMods}}">
	<div elem="inner">
		<div elem="title">
			Как добраться
		</div>	
		<div elem="links">
			<div elem="link-wrap">
				<a elem="link" href="#" data-scroll="how-get-car" class="_js-scroll-to-block">
					На автомобиле
				</a>
			</div>
			<div elem="link-wrap">
				<a elem="link" href="#" data-scroll="how-get-public" class="_js-scroll-to-block">
					На общественном транспорте
				</a>
			</div>
		</div>
	</div>
</div><!-- b:pickup-scroll -->