<div block="b-sorting">
	<div elem="container">
		<div block="sort-by">
			<span elem="title-container"><span elem="title">Сортировать по:</span><span elem="arrow"></span></span>
			<div elem="container">
				<a href="#" elem="item" class="_js_sort_item is-active">По возрастанию цены</a>
				<a href="#" elem="item" class="_js_sort_item">По убыванию цены</a>
				<a href="#" elem="item" class="_js_sort_item">По популярности</a>
			</div>
		</div>
		<div elem="view">
			<span>Показывать:</span>
			<a href="#" style="display: none;"><icon name="view-hz" tag="span"></a>
			<a href="/catalog-price-list.html"{% if layout.list == true %} class="is-active"{% endif %}><icon name="view-list" tag="span"></a>
			<a href="/catalog-simple.html"{% if layout.simple == true %} class="is-active"{% endif %}><icon name="view-simple" tag="span"></a>
			<a href="/catalog.html"{% if layout.thumbs == true %} class="is-active"{% endif %}><icon name="view-thumbs" tag="span"></a>
		</div>
	</div>
	<div elem="items">
		<a href="#">Электронные</a>
		<a href="#">Механические</a>
		<a href="#">С поверкой</a>
		<a href="#">Госреестр</a>
		<a href="#">ШЦ-1</a>
		<a href="#">ШЦ-2</a>
		<a href="#">ШЦ-3</a>
	</div>
	<div elem="price">
		<span>Цена деления:</span>
		<a href="#">0,01</a>
		<a href="#">0,02</a>
		<a href="#">0,03</a>
		<a href="#">0,04</a>
		<a href="#">0,05</a>
		<a href="#">0,1</a>
	</div>
</div>