.b-sorting
    margin-bottom 25px
    letter-spacing normal
    &__items
        display flex
        flex-wrap wrap
        line-height normal
        margin-bottom 19px
        
        a 
            margin-right 8px
            margin-bottom 8px
            padding 9px 12px
            font-size 13px
            color #084D6B
            border-radius 60px
            background #B1E5FC
            text-align center
            text-decoration none
            transition all .3s ease
            &:hover,
            &.is-active
                background #084D6B
                color #fff
                
            
    &__container        
        display flex
        justify-content space-between
        align-items center
        margin-bottom 30px
    &__price
        padding-left 3px
        display flex
        align-items center
        font-size 14px
        span 
            margin-right 14px
            color #232F36
        a   
            margin-right 14px
    &__view 
        display flex
        align-items center
        span 
            font-size 13px
            color #3F505B
            margin-right 10px
        a 
            width 24px  
            height 24px
            svg 
                fill #B7C2C9
                
            &:hover,
            &.is-active
                svg 
                    fill #3C4858
                    
            &.is-active     
                cursor auto  

    @media (max-width 1023px) 
        &__sort-by
            span,
            a 
                margin-right 6px
    
.sort-by
    margin-bottom 0
    display flex
    align-items center
    font-size 13px
    color #3F505B
    &__title-container,
    a
        margin-right 14px
    a
        color #3F505B
        &:hover,
        &.is-active
            color #d00000
            text-decoration none
    &__arrow         
        display none
        width 10px
        height 15px
        position absolute
        right 20px
        top 50%
        margin-top -7px
        &:before,
        &:after
            content ""
            position absolute
            border 5px solid transparent
            left 0
        &:before
            top -5px
            border-bottom 5px solid $colorAccent
        &:after
            bottom -5px
            border-top 5px solid $colorAccent

.filter-sorting-wrapper 
    display none     
    &__button
        padding-left 5px      
        padding-right 5px      
    .sort-by
        width 49.5%
        display block
        margin-bottom 0
        position relative
        &__title-container
            
            display block
            text-align center
            height 48px
            background #EFF4F8
            border 1px solid #B7C2C9
            border-radius 2px
            font-size 14px
            padding 12px 0
            color #232F36
            margin-right 0
        &__container    
            position absolute
            left 0
            top 100%
            right 0
            margin-top 3px
            margin-top 3px
            background #fafafa
            box-shadow 0px 2px 2px rgba(0,0,0,0.24), 0px 0px 2px rgba(0,0,0,0.12)
            display none
            a 
                display block 
                margin-right 0
                text-decoration none
                padding 10px 15px
                line-height normal
                border-top 1px solid #b7c2c9
                color #3f505b
                &:hover
                    background #EFF4F8
                &:first-child
                    border 0
        &__arrow    
            display block


        &.opened    
            .sort-by__container
                display block
        

@media (max-width 1023px)
    .b-sorting
        &__container
            display none
            
    .filter-sorting-wrapper
        display flex
        justify-content space-between
        margin-bottom 45px
        &__filter-container
            position relative
            width 49.5%
        &__button
            width 100%
            padding-top 17px
            padding-bottom 14px
            position relative
            height 48px
            
        .pr-total        
            display inline-block
            vertical-align middle
            width 22px
            height 22px
            background #EFF4F8
            border-radius 100px
            text-align center
            line-height 23px
            color #2577D7
            font-weight 500
            font-size 13px
            margin-left 16px
            margin-top -3px
            display none
            letter-spacing -0.6px
            text-indent -2px
            &.show 
                display inline-block
            
    .b-sorting
        &__items
            display block
            white-space nowrap
            overflow-x auto
            margin-right -16px
            margin-left -16px
            padding-left 16px
            padding-right 6px
            a 
                margin-right 10px
                display inline-block

@media (max-width 768px) 
            
    .filter-sorting-wrapper
        .sort-by
            &__title-container
                padding-right 32px

@media (max-width 480px)
    .filter-sorting-wrapper 
        .sort-by
            &__title-container
                padding-right 22px
        .pr-total
            margin-left 7px        
    .sort-by
        &__arrow
            right 9px

@media (max-width 360px)
    .filter-sorting-wrapper 
        .sort-by
            &__title-container    
                font-size 12px
    .b-sorting
        &__price 
            padding-left 0
            span            
                font-size 14px
                margin-right 10px
            a 
                margin-right 6px    
                letter-spacing -0.5px
        &__items 
            a
                font-size 12px
                padding-top 5px
                padding-bottom 5px
                margin-right 4px
        