<div block="b-professionals">
	<div elem="title">Выберите вашего персонального менеджера</div>
	<div elem="text">
		Выберите менеджера и именно он свяжется с вами, если вы закажете обратный звонок или отправите нам заявку, 
		проверит есть ли товар в наличии, поможет вам выбрать именно то, что вам нужно и ответит на все вопросы.  
	</div>
	<div elem="container">
		<div elem="item">
			<div elem="item-image"><img src="img/pr-pic1.jpg" alt=""/></div>
			<div elem="item-name"><span>Сергей<span style="width: 0%;"></span></span></div>
			<div elem="item-info">
				<div elem="item-info-top">
					<div elem="item-image"><img src="img/pr-pic1.jpg" alt=""/></div>
					<div elem="item-name">Сергей</div>
					<div elem="item-text">Знает все о...</div>
					<div elem="info-list">					
						<div elem="info-list-item">Электроинструментах</div>
						<div elem="info-list-item">Нониусных штангенциркулях</div>
						<div elem="info-list-item">Молотках</div>
					</div>	
				</div>
				<div elem="item-info-bot">
					<a elem="wrie" href="#modal2"><img src="/img/mail-icon2.svg" alt="">НАПИСАТЬ</a>
					<a elem="call" href="#modal1"><icon name="phone-icon" tag="span">ПОЗВОНИТЬ</a>
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-image"><img src="img/pr-pic2.jpg" alt=""/></div>
			<div elem="item-name"><span>Максим<span style="width: 27%;"></span></span></div>
			<div elem="item-info">
				<div elem="item-info-top">
					<div elem="item-image"><img src="img/pr-pic2.jpg" alt=""/></div>
					<div elem="item-name">Максим</div>
					<div elem="item-text">Знает все о...</div>
					<div elem="info-list">					
						<div elem="info-list-item">Электроинструментах</div>
						<div elem="info-list-item">Нониусных штангенциркулях</div>
						<div elem="info-list-item">Молотках</div>
					</div>	
				</div>
				<div elem="item-info-bot">
					<a elem="wrie" href="#modal2"><img src="/img/mail-icon2.svg" alt="">НАПИСАТЬ</a>
					<a elem="call" href="#modal1"><icon name="phone-icon" tag="span">ПОЗВОНИТЬ</a>
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-image"><img src="img/pr-pic3.jpg" alt=""/></div>
			<div elem="item-name"><span>Елена<span style="width: 50%;"></span></span></div>
			<div elem="item-info">
				<div elem="item-info-top">
					<div elem="item-image"><img src="img/pr-pic3.jpg" alt=""/></div>
					<div elem="item-name">Елена</div>
					<div elem="item-text">Знает все о...</div>
					<div elem="info-list">					
						<div elem="info-list-item">Электроинструментах</div>
						<div elem="info-list-item">Нониусных штангенциркулях</div>
						<div elem="info-list-item">Молотках</div>
					</div>	
				</div>
				<div elem="item-info-bot">
					<a elem="wrie" href="#modal2"><img src="/img/mail-icon2.svg" alt="">НАПИСАТЬ</a>
					<a elem="call" href="#modal1"><icon name="phone-icon" tag="span">ПОЗВОНИТЬ</a>
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-image"><img src="img/pr-pic4.jpg" alt=""/></div>
			<div elem="item-name"><span>Александр<span style="width: 100%;"></span></span></div>
			<div elem="item-info">
				<div elem="item-info-top">
					<div elem="item-image"><img src="img/pr-pic4.jpg" alt=""/></div>
					<div elem="item-name">Александр</div>
					<div elem="item-text">Знает все о...</div>
					<div elem="info-list">					
						<div elem="info-list-item">Электроинструментах</div>
						<div elem="info-list-item">Нониусных штангенциркулях</div>
						<div elem="info-list-item">Молотках</div>
					</div>	
				</div>
				<div elem="item-info-bot">
					<a elem="wrie" href="#modal2"><img src="/img/mail-icon2.svg" alt="">НАПИСАТЬ</a>
					<a elem="call" href="#modal1"><icon name="phone-icon" tag="span">ПОЗВОНИТЬ</a>
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-image"><img src="img/pr-pic5.jpg" alt=""/></div>
			<div elem="item-name"><span>Светлана<span style="width: 80%;"></span></span></div>
			<div elem="item-info">
				<div elem="item-info-top">
					<div elem="item-image"><img src="img/pr-pic5.jpg" alt=""/></div>
					<div elem="item-name">Сергей</div>
					<div elem="item-text">Знает все о...</div>
					<div elem="info-list">					
						<div elem="info-list-item">Электроинструментах</div>
						<div elem="info-list-item">Нониусных штангенциркулях</div>
						<div elem="info-list-item">Молотках</div>
					</div>	
				</div>
				<div elem="item-info-bot">
					<a elem="wrie" href="#modal2"><img src="/img/mail-icon2.svg" alt="">НАПИСАТЬ</a>
					<a elem="call" href="#modal1"><icon name="phone-icon" tag="span">ПОЗВОНИТЬ</a>
				</div>
			</div>
		</div>
	</div>
</div>