.b-professionals
    text-align center
    margin-bottom 100px
    &__title
        font-size 38px
        color #232F36
        font-weight 500
        margin-bottom 25px
    &__text
        font-size 16px
        margin-bottom 30px
        padding 0 164px
        
    &__container
        display flex
    
    &__item
        position relative
        width 25%
        cursor pointer
        &:hover
            & ^[0]
                &__item-info
                    opacity 1
                    visibility visible
            
    &__item-image   
        margin-bottom 16px
        img 
            width 100%
            max-width 181px
            border-radius 500px
            
    &__item-name  
        span 
            position relative
            span 
                display none
                position absolute
                left 0
                bottom -6px
                height 6px
                background #D00000
                padding 0
                border 0
                min-width 0
            
    &__item-info
        position absolute
        left 50%
        top 0
        transform translateX(-50%) 
        width 281px
        text-align left
        background #F7F9FA
        border-radius 3px
        opacity 0
        visibility hidden
        transition all .3s ease
        
    &__item-info-top
        padding 24px 13px 24px 18px
        font-size 11px
        &:after
            content ""
            display block
            clear both
        & ^[0]
            &__item-name
                font-size 15px
                font-weight 600
                margin-bottom 0             
                color #232F36
            &__item-image
                width 50%
                float right
                max-width 140px
                

                
    &__item-text
        margin-bottom 16px
        
    &__info-list
        border-left 0.5px solid rgba(0, 0, 0, 0.15)
        padding 10px 10px 10px 0
        float left
        width 50%
        
    &__info-list-item
        padding-left 8px
        position relative
        line-height 11px
        margin-bottom 13px
        &:last-child
            margin-bottom 0
        &:after
            content ""
            position absolute
            width 4px
            height 4px
            border-radius 50px
            background #009688
            left -2.2px
            top 3px
            
    &__item-info-bot    
        padding 22px 25px 18px
        border-top 1px solid rgba(0, 0, 0, 0.12)
        border-bottom 1px solid rgba(0, 0, 0, 0.06)
        display flex
        justify-content space-between
        a 
            line-height 16px
            font-size 13px
            text-transform uppercase
            font-weight 500
            text-decoration none
            letter-spacing 0.0384615em
            display flex
            align-items center
            
    &__wrie 
        img
            width 21px
            height 16px
            margin-right 15px
            
    &__call    
        .svg-icon
            margin-top -2px
            margin-right 11px
            fill #2577D7
            width 20px
            height 20px

    @media (max-width 1023px) 
        text-align left
        &__title
            font-size 20px
            text-align center
        &__text
            font-size 14px
            text-align center
            margin-bottom 47px
            padding 0 27px
        &__container
            display block
        &__item    
            padding 23px 20px 23px 37px
            width auto
            margin-bottom 23px
            background #F8F9FA
            display flex
            align-items center
        &__item-image
            width 78px
            height 78px
            min-width 78px
            min-height 78px
            margin 0 9% 0 0
        &__item-name
            font-size 20px
            color rgba(0, 0, 0, 0.87)
            width 30%
            min-width 120px
            span
                text-align left
                display inline-block
                padding-bottom 4px
                min-width 100px
                border-bottom 6px solid #45B700

        &__item-info
            position relative
            left auto
            top auto
            width auto
            display block
            opacity 1
            visibility visible
            transform translateX(0) 
            margin-left 20px
            width 60%
            // min-width 320px
        &__item-info-top
            display none
            
        &__item-info-bot
            border 0
            border-left 1px solid rgba(0, 0, 0, 0.12)
            height 96px
            margin-left 0
            padding-left 8.5%
            flex 1
            justify-content space-around
            
    @media (max-width 640px) 
        margin-bottom 34px
        &__title,
        &__text
            text-align left
        &__text
            padding 0
        &__title
            margin-bottom 16px
        &__container    
            margin-left -8px
            margin-right -8px
        &__item
            flex-wrap wrap   
            padding 21px 10px 23px 8px 
            align-items flex-start
            border-bottom 1px solid rgba(0,0,0,0.05)
            margin-bottom 6px
        &__item-name
            padding-top 5px
            span 
                padding-bottom 8px
                span 
                    display block
        &__item-image    
            margin-right 21px
            width 70px
            min-width 70px
            height 70px
            min-height 70px
        &__item-info
            width 100%
            margin-left 92px
            margin-top -20px
            min-width 0
        &__item-info-bot
            padding 13px 0 0 10px
            height auto
            border-left 0
            border-top 1px solid rgba(0, 0, 0, 0.12)
            justify-content flex-start
            a 
                margin-right 30px
        &__wrie
            img    
                min-width 16px
                width 16px
                height 10px
                margin-right 5px
                margin-top -4px
        &__call
            margin-right 0
            .svg-icon
                min-width 15px
                margin-top -4px
                width 15px
                height 15px

    @media (max-width 359px)
        &__item-image
            margin-right 15px
        &__item-info    
            margin-left 85px
        &__item-info-bot
            padding-left 0
        &__wrie 
            .svg-icon
                margin-right 7px
        &__call 
            .svg-icon
                margin-right 5px
    