.product-list
    
    &--thumbs4,
    &--thumbs
        margin-left -32px
        margin-bottom 40px
        display flex
        flex-wrap wrap
        &.main 
            .product-item
                padding-top 0
                &__in 
                    padding-top 0
                    
                    
        .product-item
            &__in-stock
                display none
            &__labels    
                display none
            &__rating    
                display none
    &.inner                
        margin-bottom 20px
    &.hide
        opacity 0
        visibility hidden
    &--simple
        .product-item
            width auto
            padding 16px 0 0 0
            margin-bottom 0
            border-top 1px solid #B7C2C9
            &:first-child
                padding-top 30px
                
            &__in 
                padding 0 
                flex-direction row
                align-items flex-end
                padding 15px 24px 32px 11px
                margin-bottom -1px
                margin-right -24px
                width auto
                flex 1
                background none
                &:hover
                    background #fff 
                  
            &__labels      
                position relative
                bottom auto
                top 0
                margin-bottom 10px
                
            &__first    
                width 200px
                margin-right 25px
                height 100%
                display flex                    
                // align-items center
                flex-direction column
                
            &__image      
                background none
                margin-bottom 0
                
            &__params
                margin-bottom 0
                
            &__middle
                max-width 293px
                padding-top 10px
                
            &__code    
                margin-right 25px
                float none
                line-height 1
                
            &__middle-top    
                display flex
                align-items center
                margin-bottom 22px
            &__over-heading
                font-family "Roboto"
                font-size 14px
                margin-bottom 2px
            &__name    
                letter-spacing -0.005em
                
            &__last    
                margin-left auto
                width 245px
                height 100%
                display flex
                flex-direction column
                justify-content flex-end
                
            &__compare    
                top 12px
                right 23px
                svg 
                    fill #B7C2C9
                
            &__params    
                width auto 
                min-width 240px
                
            &__param-item
                &:last-child
                    div 
                        border-bottom 0
            
            &__price-container
                font-size 20px

            &.selected  
                & ^[0]    
                    &__compare
                        svg
                            fill #4c728b
                    

    &--price-list
        display table
        width 100%
        border-top 1px solid #B7C2C9
        &:before
            content ""
            display table-row
            height 40px
        .product-item
            width auto
            display table-row
            &:first-child
                > div 
                    border 0


            &__first,
            &__middle,
            &__image,
            &__in-stock,
            &__price-container,
            &__last                
                display table-cell
                vertical-align middle
                border-top 1px solid #B7C2C9
                
            &__first    
                padding-left 20px
                padding-top 9px
                max-width 55px
                
            &__code    
                font-size 0
                span 
                    font-size 12px
            &__labels
                top 50%
                margin-top -15px
                left -70px
                justify-content flex-end
                width 64px
                bottom auto
            &__label
                margin-right 5px
                &:last-child 
                    margin-right 0
                &.rst
                    padding 0
                    width 30px
                    height 30px
                    font-size 0
                    text-align center
                    display block
                    line-height 28px
                    span 
                        margin 0
                        display inline
                        height auto
                        
            &__middle            
                padding-top 11px
                padding-bottom 11px
            &__over-heading    
                font-size 14px
                margin-bottom 0
                font-family "Roboto"
            &__name
                margin-bottom 0
            &__in-stock
                font-size 0
                padding-left 0
                white-space nowrap
                text-align right
                padding-right 20px
                padding-left 40px
                max-width 32px
                width 106px
                &:after
                    display none
                span 
                    font-size 12px
                    
            &__params,        
            &__rating,
            &__compare,
            &__price-old                
                display none
                
            &__image    
                background none
                width 57px
                min-width 57px
                text-align right
                
            &__price-container   
                text-align center
                padding-top 4px   
                padding-right 20px      
                width 1px
                min-width 108px
                strong,
                span
                    display block
                strong
                    margin-bottom 2px
                span
                    padding-left 0
                    font-size 11px
                
                &.has-old-price
                    .product-item__price
                        margin-right 0
            &__price
                font-size 14px
                color #C33F3F
                white-space nowrap
            &__price-old
                white-space nowrap
                
            &__last
                max-width 22px
                width 46px
                padding-right 25px
            &__button    
                font-size 0
                padding 0
                box-shadow none
                width 22px
                height 20px
                min-width 0
                background url(../img/cart-btn-ico.svg) center center no-repeat

    @media (max-width 1400px)
        &--price-list
            .product-item
                &__first
                    padding-left 0
                    white-space nowrap
                    width 127px
                    min-width 70px
                    padding-right 25px
                &__labels
                    position relative
                    left 0
                    margin-top 0
                &__code    
                    font-size 12px
                    
       
    @media (max-width 1023px)
        &--thumbs4,
        &--thumbs
            margin-left -17px
            margin-bottom 47px
            .product-item
                &:nth-child(3n + 1)
                    &:after
                        left 17px
        &.main 
            .product-item
                margin-bottom 36px
                &__compare
                    display none
                &__middle
                    padding 0
                    display flex
                    flex-direction column-reverse
                    justify-content flex-end
                &__name    
                    min-height 0
                    margin-bottom 0
                    
                &__over-heading
                    margin-bottom 9px
                    font-size 12px
                    
                &__price-container    
                    min-height 0
                    margin-bottom 20px
                &__button    
                    padding 11px 15px 8px 
                &__price-container
                    font-size 16px
                &__price 
                    span
                        display none
        &.inner                
            .product-item
                &__in 
                    &:hover
                        box-shadow none
                &:nth-child(3n + 1)
                    &:after                            
                        left 17px
                        
        &--simple
            .product-item
                border 0
                position relative
                margin-bottom 25px
                padding-top 2px
                &:after
                    content ""
                    display block
                    width auto
                    position absolute
                    top 0
                    height 1px
                    background #E1E3E6
                    left -40px
                    right -40px
                    
                &:first-child    
                    padding-top 2px
                    
                &:nth-child(3n + 1)
                    &:after    
                        left -40px
                &__in        
                    margin-right 0
                    padding 0
                &__compare
                    top 6px
                    right -15px
                &__label 
                    &.rst
                        width 30px
                        height 30px
                        font-size 0
                        padding 0
                        justify-content center
                        span 
                            margin 0
                            height auto

                &__middle
                    padding-top 15px
                &__middle-top
                    margin-bottom 29px
                    
                &__param-name,
                &__param-value    
                    border-bottom 0
                    
                &__rating    
                    margin-bottom 20px
                    
            &.inner
                .product-item 
                    &:nth-child(3n + 1)
                        &:after    
                            left -40px    
            
        &--price-list
            .product-item
                &__in-stock
                    padding-left 20px
                    width 87px
                &__price-container    
                    min-width 80px
        .b-amount
            margin-left 6px
    @media (max-width 780px) 
        &--simple
            .product-item
                &__first
                    width 145px
                    margin-right 20px
                &__over-heading    
                    font-size 12px
                &__name          
                    font-size 14px
                &__last    
                    min-width 150px
                    width auto
                &__min-purchase
                    display none
    @media (max-width 745px)
        .product-item
            &.in-cart
                .product-item__button
                    display none
    @media (max-width 640px)   
        &.main,
        &.complementary  
            .product-item
                width 50%
                &--first
                    width 100%
                &__image 
                    img
                        width auto
        &.complementary 
            .product-item
                &:after
                    display none
        
        &--thumbs4,
        &--thumbs                    
            .product-item
                width 50%
                &:nth-child(3n + 1)
                    &:after
                        left 0
                &:nth-child(2n + 1)
                    &:after
                        left 18px
        &--simple          
            margin-left -16px       
            margin-right -16px       
            .product-item
                display block
                margin-bottom 0
                &:after
                    left 0px
                    right 0px
                &__in 
                    flex-wrap wrap    
                    align-items flex-start
                &__first
                    width 47%   
                    padding-left 16px 
                    margin-right 0
                    padding-right 20px
                &__code
                    margin-right 15px
                    color #91A2AE    
                &__middle-top    
                    margin-bottom 13px
                &__reviews    
                    display block
                &__middle
                    width 53%
                    max-width 100%
                    padding-right 10px
                &__in-stock    
                    display none
                &__labels    
                    margin-top 10px
                &__name    
                    margin-bottom 3px
                &__last 
                    width 100%
                &__rating    
                    display none
                &__last 
                    display flex
                    flex-direction row    
                    align-items center
                    justify-content flex-start                    
                    margin-top 14px
                    background #FAFAFA
                    padding-top 6px
                    padding-bottom 6px
                    margin-left 0
                    margin-right 0
                &__compare    
                    display none
                &__params    
                    display block
                    min-width 0
                &__param-item    
                    display block
                &__param-name    
                    padding-right 2px
                    vertical-align middle
                    &:after
                        content " /"
                &__param-value
                    vertical-align middle
                        
                &__price-container    
                    margin-bottom 0
                    min-height 0              
                    width 50%      
                    padding-left 0
                    padding-right 10px
                    padding-left 10px
                    flex-direction column 
                    align-items center
                    font-size 16px
                    strong,
                    span 
                        display inline
                    strong
                        margin-right 7px
                    &.has-old-price 
                        .product-item__price    
                            margin-right 0
                            
                &__last-bot    
                    width 50%
                    padding 0 10px
                    border-left 1px solid #B7C2C9
                    justify-content center
                .b-amount    
                    // display flex
                    border 0
                    // width 95px
                    width 115px
                &__price  
                    margin-right 0
                    text-align center
                &__price-old
                    display block    
                &__button
                    padding 0    
                    background url(../img/cart-btn-ico-smal.svg) 0 center no-repeat
                    box-shadow none
                    color #D00000
                    font-size 13px
                    height 38px
                    min-width 0
                    padding 5px 1px 5px 24px
                    
                &.in-cart    
                    .product-item__min-purchase
                        display none
                    
                   
    // @media (max-width 768px)                     
                    
                        
    @media (max-width 480px)
        &--thumbs4,
        &--thumbs
            // margin-left 0
            .product-item
                // padding-left 0
                &:after
                    left 0
                     
    @media (max-width 320px)                 
        &--simple
            .product-item
                &__first
                    width 125px                    
                    padding-right 9px
                    
                    

.produc-list-title
    font-size 26px
    font-weight 500
    color #232F36
    padding-bottom 18px
    position relative
    &:after
        content ""
        position absolute
        left 0
        bottom -1px
        width 72px    
        height 2px
        background #2577D7
    @media (max-width 1023px)     
        font-size 20px
        padding-bottom 0
        &:after
            display none

.b-aplication
    background #CBE4FD
    display flex
    align-items center
    padding 15px 64px 15px 20px
    margin-bottom 32px
    &__text
        flex 1
        text-align center
        font-size 14px
        color #094281
        line-height normal
        padding-top 2px
        padding-right 20px
    &__button
        font-size 13px
        color #094281
        text-transform uppercase
        border 1px solid #094281
        border-radius 2px
        text-align center
        text-decoration none
        font-weight 500
        padding 11px 18px 10px
        line-height 1
        letter-spacing normal
        transition all .3s ease
        &:hover
            background #232f36
            color #fff
            border-color #232f36
        
    @media (max-width 1023px) 
        display none

.see-more        
    display flex
    text-align center
    display block
    padding 13px 15px 9px
    margin-bottom 35px
    font-weight 500
    line-height 24px
    font-size 14px
    text-transform uppercase
    text-decoration none
    color #3C4858
    letter-spacing 1px
    border 1px solid #B7C2C9
    border-radius 2px
    background #fff
    transition all .3s ease
    &:hover
        background #f3f2f2
    /*    
    &--pricelist
        .product-item
                display table-row            
                width auto
                padding 0
                margin-bottom 0
                padding 11px 0 11px 0
                position relative
                
                &:first-child
                    padding-top 40px

                &__container,
                &__image,
                &__in-stock,
                &__last-bot
                    display table-cell
                    vertical-align middle
                    border-top 1px solid #B7C2C9

                &__labels
                    top 50%
                    margin-top -15px
                    left -70px
                    justify-content flex-end
                    width 64px
                    bottom auto
                &__label
                    margin-right 5px
                    &:last-child 
                        margin-right 0
                    &.rst
                        padding 0
                        width 30px
                        height 30px
                        font-size 0
                        text-align center
                        display block
                        line-height 28px
                        span 
                            margin 0
                            display inline
                            height auto
                            
                &__container
                    padding-top 11px
                    padding-bottom 11px
                    
                    &.first 
                        padding-left 20px
                        padding-right 20px
                        max-width 64px
                        position relative
                        
                    &.name 
                        width 50%            

                    &.price    
                        width auto
                        white-space nowrap
                        padding-left 20px
                     
                &__code
                    margin-right 43px
                    font-size 0
                    line-height 1
                    float none
                    span 
                        font-size 12px
                    

                &__over-heading
                    font-size 14px
                    font-family roboto
                    
                &__middle
                    flex none
                    
                &__image            
                    background none
                    min-width 57px
                    margin-bottom 0
                    width auto
                    text-align right
                    img 
                        max-width 57px
                &__name        
                    margin-bottom 0

                &__last
                    display flex
                    align-items center
                    
                &__in-stock    
                    padding-left 0
                    text-align right
                    padding-right 0
                    max-width 41px
                    letter-spacing normal
                    white-space nowrap
                    &:after
                        display none
                        
                &__price-container
                    font-size 14px
                    text-align center
                    margin-bottom 0
                    display flex
                    align-items center
                    justify-content center
                    strong,
                    span
                        padding-left 0
                        display block
          
                &__price        
                    color #C33F3F
                    padding-top 5px
                    strong 
                        margin-bottom 3px
                &__last-bot
                    padding-right 30px
                    padding-left 10px
                    width 22px
                &__button
                    width 22px
                    height 20px
                    font-size 0
                    padding 0
                    min-width 0
                    border-radius 0
                    box-shadow none
                    background url(../img/cart-btn-ico.svg) center center no-repeat
                                
    @media (max-width 768px)                     
        &--price-list  
            .product-item      
                &__container
                    &.first
                        padding-left 0
                        
                &__image
                    img 
                        width 100%   
                         
                &__last-bot
                    padding-right 0
    */