<div block="product-list" mods="{{listType}}" class="{{listClass}} inner hide">
	{% include 'product-item.html' %}	
</div>
{% if layout.list == true %}
<div block="b-aplication">
	<div elem="text">Слишком длинный список? Не тратьте время, просто отправьте нам заявку на свои закупки!</div>	
	<a elem="button" href="#modal2">Отправить заявку</a>
</div>
{% endif %}
<a href="#" class="see-more">Загрузить еще 50</a>