<div block="product-list" mods="thumbs" class="main">
	{% for item in productMain2 %}
	<form block="product-item" class="_js_product-item" action="#">
		<a elem="in" href="#">
			<div elem="first">
				<div elem="compare" class="_js_add_to_compare" href="#" title="Добавить к сравнению"><icon name="compare-icon" tag="span"></div>
				<div elem="image">
					<img src="img/{{item.image}}" alt="">
				</div>
			</div>
			<div elem="middle">
				<div elem="over-heading">Построитель лазерныхплоскостей</div>
				<div elem="name">{{item.name}}</div>
			</div>
			<div elem="last">
				<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
					<div elem="price"><strong>{{item.price}} ₽</strong><span>без НДС</span></div>
					{% if item.priceOld != "" %}
					<div elem="price-old"><strong>{{item.priceOld}} ₽</strong><span>без НДС</span></div>
					{% endif %}
				</div>
				<div elem="last-bot">
					<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
					<div block="b-amount">
						<button elem="button" class="minus disabled"></button>
						<input type="text" elem="number" data-min="{% if item.minPurchase == true %}12{% else %}1{% endif %}" value="{% if item.minPurchase == true %}12{% else %}1{% endif %}">
						<button elem="button" class="plus"></button>
					</div>
				</div>
			</div>
			<div elem="popup" style="display: none">
				<div elem="popup-l">
					<div elem="over-heading">Построитель лазерныхплоскостей</div>
					<div elem="name">{{item.name}}</div>
					<div elem="params">
						<div>500 м³/час л/мин</div>
						<div>140 бар</div>
						<div>2 кВт</div>
					</div>
					<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
						<div elem="price"><strong>{{item.price}} ₽</strong></div>
						{% if item.priceOld != "" %}
						<div elem="price-old"><strong>{{item.priceOld}} ₽</strong></div>
						{% endif %}
					</div>
					<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
				</div>
				<div elem="image">
					<img src="img/{{item.image}}" alt="">
				</div>
			</div>
		</a>	
	</form>
	{% endfor %}
</div>