.c-mobile-buttons
	padding-left 40px
	padding-right 40px	
	flex none
	display flex
	justify-content space-between
	margin-bottom 26px
	display none
	&__button
		width 48.9%
		padding-top 17px
		padding-bottom 14px
		
	@media (max-width 1023px) 	
		display flex
		
	@media (max-width 640px) 	
		padding-left 16px
		padding-right 16px
		display block
		margin-bottom 0
		&__button
			width auto
			display block
			margin-bottom 12px