.icons-block
	margin-bottom 40px
	&__title
		text-align center
		font-size 32px
		color #232F36
		font-weight 600
		margin-bottom 90px
	&__container	
		display flex
		flex-wrap wrap
	&__item	
		width 25%
		text-align center
		margin-bottom 33px
		padding-left 25px
		padding-right 25px

	&__icon
		height 58px
		margin-bottom 10px
		display flex
		justify-content center
		align-items flex-end
		
	&__text
		font-size 16px
		line-height 24px
		color #3C4858
		
	@media (max-width 1023px) 	
		margin-bottom 20px
		&__container
			justify-content space-evenly
			
		&__title
			font-size 20px
			line-height 24px
			margin-bottom 37px
			
		&__item	
			width 33.333%
			padding-left 0
			padding-right 0
			margin-bottom 48px
			
	@media (max-width 640px) 	
	
		&__container
			display block
		&__item	
			text-align left
			width auto
			display flex
			align-items center
			margin-bottom 35px
		&__icon
			width 58px
			min-width 58px
			max-width 58px
			margin-right 27px
			height 58px
			margin-bottom 0
		&__text
			br 
				display none
				
	&--landing
		margin-bottom 0
		
		@media (max-width: 480px)
			background-color #F4F8FA
		
		.icons-block
			
			&__inner
				max-width 906px
				width 100%
				margin 0 auto
				padding 30px 20px 80px
				
			&__title
				margin-bottom 50px
				position relative
				padding-bottom 17px
				font-weight 400
				
				&:before
					content ""
					position absolute
					bottom 0
					height 3px
					width 64px
					left 50%
					transform translateX(-50%)
					background-color #2577d7
				
			&__icon
				justify-content flex-start
					
				
			&__item
				padding-left 0
				padding-right 10px
				text-align left
				margin-bottom 60px
				
			&__button
				text-align center
				
				.s-button
					height 75px
					max-width 306px
					width 100%
					line-height 75px
					padding 0
					font-size 16px
					font-weight 700
					
			@media (max-width: 1023px)
				
				&__inner
					padding 40px 20px 54px					
					
				&__title
					padding-bottom 10px
					margin-bottom 50px
					
					&:before
						height 2px
						
				&__icon
					justify-content center
					
				&__item
					text-align center
					margin-bottom 40px
					padding-right 0
						
				&__button
					.s-button
						height 64px
						line-height 64px
						
			@media (max-width: 640px)
				
				&__inner
					padding 45px 15px 70px
					
				&__item
					width 50%
					padding-left 5px
					padding-right 5px
					display block
					
				&__container
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					
				&__title
					font-weight 500
					
				&__icon
					margin 0 auto
					
				&__text
					margin-top 18px
					
				&__button
					.s-button
						max-width 320px
						height 48px
						line-height 48px
						font-size 14px
						
		@media (max-width: 1023px)
			margin-bottom 0