<div block="icons-block">
	<div elem="title">Преимущества работы с нами</div>
	<div elem="container">
		{% for item in iconsBlock %}
		<div elem="item">
			<div elem="icon"><img src="img/{{item.icon}}" alt=""></div>
			<div elem="text">{{item.text}}</div>
		</div>
		{% endfor %}
	</div>
</div>