@require 'components/_variables';
@require 'components/_functions';
@require 'components/content';
@require 'components/iconizer';
@require 'components/wordpress';

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade
    margin : $appGutter 0
    background : #ccc
    color : #000
    padding : $appGutter 0

.demo-box
    background-color : #009688
    color #fff
    text-align : center
    padding : $appGutter

.theme-color
    color : $colors.primary

.theme-bgc
    background-color : $colors.primary
    // color который норм смотрится на фоне основного цвета

.cart-table-slide
  margin-top 32px
  width 100%
  text-align center
  border-top 1px solid #cfcfcf
  cursor pointer

  &__ctrl
    margin-top -32px
    display inline-block
    vertical-align top
    width 62px
    height 62px
    background-color #fff
    padding 10px
    border-radius 50%
    border 1px solid #cfcfcf
    border-color #fff #cfcfcf #cfcfcf #fff
    transform rotate(45deg)

    .arrow-curcle-btn
      transform rotate(-45deg)
      transition transform .3s linear

  @media (min-width: 760px)
    margin-top 42px

  @media (min-width: 1140px)
    display none



.arrow-curcle-btn
  border-radius 50%
  border 0.5px solid #232F36
  width 40px
  height 40px
  display inline-block
  vertical-align top
  background #fff url('../img/cart-table-hide.svg') center center no-repeat

  &:focus,
  &:hover
    background-color darken(#fff, 5%)

  &:active
    background-color darken(#fff, 10%)

@require '../_blocks/**/*.styl';
