<div block="b-categor-filter">
	<div elem="title">Сфера применения:</div><!-- e:title -->
	<div elem="body">
		<a elem="item" href="#" data-filter="all">Все сферы</a><!-- e:item -->
		<a elem="item" href="#industry" data-filter="industry">Для промышленности</a><!-- e:item -->
		<a elem="item" href="#construction" data-filter="construction">Для строительства</a><!-- e:item -->
		<a elem="item" href="#repair" data-filter="repair">Для ремонта</a><!-- e:item -->
	</div><!-- e:body -->
</div><!-- b:categor-filter -->