.b-categor-filter
    display flex
    margin-bottom 60px
    font-size 16px
    line-height 1
    
    &__title
        color #232F36
        flex 0 0 auto
        margin-right 40px
    
    &__item
        display inline-block
        vertical-align top
        text-decoration none
        color #0F8EC7
        margin-right 25px
        
        &:last-child
            margin-right 0
        
        &.active,
        &:hover
            color #D00000
    
    @media all and (max-width: 1023px)
        margin-bottom 40px
        white-space nowrap
        overflow-x auto
        margin-right -16px
        margin-left -16px
        padding-left 16px
        padding-right 6px
        
        &__title
            margin-right 15px
        &__item
            margin-right 15px
        