<header block="app-header" mix="block:mt-4">
	<div elem="fixed-container">
		<div elem="fixed-container-in">
			<div elem="fc-l"></div>
			<div elem="fc-m"></div>
		</div>
	</div>	
	<div elem="top-container">
		<div elem="top">
			<div elem="container" mix="block:site-width">
				<div elem="mobile-container">
					<div elem="burger">
						<icon name="burger" tag="span">
					</div>
			    	<div elem="logo" mods="mobile">
			    		<a href="#"><img src="img/logo.svg" alt=""></a>
			    	</div>
		    	</div>
				<nav elem="menu">
					<ul>
						{% for item in menuTop %}
						<li{% if item.subLevelClass == true %} class="has-sublevel"{% endif %}{% if item.activeClass == true %} class="is-active"{% endif %}{% if item.bold == true %} class="bold"{% endif %}>
							<a href="#">{{item.name}}</a>
							{#% if item.subLevelClass == true %}
							<ul>
								<li><a href="#">Подпункт 1</a></li>
								<li><a href="#">Подпункт 2</a></li>
								<li><a href="#">Подпункт 3</a></li>
								<li><a href="#">Подпункт 4</a></li>
							</ul>
							{% endif %#}
						</li>
						{% endfor %}
					</ul>
				</nav>
				<div elem="e-mail">
					{#<span elem="e-mail-copy" class="copy" id="Text">скопировать почту</span>#}
					<span elem="e-mail-head">Почта вашего менеджера:</span>					
					<icon name="mail-icon" tag="span">
					<a id="Text" href="mailto:zakaz04@instrdom.ru">zakaz04@instrdom.ru</a>		
					<span class="svg-icon copy" id="Text"><img src="img/copy-ico.svg" alt=""></span>
				</div>
				<div elem="phone">				
					<div elem="phone-sity"><img class="icon" src="img/sity-marker.svg" alt=""><a href="#modal3">Москва</a></div>
					<div elem="phone-item"><a href="tel:8 (495) 287-14-66">8 (495) 287-14-66</a></div>
				</div>
			</div>
		</div>
		<div elem="middle" mix="block:site-width">
	    	<div elem="logo">
	    		<a href="#"><img src="img/logo.svg" alt=""></a>
	    	</div>	
	    	<a elem="button s-button" href="#modal1">Обратный звонок</a>	
	    	<a elem="button s-button type-2" href="#modal2">Отправить заявку</a>	
	    	<form block="search-form"{% if layout.catalog %} mods="catalog"{% endif %} class="_js_search {% if layout.hidden_form %}hidden-form{% endif %}" action="/error-page.html">
	    		<div elem="container">
	    			<input type="text" value="" placeholder="Ведите свой запрос, например: отвертка">
	    			<button><img src="img/search-icon.svg" alt=""></button>
	    			<span><img src="img/search-icon.svg" alt="">поиск</span>
	    		</div>
	    	</form>
	    	<div elem="cart">
	    		<icon name="cart-icon" tag="span">
	    		<div elem="cart-title"><img class="icon" src="img/mobile-cart-icon.svg" alt=""> Корзина</div>				
				<span elem="cart-total"><icon name="cart-total-icon" tag="span"><span elem="cart-total-amount">16<span> шт/</span></span></span>
				<span elem="cart-sum">1 243 559 ₽</span>
	    	</div>
		</div>
	</div>
    <div elem="bot" class="{% if layout.main == true %}site-width type-2{% endif %}">
    	<nav elem="folders-shared" mix="block:site-width">
    		<li class="mobile-title">Каталог товаров</li>
    		<ul class="horisontal">
    			<li class="toggle-catalog">
    				<a href="#"><icon name="burger" tag="span">Весь каталог</a>
					<ul class="vertical desctop">
		    			<li class="has-sublevels" data-index="0">
		    				<a href="#">Измерительный инструмент</a>
		    				<ul>
		    					<li>
		    						<ul>
				    					<li><a href="#">Глубиномеры</a></li>
				    					<li><a href="#">Граммометры</a></li>
				    					<li><a href="#">Индикаторы, головки измерительные</a></li>
				    					<li><a href="#">Интерфейсы</a></li>
				    					<li><a href="#">Калибры</a></li>
				    					<li><a href="#">Колеса измерительные (курвиметры)</a></li>
				    					<li><a href="#">Концевые меры длины КМД</a></li>
				    					<li><a href="#">Кронциркули</a></li>
				    					<li><a href="#">Колёса зубчатые измерительные</a></li>
				    					<li><a href="#">Кольца установочные и образцовые</a></li>
				    					<li><a href="#">Кубы поверочные</a></li>
				    					<li><a href="#">Рулетки и метры складные</a></li>
		    						</ul>
		    					</li>
		    					<li>
		    						<ul>
		    							<li><a href="#">Лазерные уровни (нивелиры)</a></li>
		    							<li><a href="#">Линейки</a></li>
		    							<li><a href="#">Меры плоского угла</a></li>
		    							<li><a href="#">Меры твердости образцовые</a></li>
		    							<li><a href="#">Микрометры</a></li>
		    							<li><a href="#">Нутромеры</a></li>
		    							<li><a href="#">Плиты поверочные</a></li>
		    							<li><a href="#">Проволочки для измерения среднего диаметра резьбы</a></li>
		    							<li><a href="#">Пластины поверочные стеклянные</a></li>
		    							<li><a href="#">Призмы поверочные</a></li>
		    							<li><a href="#">Приспособления для измерительного инструмента</a></li>
		    						</ul>
		    					</li>
		    					<li>
		    						<ul>
		    							<li><a href="#">Лазерные дальномеры</a></li>
		    							<li><a href="#">Скобы измерительные</a></li>
		    							<li><a href="#">Стенкомеры, толщиномеры</a></li>
		    							<li><a href="#">Угломеры и уклономеры</a></li>
		    							<li><a href="#">Угольники</a></li>
		    							<li><a href="#">Уровни</a></li>
		    							<li><a href="#">Шаблоны и щупы</a></li>
		    							<li><a href="#">Штангенрейсмасы</a></li>
		    							<li><a href="#">Штангенциркули</a></li>
		    							<li><a href="#">Штифты</a></li>
		    						</ul>
		    					</li>
		    					<li class="logos">
		    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
		    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
		    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
		    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
		    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>
		    					</li>
		    				</ul>
		    			</li>
		    			<li><a href="#">Ручной инструмент</a></li>
		    			<li><a href="#">Электроинструмент</a></li>
		    			<li><a href="#">Оборудование и силовая техника</a></li>
		    			<li><a href="#">Расходные материалы</a></li>
		    			<li><a href="#">Станочная оснастка</a></li>
		    			<li><a href="#">Садовая техника</a></li>
		    			<li><a href="#">Хозтовары</a></li>
		    			<li><a href="#">Электрика и свет</a></li>
		    			<li><a href="#">Автосервисное оборудование</a></li>
		    			<li class="has-sublevels" data-index="1">
		    				<a href="#">Бренды</a>
		    				<ul class="brends">
		    					<li>
		    						<div block="search-block">
		    							<div elem="container">
									    	<form block="search-form" mods="type-2" action="/error-page.html">
									    		<input type="text" placeholder="Начните печатать название бренда">
									    		<button><img src="img/search-icon.svg" alt=""></button>
									    	</form>
									    	<div elem="sorting">
									    		<div elem="letter"><span>А</span><icon name="arrow-b" tag="span"></div>
									    		<div elem="letters-container">
									    			<div elem="letters-list">
														<a href="#">А</a>			
														<a href="#">Б</a>			
														<a href="#">В</a>			
														<a href="#">Г</a>			
														<a href="#">Д</a>			
														<a href="#">Е</a>			
														<a href="#">Ё</a>			
														<a href="#">Ж</a>			
														<a href="#">З</a>			
														<a href="#">И</a>			
														<a href="#">Й</a>			
														<a href="#">К</a>			
														<a href="#">Л</a>			
														<a href="#">М</a>			
														<a href="#">Н</a>			
														<a href="#">О</a>			
														<a href="#">П</a>			
														<a href="#">Р</a>			
														<a href="#">С</a>			
														<a href="#">Т</a>			
														<a href="#">У</a>			
														<a href="#">Ф</a>			
														<a href="#">Х</a>			
														<a href="#">Ц</a>			
														<a href="#">Ч</a>			
														<a href="#">Ш</a>			
														<a href="#">Щ</a>			
														<a href="#">Ъ</a>			
														<a href="#">Ы</a>			
														<a href="#">Ь</a>			
														<a href="#">Э</a>			
														<a href="#">Ю</a>			
														<a href="#">Я</a>			
									    			</div>	
									    			<div elem="letters-list">
									    				<a href="#">A</a>
									    				<a href="#">B</a>
									    				<a href="#">C</a>
									    				<a href="#">D</a>
									    				<a href="#">E</a>
									    				<a href="#">F</a>
									    				<a href="#">G</a>
									    				<a href="#">H</a>
									    				<a href="#">I</a>
									    				<a href="#">J</a>
									    				<a href="#">K</a>
									    				<a href="#">L</a>
									    				<a href="#">M</a>
									    				<a href="#">N</a>
									    				<a href="#">O</a>
									    				<a href="#">P</a>
									    				<a href="#">Q</a>
									    				<a href="#">R</a>
									    				<a href="#">S</a>
									    				<a href="#">T</a>
									    				<a href="#">U</a>
									    				<a href="#">V</a>
									    				<a href="#">W</a>
									    				<a href="#">X</a>
									    				<a href="#">Y</a>
									    				<a href="#">Z</a>
									    				<a href="#">S</a>
									    				<a href="#">S</a>
									    				<a href="#">S</a>
									    				<a href="#">S</a>
									    				<a href="#">S</a>
									    			</div>	
									    			<div elem="numbers-list">
									    				<a href="#">1</a>
									    				<a href="#">2</a>
									    				<a href="#">3</a>
									    				<a href="#">4</a>
									    				<a href="#">5</a>
									    				<a href="#">6</a>
									    				<a href="#">7</a>
									    				<a href="#">8</a>
									    				<a href="#">9</a>
									    			</div>	
									    		</div>
									    	</div>
								    	</div>
							    	</div>
							    	<div class="logos">
			    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>

			    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>

			    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
			    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
							    	</div>
		    					</li>
		    				</ul>
		    			</li>
		    		</ul>
    			</li>
    			<li><a href="#">Электроинструмент</a></li>
    			<li class="has-sublevels" data-index="0"><a href="#">Измерительный инструмент</a></li>
    			<li><a href="#">Расходные материалы</a></li>
    			<li><a href="#">Ручной инструмент</a></li>
    			<li><a href="#">Силовая техника</a></li>
    			<li class="has-sublevels" data-index="1"><a href="#">Бренды</a></li>
    		</ul>
    		{#
    		<ul class="vertical desctop">
    			<li>
    				<a href="#">Измерительный инструмент</a>
    				<ul>
    					<li>
    						<ul>
		    					<li><a href="#">Глубиномеры</a></li>
		    					<li><a href="#">Граммометры</a></li>
		    					<li><a href="#">Индикаторы, головки измерительные</a></li>
		    					<li><a href="#">Интерфейсы</a></li>
		    					<li><a href="#">Калибры</a></li>
		    					<li><a href="#">Колеса измерительные (курвиметры)</a></li>
		    					<li><a href="#">Концевые меры длины КМД</a></li>
		    					<li><a href="#">Кронциркули</a></li>
		    					<li><a href="#">Колёса зубчатые измерительные</a></li>
		    					<li><a href="#">Кольца установочные и образцовые</a></li>
		    					<li><a href="#">Кубы поверочные</a></li>
		    					<li><a href="#">Рулетки и метры складные</a></li>
    						</ul>
    					</li>
    					<li>
    						<ul>
    							<li><a href="#">Лазерные уровни (нивелиры)</a></li>
    							<li><a href="#">Линейки</a></li>
    							<li><a href="#">Меры плоского угла</a></li>
    							<li><a href="#">Меры твердости образцовые</a></li>
    							<li><a href="#">Микрометры</a></li>
    							<li><a href="#">Нутромеры</a></li>
    							<li><a href="#">Плиты поверочные</a></li>
    							<li><a href="#">Проволочки для измерения среднего диаметра резьбы</a></li>
    							<li><a href="#">Пластины поверочные стеклянные</a></li>
    							<li><a href="#">Призмы поверочные</a></li>
    							<li><a href="#">Приспособления для измерительного инструмента</a></li>
    						</ul>
    					</li>
    					<li>
    						<ul>
    							<li><a href="#">Лазерные дальномеры</a></li>
    							<li><a href="#">Скобы измерительные</a></li>
    							<li><a href="#">Стенкомеры, толщиномеры</a></li>
    							<li><a href="#">Угломеры и уклономеры</a></li>
    							<li><a href="#">Угольники</a></li>
    							<li><a href="#">Уровни</a></li>
    							<li><a href="#">Шаблоны и щупы</a></li>
    							<li><a href="#">Штангенрейсмасы</a></li>
    							<li><a href="#">Штангенциркули</a></li>
    							<li><a href="#">Штифты</a></li>
    						</ul>
    					</li>
    					<li class="logos">
    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>
    					</li>
    				</ul>
    			</li>
    			<li><a href="#">Ручной инструмент</a></li>
    			<li><a href="#">Электроинструмент</a></li>
    			<li><a href="#">Оборудование и силовая техника</a></li>
    			<li><a href="#">Расходные материалы</a></li>
    			<li><a href="#">Станочная оснастка</a></li>
    			<li><a href="#">Садовая техника</a></li>
    			<li><a href="#">Хозтовары</a></li>
    			<li><a href="#">Электрика и свет</a></li>
    			<li><a href="#">Автосервисное оборудование</a></li>
    			<li>
    				<a href="#">Бренды</a>
    				<ul class="brends">
    					<li>
    						<div block="search-block">
    							<div elem="container">
							    	<form block="search-form" mods="type-2" action="#">
							    		<input type="text" placeholder="Начните печатать название бренда">
							    		<button><img src="img/search-icon.svg" alt=""></button>
							    	</form>
							    	<div elem="sorting">
							    		<div elem="letter"><span>А</span><icon name="arrow-b" tag="span"></div>
							    		<div elem="letters-container">
							    			<div elem="letters-list">
												<a href="#">А</a>			
												<a href="#">Б</a>			
												<a href="#">В</a>			
												<a href="#">Г</a>			
												<a href="#">Д</a>			
												<a href="#">Е</a>			
												<a href="#">Ё</a>			
												<a href="#">Ж</a>			
												<a href="#">З</a>			
												<a href="#">И</a>			
												<a href="#">Й</a>			
												<a href="#">К</a>			
												<a href="#">Л</a>			
												<a href="#">М</a>			
												<a href="#">Н</a>			
												<a href="#">О</a>			
												<a href="#">П</a>			
												<a href="#">Р</a>			
												<a href="#">С</a>			
												<a href="#">Т</a>			
												<a href="#">У</a>			
												<a href="#">Ф</a>			
												<a href="#">Х</a>			
												<a href="#">Ц</a>			
												<a href="#">Ч</a>			
												<a href="#">Ш</a>			
												<a href="#">Щ</a>			
												<a href="#">Ъ</a>			
												<a href="#">Ы</a>			
												<a href="#">Ь</a>			
												<a href="#">Э</a>			
												<a href="#">Ю</a>			
												<a href="#">Я</a>			
							    			</div>	
							    			<div elem="letters-list">
							    				<a href="#">A</a>
							    				<a href="#">B</a>
							    				<a href="#">C</a>
							    				<a href="#">D</a>
							    				<a href="#">E</a>
							    				<a href="#">F</a>
							    				<a href="#">G</a>
							    				<a href="#">H</a>
							    				<a href="#">I</a>
							    				<a href="#">J</a>
							    				<a href="#">K</a>
							    				<a href="#">L</a>
							    				<a href="#">M</a>
							    				<a href="#">N</a>
							    				<a href="#">O</a>
							    				<a href="#">P</a>
							    				<a href="#">Q</a>
							    				<a href="#">R</a>
							    				<a href="#">S</a>
							    				<a href="#">T</a>
							    				<a href="#">U</a>
							    				<a href="#">V</a>
							    				<a href="#">W</a>
							    				<a href="#">X</a>
							    				<a href="#">Y</a>
							    				<a href="#">Z</a>
							    				<a href="#">S</a>
							    				<a href="#">S</a>
							    				<a href="#">S</a>
							    				<a href="#">S</a>
							    				<a href="#">S</a>
							    			</div>	
							    			<div elem="numbers-list">
							    				<a href="#">1</a>
							    				<a href="#">2</a>
							    				<a href="#">3</a>
							    				<a href="#">4</a>
							    				<a href="#">5</a>
							    				<a href="#">6</a>
							    				<a href="#">7</a>
							    				<a href="#">8</a>
							    				<a href="#">9</a>
							    			</div>	
							    		</div>
							    	</div>
						    	</div>
					    	</div>
					    	<div class="logos">
	    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>

	    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>

	    						<a href="#"><img src="img/stayer-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/makita-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/dewalt-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/bosh-logo.svg" alt=""></a>
	    						<a href="#"><img src="img/kinex-logo.svg" alt=""></a>
					    	</div>
    					</li>
    				</ul>
    			</li>
    		</ul>
    		#}
    		<ul class="vertical mobile">
    			<li>
    				<a href="#">Измерительный инструмент</a>
    				<ul>
    					<li><a href="#">Индикаторы, головки измерительные</a></li>
    					<li><a href="#">Колеса измерительные (курвиметры)</a></li>
    					<li><a href="#">Кубы поверочные</a></li>
    					<li><a href="#">Лазерные дальномеры</a></li>
    					<li><a href="#">Призмы поверочные</a></li>
    					<li><a href="#">Приспособления для измерительного инструмента</a></li>
    					<li><a href="#">Штифты</a></li>
    					<li><a href="#">Интерфейсы</a></li>
    					<li><a href="#">Глубиномеры</a></li>
    					<li><a href="#">Штангенциркули</a></li>
    					<li><a href="#">Шаблоны и щупы</a></li>
    					<li><a href="#">Приспособления для измерительного инструмента</a></li>
    					<li><a href="#">Штифты</a></li>
    					<li><a href="#">Интерфейсы</a></li>
    					<li><a href="#">Глубиномеры</a></li>
    					<li><a href="#">Штангенциркули</a></li>
    					<li><a href="#">Шаблоны и щупы</a></li>
    				</ul>
    			</li>
    			<li><a href="#">Ручной инструмент</a></li>
    			<li><a href="#">Электроинструмент</a></li>
    			<li><a href="#">Оборудование и силовая техника</a></li>
    			<li><a href="#">Расходные материалы</a></li>
    			<li><a href="#">Станочная оснастка</a></li>
    			<li><a href="#">Садовая техника</a></li>
    			<li><a href="#">Хозтовары</a></li>
    			<li><a href="#">Электрика и свет</a></li>
    			<li><a href="#">Автосервисное оборудование</a></li>
    			<li><a href="#">Автосервисное оборудование</a></li>
    		</ul>
    	</nav>
    </div>
</header><!-- b:app-header -->