.app-header
    flex none
    // padding-top 186px
    transition all 0.65s ease
    z-index 50

    &__top-container
        // position fixed
        top 0
        left 0
        right 0
        background #fff
        z-index 60
    &__top
        background #F3F5F6
        box-shadow 0px 4px 7px rgba(1, 99, 143, 0.15)
        padding 13px 0 11px 0
        transition all .65s ease

    &__container
        display flex
        justify-content space-between
        align-items center

    &__mobile-container
        display none

    &__burger
        cursor pointer
        display none
        min-width 24px
        .svg-icon
            width 24px
            height 24px

    &__menu
        ul
            display flex
            flex-wrap wrap
            li
                margin-right 20px
                &.is-active
                    a
                        color #2577d7
                        &:after
                            left 0
                            right 0
                &.bold
                    a
                        letter-spacing -0.5px
                        font-weight 700
                a
                    display block
                    font-size 13px
                    text-decoration none
                    color #3C4858
                    padding-top 5px
                    padding-bottom 5px
                    position relative
                    &:hover
                        color #2577d7
                        &:after
                            left 0
                            right 0
                    &:after
                        position absolute
                        left 50%
                        right 50%
                        bottom 0
                        content ""
                        height 2px
                        background #2577D7
                        transition all .3s ease

                ul
                    display none

    &__e-mail
        font-size 13px
        position relative
        // padding-left 25px
        font-weight 600
        line-height 1

        .svg-icon
            // position absolute
            // left 0
            // top 2px
            width 14px
            height 11px
            margin-right 4px
            margin-bottom 2px
            fill none
            vertical-align middle

        a
            text-decoration none
            display inline-block
            padding-right 20px
            position relative
            letter-spacing normal
            font-family 'Open Sans', sans-serif
            
        .svg-icon.copy
            fill #B7C2C9
            width 12px
            height 15px
            position absolute
            right 0
            bottom 1px
            cursor pointer

    &__e-mail-head
        font-weight normal
        font-size 13px        
        display block
        margin-bottom 5px

    &__e-mail-copy
        cursor pointer
        color #3C4858
        border-bottom 1px dashed #3C4858
        &:hover
            border-color transparent

    &__phone
        display flex
        margin-left 20px

    &__phone-sity
        position relative
        font-size 16px
        color #093F57
        font-weight 500
        margin-right 42px
        padding-left 20px
        width 166px
        a
            padding-right 15px
            color #093F57
            line-height 16px
            text-decoration none
            display inline-block
            max-width 160px
            position relative
            &:after
                content ""
                position absolute
                right -7px
                top 50%
                margin-top -6px
                border 6px solid transparent
                border-left 6px solid #2577D7
        .icon
            position absolute
            left 0
            top 3px
            vertical-align middle
            width 12px
            height 16px
            color #2577D7
            svg
                fill #2577D7

    &__phone-item
        font-size 20px
        font-weight 700
        color #3C4858
        a
            text-decoration none
            color #3C4858
            cursor auto

    &__middle
        padding-top 30px
        padding-bottom 35px
        display flex
        align-items center
        transition padding .65s ease
        will-change padding

    &__logo
        margin-right 43px
        &--mobile
            display none

    &__button
        font-size 14px
        font-weight 500
        padding 17px 20px 15px
        margin-right 16px
        text-transform none
        &.type-2
            margin-right 24px

    &__cart
        position relative
        white-space nowrap
        display flex
        align-items flex-end

        .svg-icon--cart-icon
            width 26px
            height 28px
            fill #093F57
            margin-right 16px
            margin-bottom 4px

    &__cart-title
        display none

    &__cart-total
        position absolute
        left 22px
        top -10px
        text-align center

        .svg-icon
            width 26px
            height 26px
            position absolute
            left 0
            top 0
            fill #d00000
            display none

    &__cart-total-amount
        width 21px
        position relative
        font-size 14px
        color #fff
        display block
        padding-left 3px
        padding-top 1px
        font-weight 500
        letter-spacing -0.05em
        z-index 1
        color #D00000
        span
            display none

    &__cart-sum
        color #093F57
        font-size 16px
        

    &__bot
        background #3C4858

    &__folders-shared
        font-family 'Open Sans', sans-serif
        display flex
        position relative
        z-index 2

        .mobile-title
            display none
            font-weight 500
            font-size 20px
            color #fff
            background rgba(#3C4858, 0.2)
            padding 12px 20px 11px 40px
            border-bottom 1px solid rgba(#fff, 0.4)

        .horisontal
            margin-left -14px
            width 100%
            display flex
            align-items center
            justify-content: space-between

            > li
                margin-right 2%
                // flex 1
                height 100%
                display flex
                align-items center
                &:last-child 
                    margin-right 0
                > a
                    text-transform uppercase
                    text-decoration none
                    color #fff
                    display block
                    font-size 14px
                    font-weight 400
                    padding 7px 0 6px
                    position relative
                    &:after
                        content ""
                        width 100%
                        max-width 0
                        position absolute
                        left 0
                        right 0
                        bottom 0
                        height 2px
                        background #2577D7
                        left 50%
                        transition all 0.3s ease
                        transform translateX(-50%)
                &:hover,
                &.is-active
                    > a
                        &:after
                            max-width 80px

    li.toggle-catalog
        width 176px
        margin-right 14px
        height 100%
        display flex
        align-items center
        // position relative

        > a
            white-space nowrap
            height 72px
            position relative
            padding 25px 25px 24px 55px
            color #fff
            font-size 14px
            font-weight 600
            text-transform uppercase
            transition all 0.0s ease
            &:after
                display none

            > .svg-icon
                position absolute
                left 18px
                top 25px
                width 24px
                height 24px
                fill #fff
        &:hover,
        &.opened
            > a
                transition all 0.7s ease
                background #2577D7

                > .svg-icon
                    svg
                        transform rotate(90deg)
            .vertical.desctop
                transition all 0.7s ease
                opacity 1
                visibility visible
    .search-block
        margin-bottom 20px
    .vertical.desctop
        display block
        position absolute
        left 6px
        top 100%
        padding-top 25px
        padding-bottom 25px
        background #2577D7
        opacity 0
        visibility hidden
        transition all 0.0s ease
        width 335px
        font-weight normal
        > li
            border-bottom 1px solid rgba(#78A7DF, 0.5)
            &.is-active,
            &:hover
                > a
                    background rgba(#3C4858, 0.2)
            > a
                display block
                color #fff
                padding 12px 40px 12px 54px
                line-height 16px
                font-size 14px
                position relative
                text-decoration none
                transition all 0.3s ease
                .arrow
                    position absolute
                    right 0
                    top 5px
                    width 30px
                    height 30px
                    text-align center
                    line-height 27px

        > li
            > ul
                position absolute
                left 100%
                top 0
                background #fff
                padding 35px 20px 32px 60px
                box-shadow 0px 4px 7px rgba(1, 99, 143, 0.15)
                width 897px
                display flex
                // justify-content space-between
                flex-wrap wrap
                align-items flex-start
                opacity 0
                visibility hidden
                transition all 0.3s ease
                > li
                    width 33%
                    max-width 302px
                    ul
                        li
                            margin-bottom 17px
                            padding-right 30px
                            line-height 16px
                            a
                                font-size 13px
                                text-decoration none
                                color #3C4858
                                line-height 16px
                                &:hover
                                    font-weight 600
                                    color #2577D7
                .logos
                    width 100%
                    max-width none
                    margin-top 20
                    margin-bottom 10px
                    display flex
                    align-items center
                    flex-wrap wrap
                    a
                        margin-right 45px
                        margin-top 20px
                        &:first-child
                            margin-bottom 5px
        > li
            &:hover,
            &.is-active
                > ul
                    opacity 1
                    visibility visible

            .brends
                display block
                li
                    width auto
                    max-width inherit
        &.fix            
            overflow auto 
            > li
                > ul 
                    position fixed
                    left 0
                    top 0
                    z-index 10
    .vertical.mobile
        display none

    &__fixed-container
        position fixed
        left 0
        top 0
        right 0
        background #F3F5F6
        box-shadow 0px 4px 7px rgba(1, 99, 143, 0.15)
        transition all 0.3s ease
        transform translateY(-86px) 
        &:hover 
            background #3C4858
            & ^[0]
                &__e-mail-head
                    color #B7C2C9
                &__e-mail    
                    a 
                        color #fff
                        
                &__phone-item        
                    color #fff
                    a 
                        color #fff
                &__cart-sum        
                    color #fff
                &__button.type-2    
                    background #EE9D00
                    &:hover
                        background #2577d7
                    
            .search-form 
                button    
                    background url(../img/search-icon-light.svg) center center no-repeat
                input 
                    color #fff    

            .svg-icon
                fill #fff
            .toggle-catalog
                > a 
                    color #fff
                    .svg-icon
                        fill #fff
                    

    &__fc-l,    
    &__fc-m    
        display flex
        align-items center
    &__fc-l    
        margin-right 15px
    &__fixed-container-in
        margin 0 auto
        max-width 1290px
        padding 19px 20px 21px
        display flex
        align-items center
        min-height 86px
        justify-content space-between
        & ^[0]
            &__logo
                width 41px
                overflow hidden
                margin-right 8px
                img 
                    width 213px
                    max-width inherit
            &__phone-item        
                font-size 18px
                
            &__button.type-2    
                margin-right 0
            &__cart    
                margin-left 3%
            &__phone-item    
                margin-left 2%
                
        li.toggle-catalog        
            position relative
            margin-right 7px
            &:hover
                > a
                    color #fff
                    .svg-icon                        
                        fill #fff
                    &:after
                        opacity 1
                        visibility visible
                        transition all .7s ease
                .vertical.desctop        
                    transition all .0s ease
            > a 
                color #3C4858
                text-decoration none
                height auto
                padding-top 13px
                padding-bottom 11px                       
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    bottom -30px
                    right 0
                    height 30px
                    background #2577d7
                    cursor pointer
                    transition all .0s ease
                    opacity 0
                    visibility hidden
                    
                .svg-icon
                    top 12px
                    fill #3C4858
                
            ul 
                padding 0
                margin 0
                list-style none
            
        .vertical.desctop    
            left 0   
            top 69px
        
        .search-form                  
            width 257px
            flex none
            margin-right 8px
            input 
                background none
                border-color #B7C2C9
                &::placeholder
                    font-size 0
            button  
                background url(../img/search-icon-gray.svg) center center no-repeat       
                img 
                    display none
            
    &.scroll
        // padding-top 129px        
        & ^[0]
            &__fixed-container
                transition all .6s ease
                transform translateY(0) 
            // &__top-container
            //     box-shadow 0px 4px 7px rgba(1,99,143,0.15)
            // &__top
            //     padding-top 7px
            //     padding-bottom 11px
            // &__middle
            //     padding-top 14px
            //     padding-bottom 14px

    @media (max-width 1300px)
        &__bot
            &.type-2
                max-width 100%
                padding-left 0
                padding-right 0
        &__folders-shared
            // padding-left 0
            .horisontal

                > li
                    margin-right 1%
                    > a
                        font-size 13px
                        word-break break-word
                .toggle-catalog
                    width 168px
                    > a
                        padding-top 25px
                        padding-left 42px
                        padding-right 15px
                        font-size 16px
                        > .svg-icon
                            top 25px
                            left 11px
        &__fc-l
            margin-right 0
            
        &__fixed-container-in 
            & ^[0]
                &__cart    
                    margin-left 0
                &__phone-item    
                    margin-left 0

    @media (max-width 1180px)
        &__menu
            ul
                li
                    margin-right 9px
        &__phone
            margin-left 10px
        &__phone-item
            font-size 16px
        &__phone-sity
            margin-right 15px
            font-size 15px

        // &__e-mail
        //     a
        //         padding-right 0
        
        &__fixed-container-in 
            & ^[0]
                &__button.type-2
                    padding-left 12px
                    padding-right 12px

            .search-form    
                width 200px

    @media (max-width 1090px)
        &__fixed-container
            & ^[0]
                &__phone-item
                    font-size 14px    
                &__cart-sum    
                    font-size 13px
                &__cart    
                    .svg-icon--cart-icon
                        width 21px
                        height 23px 
                        margin-right 10px
                &__cart-total        
                    left 14px
                    top -12px 
                &__cart-total-amount    
                    font-size 11px
                &__e-mail-head    
                    font-size 12px
                &__e-mail    
                    font-size 12px
            .search-form        
                width 190px
                    

    @media (max-width 1023px)
        padding-top 64px
        &__top-container
            position relative
        &__burger
            display block
            margin-right 30px
            margin-left -2px
        &__logo
            display none
            &--mobile
                width 117px
                min-width 117px
                display block
                img
                    width 100%
        &__menu,
        &__folders-shared,
        &__cart,
        &__button
            display none

        &__top
            padding-top 14px
            padding-bottom 14px
            position fixed
            left 0
            top 0
            right 0
            z-index 10
            & ^[0]
                &__container
                    justify-content flex-start

        &__e-mail
            padding-left 0
            font-weight normal
            font-size 16px
            a
                color #232F36
                margin-bottom 0
            .svg-icon
                display none

        &__e-mail-copy
            display none
        &__phone
            margin-left 25px
            margin-right 18px
        &__phone-sity
            display none

        &__phone-item
            font-size 18px
            a
                color #232F36

        &__mobile-container
            display flex
            align-items center
            flex 1 1

        &__middle
            padding-top 0
            padding-bottom 0
            height 0
            align-items flex-start
            z-index 2
            position relative
            justify-content flex-end


        .search-form
            margin-right 0
            margin-top 5px

            input
                border 0
                box-shadow 0px 2px 2px rgba(0, 0, 0, 0.24)

    @media (max-width 640px)
        padding-top 56px
        &__top
            padding-top 17px
            padding-bottom 15px

        &__burger
            margin-right 20px
        &__e-mail
            padding-top 2px
        &__phone
            margin-right 0
            margin-left 15px

        &__logo--mobile
            margin-top -6px

        .search-form
            display none

    @media (max-width 540px)
        &__e-mail
            display none

    @media (max-width 359px)
        &__burger
            margin-right 7px
        &__phone-item
            font-size 17px


.search-form
    position relative
    width 100%
    flex 1
    margin-right 18px
    input
        height 48px
        line-height 49px
        border-radius 2px
        border 1px solid #084D6B
        width 100%
        padding 0 50px 0 16px
        &::placeholder
            letter-spacing -0.5px
            color #91A2AE

    button
        position absolute
        right 0
        top 0
        bottom 0
        border 0
        padding 0
        width 45px
        background none
        box-shadow none
        img
            width 20px
            height 20px
    span
        display none

    &.mobile

        position absolute
        right 0
        top 0
        background #fff
        margin-right 0
        input
            height 27px
            border 0
            padding 0
            background none
            font-size 16px
            display none
            &::placeholder
                color #232F36
            &:focus
                &::placeholder
                    display none
                    font-size 0
        button
            height 26px
            display none
            width 20px
            img
                width 20px
                height 20px
        span
            display block
            font-size 0
            position absolute
            // top 0
            right 0
            img
                width 20px
                height 20px

        &.typing
            padding-left 0
            input
                padding-left 26px
                background #F5F5F5
    &.opened
        input,
        button
            display inline-block
        span
            display none

    &.catalog
        width 233px
        right 10px
        top 2px
        input
            display none
            height 26px
            border 0
            border-bottom 1px solid #dbe0e4
            box-shadow none
            padding-right 25px
            padding-left 12px
            font-weight 500
            &::placeholder
                font-size 0
        button
            display none

        span
            right 0
            position absolute
            display inline-block
            font-size 14px
            font-weight 500
            color #232F36
            img
                margin-right 13px
                width 20px
                height 20px
        &.opened
            input,
            button
                display block

            span
                display none
        &.typing
            input
                padding-left 12px
                background none

        @media (max-width 480px)
            width auto
            left 0

.search-block
    width 536px
    &__container
        display flex
    .search-form
        flex 1 1
        margin-right 24px
        input
            border-color #B7C2C9


    &__letter
        height 48px
        border 1px solid #b7c2c9
        border-radius 2px
        position relative
        width 120px
        font-size 24px
        color #91A2AE
        .svg-icon--arrow-b
            cursor pointer
            display block
            position absolute
            right -1px
            top -1px
            bottom -1px
            width 52px
            background #2577D7
            border-radius 0 2px 2px 0
            height 48px
            svg
                width 12px
                height 8px
                fill #fff
                position absolute
                top 50%
                left 50%
                margin-top -4px
                margin-left -4px


        span
            text-align center
            display block
            width 66px
            line-height 48px

    &__letters-container
        width 536px
        position absolute
        right 0
        top 100%
        margin-top 3px
        background #fff
        border 0.25px solid #B7C2C9
        padding 10px 24px 85px
        opacity 0
        visibility hidden
        transition all 0.3s ease

    &__sorting
        position relative
        &.opened
            .svg-icon--arrow-b
                svg
                    transform rotate(180deg)
            & ^[0]
                &__letters-container
                    opacity 1
                    visibility visible

    &__letters-list
        padding 17px 0
        position relative
        font-size 18px
        color #91A2AE
        a
            margin-right 10px
            font-size 18px
            color #91A2AE
            text-decoration none
            display inline-block
            line-height 32px
            &:hover
                color #2577D7
        &:after
            content ""
            position absolute
            left 0
            bottom 0
            height 1px
            background rgba(#B7C2C9, 0.2)
            width 264px

    &__numbers-list
        padding-top 30px
        a
            margin-right 10px
            font-size 18px
            color #91A2AE
            text-decoration none
            display inline-block
            line-height 32px
            &:hover
                color #2577D7


@media (max-width 1023px)

    .hidden-form
        display none