.b-product-card
    display flex
    flex-wrap wrap
    margin-bottom 50px
    @media all and (max-width: 1130px)
        justify-content space-between
    
    &.selected 
        .b-product-card__compare
            svg
                fill #d00000
            &-text
                color #d00000
    
    &__images
        flex 0 1 416px
        margin-right 200px
        
        @media all and (max-width: 1130px)
            margin-right 5%
            flex 0 0 50%
            max-width 416px

    &__information
        flex 0 0 460px
        @media all and (max-width: 1130px)
            flex 0 0 45%
            max-width 460px
    
    &__big-image
        &.owl-carousel .owl-item img
            max-width 100%
            max-height 100%
            width auto
            height auto
        
        &-item
            height 250px
            display flex
            align-items center
            justify-content center
        
        &-help
            text-align right
            font-size 10px
            color #68757A
            margin-bottom 20px
            
            .svg-icon
                width 24px
                height 26px
                fill #3F505B
                margin -5px 0 0 5px
                
                &--zoom-pic
                    display none
    
    &__dop-images
        position relative
        &-item
            width 72px
            height 72px
            display flex
            align-items center
            justify-content center
            margin-left 30px
            padding 4px
            border 1px solid transparent
            opacity .4
            
            &.is-active
                opacity 1
                border-color #2577D7

        .owl-nav
            svg
                transition fill 0.3s ease
            &>div
                transition background 0.3s ease
                &:hover
                    background #97b3c4

                    svg
                        fill #fff
        
        .owl-prev
            position absolute
            left -40px
            top 50%
            margin-top -22px
            border 1px solid #97B3C4
            width 44px
            height 44px
            border-radius 44px
            transform rotate(180deg)
            display none
            
            svg
                fill #2F4AA9
                width 11px
                height 20px
                transform translate(-50%, -50%);
        
        .owl-next
            position absolute
            right -70px
            top 50%
            margin-top -22px
            border 1px solid #97B3C4
            width 44px
            height 44px
            border-radius 44px
            
            svg
                fill #2F4AA9
                width 11px
                height 20px
                transform: translate(-50%, -50%);
                    
            
    &__flags-wr
        margin-bottom 20px
    &__code
        display inline-block
        vertical-align middle
        line-height 1
        font-size 13px
        letter-spacing -0.5px
        color #3F505B
    
    .flags
        display inline-block
        vertical-align middle
    &__name
        font-style normal
        font-weight normal
        line-height 1.3
        font-size 20px
        letter-spacing -0.5px
        color #232F36
        margin 0 0 14px
    
    &__box-rating
        margin-bottom 15px
    &__rating
        line-height 1
        display inline-block
        vertical-align middle
        margin-right 20px
        &-star
            display inline-block
            vertical-align middle
            position relative
            width 76px
            height 14px
            background url(../img/star-grey.svg) 0 0 repeat-x
            
            > span
                position absolute
                left 0
                top 0
                bottom 0
                background url(../img/star-gelb.svg) 0 0 repeat-x
        
        &-title
            letter-spacing -0.5px
            color #3F505B
            font-size 13px
            line-height 1.2
            display inline-block
            margin-left 15px
            
    &__compare
        position relative
        cursor pointer
        z-index 1
        text-decoration none
        display inline-block
        vertical-align middle
        
        svg 
            fill #B7C2C9
        
        &-text
            font-family Open Sans
            font-size 13px
            line-height 1
            letter-spacing -0.5px
            color #B7C2C9
            display inline-block
            vertical-align bottom
            margin-bottom 3px
            
            .in
                display none
    
    &__params
        margin-bottom 40px
        &-item
            display flex
            margin-bottom 10px
            position relative
            
            &:before
                content ""
                position absolute
                top 50%
                left -16px
                width 4px
                height 4px
                border-radius 4px
                background #3F505B
                margin-top -2px
        
            > span
                flex 1 1 0
                border-bottom 1px dotted #c0cad0
                margin 0 5px 2px
        
        &-name
            flex 0 0 auto
            font-weight 500
            line-height 1
            font-size 13px
            letter-spacing -0.5px
            color #3F505B
        &-value
            flex 0 0 auto
            font-size 13px
            line-height 1
            letter-spacing -0.5px
            color #3F505B
        
        &-all
            a
                font-size 14px
                letter-spacing -0.5px
                color #2577D7
    
    &__price-box
        margin-bottom 20px
        
    &__price
        display inline-block
        vertical-align top
        margin-right 20px
        font-weight 500
        line-height 1
        font-size 24px
        letter-spacing -0.5px
        color #D00000
    
    &__old-price
        position relative
        font-size 16px
        color #91A2AE
        display inline-block
        
        &:after
            content ""
            position absolute
            left -4px
            top 50%
            right -4px
            height 1px
            background #91a2ae
            
    &__nds
        position relative
        display inline-block
        vertical-align top
        font-family "Open Sans"
        line-height 1
        font-size 15px
        letter-spacing -0.5px
        color #3C4858
        margin-top 3px
        
        > span
            position relative
            display inline-block
            vertical-align middle
            width 14px
            height 14px
            border 1px solid #B7C2C9
            border-radius 2px
            margin-right 5px
            
            .svg-icon
                width 10px
                height 10px
                position absolute
                left 50%
                top 50%
                margin -5px 0 0 -5px
    

    &__button-box
        position relative
        font-size 0
        display flex
        flex-wrap wrap
        justify-content space-between
        
        &-left
            margin-bottom 10px
            margin-right 8px
            flex 0 0 auto
            
        &-right
            flex 1 0 auto
            max-width 252px
        
    .b-amount
        display inline-flex
        vertical-align top
        margin-left 8px
        
        &__error
            position absolute
            top -29px
            left 0
            font-size 12px
            letter-spacing -0.5px
            line-height 16px
            color #D00000
            display block
            
            .svg-icon
                width 16px
                height 16px
                fill #D00000
                vertical-align middle
                margin-right 5px
    
    &__added
        padding 12px 22px 11px
    
    &__buy-one-click
        display block
        
    .s-button.type-5
        padding 11px 30px 10px
        
    @media all and (max-width: 1023px)
        &__big-image
            &-help
                font-size 0
                
                .svg-icon
                    width 18px
                    height 18px
                    margin 0
                    
                    &--lupa
                        display none
                    
                    &--zoom-pic
                        display inline-block
        &__dop-images
            &-item
                width 56px
                height 56px
                margin 0
        &__name
            flex 0 0 100%
            font-weight 500
            margin-bottom 25px
        
        .flags
            &__item
                font-size 0
                padding 0 4px
                width 30px
                span
                    margin 0
        
        &__button-box-rigth
            flex 1 0 auto
            max-width 246px
            
    @media all and (max-width: 760px)
        display block
        
        &__name
            margin-bottom 10px
        
        &__information
            position relative
        &__images
            margin-right 0
            max-width 100%
            position relative
            padding-right 60px
        &__big-image
            &.owl-carousel .owl-item img
                max-height 150px
            &-item
                height 150px
                img
                    max-height 150px
            
            &-help
                position absolute
                bottom 0
                margin 0
                right 80px
                z-index 1
                height 18px
                    
        
        &__dop-images
            position absolute
            right 0
            bottom 0
            top 40px
            max-height 100%
            overflow auto
            
            &-item
                width 56px
                height 50px
                margin-bottom 5px
                img
                    width auto
                    height auto
                    max-width 100%
        
        &__flags-wr
            display flex
            justify-content space-between
            align-items center
            margin-right -60px
            
            .flags
                order 2
                > div
                    margin-right 0
                    margin-left 4px
        
        &__box-rating
            margin-bottom 10px
        
        &__price-box
            margin 0
            
        &__compare,
        &__params,
        &__button-box-rigth,
        .b-amount
            display none
        
        &__nds
            font-size 12px
            margin-top 4px
            span
                display none
        
        &__price
            font-size 20px
            margin-right 5px
        
        &__old-price
            font-size 16px
        
        &__button-box
            position absolute
            bottom 0
            right 0
            
            &-left
                margin 0
            
        &__added
            padding 10px 11px 9px
            margin 0
        
.flags
    &__item
        display inline-flex
        align-items center
        justify-content center
        vertical-align top
        margin-right 10px
        background #1166BB
        color #fff
        font-size 11px
        line-height 1
        padding 0 8px
        letter-spacing 0
        
        &--good
            background #FFB55F
        
        > span
            display inline-block
            margin-right 4px
            
            &.svg-icon
                width 16px
                height 16px
                fill #fff
                margin-right 0
        
        &:before
            content ""
            display block
            padding-top 30px
            width 1px