<form block="b-product-card" class="_js_product-item">
	<div elem="images">
		<div elem="flags-wr">
			<div block="flags">
				<div elem="item" mods="reestr">
					<span><img src="img/reestr-ico.png" alt=""></span>ГОСРЕЕСТР
				</div><!-- e:item -->
				<div elem="item" mods="good">
					<icon tag="span" name="good">
				</div><!-- e:item -->
			</div><!-- e:flags -->
			<div elem="code">Код товара: <span>302464</span></div><!-- e:code -->
		</div><!-- e:flags-wr -->
		<div elem="big-image">
			{% for item in productList %}
			<div elem="big-image-item" data-thumb="img/{{item.image}}" data-large="img/{{item.image}}">
				<a href="img/{{item.image}}"><img src="img/{{item.image}}" alt=""></a>
			</div><!-- e:big-image-item -->
			{% endfor %}
		</div><!-- e:big-image -->
		<div elem="big-image-help">Наведите курсор <icon tag="span" name="lupa"><icon tag="span" name="zoom-pic"></div><!-- e:big-image-help -->
		<div elem="dop-images">
			
		</div><!-- e:dop-images -->
	</div><!-- e:images -->
	<div elem="information">
		<h1 elem="name">Штангенциркуль с цифровым индикатором 0-150мм/0,01мм ЭНКОР 10740</h1><!-- e:h1 -->
		<div elem="box-rating">
			<div elem="rating">
				<div elem="rating-star" data-rating="80"><span></span></div><!-- e:rating-star -->
				<div elem="rating-title">4 отзыва</div><!-- e:elem -->
			</div><!-- e:rating -->
			<a elem="compare" class="_js_add_to_compare" href="#">
				<icon name="compare-icon" tag="span">
				<span elem="compare-text"><span class="to">В сравнение</span><span class="in">добавлено к сравению</span></span>	
			</a>
		</div><!-- e:box-rating -->
		<div elem="price-box">
			<div elem="price">
				<div>5 708 ₽</div>
				<div elem="old-price">5 708 ₽</div><!-- e:old-price -->
			</div><!-- e:price -->
			<div elem="nds">
				<span><icon tag="span" name="gal"></span> без НДС
			</div><!-- e:nds -->
		</div><!-- e:price-box -->
		<div elem="params">
			{% for item in params %}
			<div elem="params-item">
				<div elem="params-name">{{item.name}}</div><!-- e:params-name -->
				<span></span>
				<div elem="params-value">{{item.value}}</div><!-- e:params-value -->
			</div><!-- e:params-item -->
			{% endfor %}
			<div elem="params-all">
				<a href="#tabsparams">Все характеристики</a>
			</div><!-- e:params-all -->
		</div><!-- e:params -->
		<div elem="button-box">
			<div elem="button-box-left">
				<button elem="added" class="s-button type-2 _js_product_button">В КОРЗИНУ</button><!-- e:added -->
				<div block="b-amount" class="_js-amount">
	 				<button elem="button" class="minus disabled"></button>
	  				<input type="text" elem="number" data-min="5" value="5">
	  				<button elem="button" class="plus"></button>
	  				<div class="b-amount__error"><span class="svg-icon svg-icon--error-icon"><svg class="svg-icon__link"><use xlink:href="#error-icon"></use></svg></span>Минимальная партия покупки: 5 шт</div>
	  			</div>
  			</div><!-- e:button-box-left -->
			<div elem="button-box-rigth">
  				<a elem="buy-one-click"  href="#modal2" class="s-button type-5">Быстрый заказ</a><!-- e:buy-one-click -->
  			</div><!-- e:button-box-rigth -->
		</div><!-- e:button-box -->
	</div><!-- e:information -->
</form><!-- b:product-card -->