.city-chooser
  position relative
  padding-right 15px

  font-weight: 500
  line-height: 18px
  font-size: 16px
  text-decoration none
  color #232F36

  &:after
    content: ""
    position: absolute
    right: -7px
    top: 4px
    border: 6px solid transparent
    border-left: 6px solid #2577d7
