<form block="b-form" mods="horisontal" class="content-form">
	<div elem="title">Подпишитесь на нашу рассылку</div>
	<div elem="text">И узнавайте о всех акциях и новостях первыми</div>
	<div elem="container">
		<div elem="item" mods="email">	
			<div elem="error-note">Email ошибка ввода</div>	
			<input type="email" id="email" value="" requerid placeholder="Ваш Email">
			<div elem="item-close"><icon name="close-red" tag="span"></div>
		</div>
		<button elem="button">ПОДПИСАТЬСЯ</button>
	</div>
</form>