.b-banner
	background #eae6dd url(../img/banner.jpg) center center no-repeat
	background-size cover
	padding-top 35px
	padding-bottom 22px
	margin-bottom 64px
	&__container
		width 350px
		margin-left auto
		margin-right auto
	&__title
		color #232F36
		font-size 32px
		text-transform uppercase
		line-height 40px
		font-weight 500
		letter-spacing 1px

	&__text
		font-size 14px
		font-weight 500
		margin-bottom 5px

	&__link 
		font-size 14px
		font-weight normal
		padding 13px 30px 12px
		text-transform none
		
	@media (max-width 1023px) 	
		margin-bottom 56px
		&__title
			font-size 28px
			line-height 36px

	@media (max-width 830px) 
		background-position -215px center
		background-size auto
		
	@media (max-width 640px) 
		&__container
			margin-left 193px
			width auto
		&__title	
			font-size 22px
			line-height 27px
			
	
	@media (max-width 480px) 
		background-size 100% auto
		background-position center center
		padding-top 20px
		padding-left 20px
		padding-right 20px
		&__container
			width auto
			text-align center
			margin-left 0
		