<div block="b-banner">
	<div elem="container">
		<div elem="title">Ищете БЕЗУДАРНЫЕ ЭЛЕКТРОДРЕЛИ?</div>
		<div elem="text">У нас самый большой выбор</div>
		<a elem="link s-button type-3" href="#">Смотреть</a>
	</div>
</div>