<div block="compare-panel">
	<icon name="compare-icon" tag="span">
	В сравнении <span elem="total-checked">0</span> <span elem="text">товаров</span>
	<a elem="button" class="s-button" href="#">СРАВНИТЬ</a>
</div>