.compare-panel
	position fixed
	left 0
	right 0
	bottom 0
	background #FFC706
	color #232F36
	font-size 24px
	font-weight 500
	text-align center
	padding 43px 20px 35px
	z-index 8
	transition all .6s ease
	opacity 0
	visibility hidden
	.svg-icon
		margin-right 12px
		svg 
			fill #232F36
	&__total-checked		
		padding-left 1px
		padding-right 1px
	&__button
		padding-top 18px
		padding-bottom 15px
		width 176px
		margin-left 34px
		font-size 12px
		letter-spacing 0.08em
		
	&.show	
		opacity 1
		visibility visible

	@media (max-width 1023px)
		padding-top 14px 		
		padding-bottom 11px
		font-size 15px
		letter-spacing normal
		
		&__button
			width 118px
			padding-top 13px
			padding-bottom 11px
			margin-left 15px

	@media (max-width 400px) 
		font-size 14px
		padding-left 5px
		padding-right 5px
		.svg-icon
			margin-right 3px
			vertical-align bottom
			margin-bottom 9px
		&__button
			font-size 11px
			width auto
			padding-left 15px
			padding-right 15px
			margin-left 5px
		
	