<div block="cart-order" class="b-form">

	<div elem="mobile-header">
		<div elem="mobile-header-title">Корзина</div>

		<div class="cart-total">
			<div class="cart-total__price">110 708 ₽</div>
		</div>

	</div>

	<div elem="form">
		{% include 'cart-list-toggle.html' %}

		<h1 class="inner-title">Оформление заказа</h1>

		{% include 'cart-client-type.html' %}

		<div class="form-grid">
			<div class="form-grid__col w-1">
				<input type="text" value="" required placeholder="Ваше Имя">
			</div>
			<div class="form-grid__col w-2">
				<div class="b-form__item b-form__item--phone">
					<div class="b-form__item-name">Номер телефона</div>
					<div class="b-form__phone-container">
						<span class="b-form__country-flag">
							<div class="b-form__country-selected-flag _js_selected_country">
								<img src="img/flag-rf.svg" alt="">
								<span class="svg-icon svg-icon--arrow-b"><svg class="svg-icon__link"><use xlink:href="#arrow-b"></use></svg></span>
							</div>
							<div class="b-form__country-flags _js_select_country">
								<div data-phone-number="+7"><img src="img/flag-rf.svg" alt="">+7</div>
								<div data-phone-number="+8"><img src="img/flag-rf.svg" alt="">+8</div>
							</div>
						</span>
						<input type="tel" value="+7" required="" class="_js_phone-number">
					</div>
				</div>
			</div>
			<div class="form-grid__col w-2">
				<div block="floated-input">
					<input elem="input" type="email" name="client-email" id="client-email" required>
					<label elem="label" for="client-email">Email</label>
					<div elem="fake"></div>
				</div>
			</div>
		</div>

		<div class="lawyer-fields">
			<div class="form-grid">
				<div class="form-grid__col w-1">
					<div class="b-form__row b-form__row--file">
						<div class="b-form__file-container mobile type-1 has-file">
							<div class="b-form__error-note expansion">Не верный формат файла</div>
							<div class="b-form__error-note size">Файл не должен превышать 10Mb </div>
							<input type="file">
						</div>
					</div>
				</div>
				<div class="form-grid__col w-1">
					<div class="b-form__row b-form__row--file">
						<button class="lawyer-fields-handy-btn" type="button">
							Ввести реквизиты вручную
						</button>
					</div>
				</div>
			</div>

			<div class="lawyer-fields-handy">
				<div class="form-grid">
					<div class="form-grid__col w-1">
						<input type="text" value="" required placeholder="Название организации">
					</div>
					<div class="form-grid__col w-1">
						<input type="text" value="" required placeholder="ИНН">
					</div>
					<div class="form-grid__col w-1">
						<input type="text" value="" required placeholder="КПП">
					</div>
					<div class="form-grid__col w-1">
						<input type="text" value="" required placeholder="Юридический адрес">
					</div>
				</div>
			</div>

		</div>

		{% include 'new-cart-form-radio-button-group.html' %}

		{% include 'cart-on-map.html' %}

		<div class="courier-fields">
			<div class="form-grid">
				<div class="form-grid__col w-1">
					<input type="text" value="" required placeholder="Адрес">
				</div>
				<div class="form-grid__col form-grid__col--m-2">
					<input type="text" value="" required placeholder="Дом">
				</div>
				<div class="form-grid__col form-grid__col--m-2">
					<input type="text" value="" required placeholder="Корпус">
				</div>
				<div class="form-grid__col form-grid__col--m-2">
					<input type="text" value="" required placeholder="Строение">
				</div>
				<div class="form-grid__col form-grid__col--m-2 w-3">
					<input type="text" value="" required placeholder="Квартира/офис">
				</div>
			</div>
		</div>

		{% include 'cart-payment-methods.html' %}

		<div class="card-form__submit">
			<div class="b-form__item b-form__item--greement">
				<input type="checkbox" checked="checked">
				<span>Я согласен на обработку персональных данных</span>
			</div>

			<button class="s-button type-2">ПОДТВЕРДИТЬ И ЗАКАЗАТЬ</button>
		</div>

	</div>
	<div elem="list">
		<h2 class="inner-title">В корзине</h2>

		<div elem="table-wrap">
			{% include 'cart-table.html' %}
		</div>
		<div block="cart-table-slide">
			<div elem="ctrl">
				<a href="#" class="arrow-curcle-btn"></a>
			</div>
		</div><!-- b:cart-table-slide -->

		{% include 'cart-total.html' %}
	</div>
</div><!-- b:cart-order -->
