cart-order-gutter = 56px

.cart-order
    position relative
    display flex
    flex-direction column
    margin-bottom 145px

    .inner-title,
    .cart-total
        display none

    .b-form__item--greement
        font-size 12px
        line-height 14px

        .jq-checkbox
            vertical-align top

    .s-button
      display block
      height 56px
      text-align center
      box-shadow none
      width 100%
      max-width 508px
      margin-left auto
      margin-right auto

    &__mobile-header
        display flex
        justify-content space-between
        align-items center
        margin-bottom 20px

        &-title
            line-height: 24px
            font-weight 500
            font-size: 20px
            letter-spacing: -0.5px
            margin 0

        .cart-total
            flex 1
            max-width 50%
            display block
            line-height: 24px
            font-size: 20px
            letter-spacing: -0.5p
            margin 0
            padding 10px

            &:before
                top auto
                bottom 0

    &__form,
    &__list

        .inner-title
            margin-top 0


    &__form
        order 2
        z-index 5
        background-color #fff

        .cart-list-toggle
            display none
            transition none

    &__list
        order 1
        z-index 3
        margin-bottom 30px

    &__table-wrap
      position relative
      overflow: hidden

      @media (min-width: 1140px)
        height auto !important

      + .cart-table-slide
        margin-top 16px

        &.is-opened .arrow-curcle-btn
          transform rotate(135deg)

    .jq-file
        border none
        background-color transparent
        display flex
        align-items center

        input
            line-height 1
            height 100%

        &__name
            height 56px
            margin 0
            padding 0
            background-color #2577D7
            color #fff
            line-height 56px
            text-align center
            font-size: 14px
            letter-spacing: 1px
            text-transform: uppercase
            cursor pointer

            &:before
                position static
                display inline-block
                vertical-align top
                background: url("../img/clip-white.svg") 0 0 no-repeat
                position: static
                display: inline-block
                vertical-align: top
                margin-top: 19px
                margin-right: 13px

        &__browse
            display none
            z-index 10

        &__refresh
            display none
            color #D00000
            margin-top: -4px
            margin-left: 14px
            z-index 10
            cursor pointer

        &.changed

            .jq-file


                &__name
                    background-color transparent
                    color #232F36
                    width auto

                &__refresh
                    display inline-block

    .b-form__error-note
        padding 0

    .error.expansion
        .b-form__error-note.expansion
            display block
    .error.size
        .b-form__error-note.size
            display block

    .lawyer-fields,
    .courier-fields
        display none

.lawyer-fields-handy
    display none

.lawyer-fields-handy-btn
    display block
    width 100%
    height 56px
    background-color #EFF4F8
    border: 0.5px solid #B7C2C9
    border-radius: 2px
    font-size 14px
    line-height 14px
    color #232F36
    text-transform none
    font-weight 400
    box-shadow none

    &:after
        content ''
        display inline-block
        vertical-align top
        width 14px
        height 14px
        background: url(../img/arrow-down.svg) center center no-repeat
        transition transform .3s linear

    &:hover
        background: darken(#EFF4F8, 10%)

    &.is-opened:after
        transform rotate(180deg)


@media (min-width: 1140px)

    .cart-order
        flex-direction row

        &__mobile-header
            display none

        .inner-title
            display block

        &__form,
        &__list
            position relative
            padding-top cart-order-gutter

        &__form
            order 1
            flex 1
            padding-right 76px
            // transition margin .3s linear

            .cart-list-toggle
                display inline-block
                position absolute
                right -65px
                top 0

        &__list
            order 2
            flex 0 0 52%
            max-width 52%
            padding-left 24px
            margin-bottom 0
            transition opacity .3s linear

            &:before
                content ''
                position absolute
                z-index 3
                top 0
                left 0
                width 1px
                height 90px
                background-color rgba(#B7C2C9, .6)

            .cart-total
                display flex

        &._js-is-overlap

            .cart-order__form
                margin-right calc(0px - 38% - 58px)
                box-shadow: inset -7px 0 9px -5px rgba(1,99,143,0.15)

                .cart-list-toggle
                    right -41px

            .cart-order__list
                pointer-events none
                opacity 0

            .b-form__item--greement
                text-align center


