<div block="compare-features">
	<div elem="head">
		<div class="compare-tag-select is-active">Штангенциркули </div>
		<div class="compare-tag-select">Шуруповерты</div>
		<div class="compare-tag-select">Микрометры</div>
	</div>
	<ul block="compare-fields">
		<li elem="field">Цена</li>
		<li elem="field">Производитель</li>
		<li elem="field">Страна</li>
		<li elem="field">Тип</li>
		<li elem="field">Диапазон измерения</li>
		<li elem="field">Цена деления</li>
	</ul>
</div><!-- b:compare-features -->
