.compare-features
  display flex
  flex-direction column
  background-color #fff
  width 100%

  &__head
    padding-top 40px
    flex 1
    -ms-flex 1 0 auto

  .compare-fields
    text-align left
    font-weight 500
