<form block="b-filter" action="#">
	<div elem="container">
	<div elem="title">Фильтры</div>
		<div elem="sub-title">
			<span elem="sub-title-mobile">Ваши фильтры</span>
			<a elem="reset" class="reset-all" href="#">Сбросить все <span>фильтры</span></a>
		</div>
		<div elem="selected-container"></div>
		<div elem="sub-title">
			<span elem="sub-title-mobile">Все фильтры</span>			
		</div>
		<div elem="item" mods="price">
			<div elem="item-params-container" data-list-index="100">
				<div elem="item-name">Цена,  ₽</div>
				<div elem="item-params-list">				
					<div elem="item-name" mods="mobile">Цена,  ₽</div>
					<div elem="item-params-list-container">
						<div elem="price" mix="block:range_slider_wrapper">
							<div class="input_range_slider"></div>
							<div elem="inputs-container">
								<div elem="field">
									<span>от</span>
									<input type="text" class="low" value="72" data-val="72">
								</div>
								<div elem="field">
									<span>до</span>
									<input type="text" class="hight" value="1200300" data-val="1200300">
								</div>
								<a href="#" elem="reset-price"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-params-container" data-list-index="0">
				<div elem="item-name">Производитель</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Производитель</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>31 ВЕК</span></div>
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>PATRIOT</span></div>
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>Abac</span></div>				
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>Piher</span></div>				
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>AE</span></div>				
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>Powerman</span></div>				
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>Airline</span></div>				
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>Pro Lift</span></div>				
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>Aquafit</span></div>				
							<div elem="item-param" data-item-index="9"><input type="checkbox" class="_js_p-elem"><span>PULI</span></div>				
							<div elem="item-param" data-item-index="10"><input type="checkbox" class="_js_p-elem"><span>Archimedes</span></div>				
							<div elem="item-param" data-item-index="11"><input type="checkbox" class="_js_p-elem"><span>QUATTRO ELEME...</span></div>		
							<div elem="item-param" data-item-index="12"><input type="checkbox" class="_js_p-elem"><span>ATS</span></div>				
							<div elem="item-param" data-item-index="13"><input type="checkbox" class="_js_p-elem"><span>Redbo</span></div>				
							<div elem="item-param" data-item-index="14"><input type="checkbox" class="_js_p-elem"><span>Aurora</span></div>				
							<div elem="item-param" data-item-index="15"><input type="checkbox" class="_js_p-elem"><span>RedHotDot</span></div>			
							<div elem="item-param" data-item-index="16"><input type="checkbox" class="_js_p-elem"><span>AVIORA</span></div>			
							<div elem="item-param" data-item-index="17"><input type="checkbox" class="_js_p-elem"><span>REDIUS</span></div>			
							<div elem="item-param" data-item-index="18"><input type="checkbox" class="_js_p-elem"><span>BAMBI</span></div>			
							<div elem="item-param" data-item-index="19"><input type="checkbox" class="_js_p-elem"><span>Remeza</span></div>			
							<div elem="item-param" data-item-index="20"><input type="checkbox" class="_js_p-elem"><span>Battery Service</span></div>		
							<div elem="item-param" data-item-index="21"><input type="checkbox" class="_js_p-elem"><span>Remontix</span></div>			
							<div elem="item-param" data-item-index="22"><input type="checkbox" class="_js_p-elem"><span>BERKUT</span></div>			
							<div elem="item-param" data-item-index="23"><input type="checkbox" class="_js_p-elem"><span>REXANT</span></div>			
							<div elem="item-param" data-item-index="24"><input type="checkbox" class="_js_p-elem"><span>BESSEY</span></div>			
							<div elem="item-param" data-item-index="25"><input type="checkbox" class="_js_p-elem"><span>Ring Automotive</span></div>		
							<div elem="item-param" data-item-index="26"><input type="checkbox" class="_js_p-elem"><span>BestWeld</span></div>			
							<div elem="item-param" data-item-index="27"><input type="checkbox" class="_js_p-elem"><span>Rothenberger</span></div>			
							<div elem="item-param" data-item-index="28"><input type="checkbox" class="_js_p-elem"><span>Black&Decker</span></div>			
							<div elem="item-param" data-item-index="29"><input type="checkbox" class="_js_p-elem"><span>Rotorica</span></div>			
							<div elem="item-param" data-item-index="30"><input type="checkbox" class="_js_p-elem"><span>Blue Weld</span></div>			
							<div elem="item-param" data-item-index="31"><input type="checkbox" class="_js_p-elem"><span>RUBI</span></div>			
							<div elem="item-param" data-item-index="32"><input type="checkbox" class="_js_p-elem"><span>Bosch</span></div>			
							<div elem="item-param" data-item-index="33"><input type="checkbox" class="_js_p-elem"><span>RUCELF</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" mods="type-2">
			<div elem="item-params-container" data-list-index="1">
				<div elem="item-name">Принцип действия</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Принцип действия</div>
					<div elem="item-params-list-container">	
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>Электронный</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>Механический</span></div>
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>			
			</div>
			<div elem="item-params-container" data-list-index="2">
				<div elem="item-name">Тип отсчетного устройства</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Тип отсчетного устройства</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>Нониусный</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>С круговой шкалой</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>Цифровой (электронный)</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>			
			</div>
			<div elem="item-params-container" data-list-index="3">
				<div elem="item-name">Тип</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Тип</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>Тип 1</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>Тип 2</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>Для измерения внутренних канавок</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>Для измерения наружных канавок</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>Для измерения толщины швов</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>Для измерения уступов</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>Трубный</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>			
			</div>
			<a href="#" elem="view-all">Показать все (<span>17</span>)</a>
		</div>
		<div elem="item">
			<div elem="item-params-container" data-list-index="4">
				<div elem="item-name">Диапазон измерений</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Диапазон измерений</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="9"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
							<div elem="item-param" data-item-index="10"><input type="checkbox" class="_js_p-elem"><span>0-800</span></div>	
							<div elem="item-param" data-item-index="11"><input type="checkbox" class="_js_p-elem"><span>0-225</span></div>	
							<div elem="item-param" data-item-index="12"><input type="checkbox" class="_js_p-elem"><span>0-1000</span></div>	
							<div elem="item-param" data-item-index="13"><input type="checkbox" class="_js_p-elem"><span>0-250</span></div>	
							<div elem="item-param" data-item-index="14"><input type="checkbox" class="_js_p-elem"><span>0-1500</span></div>	
							<div elem="item-param" data-item-index="15"><input type="checkbox" class="_js_p-elem"><span>0-300</span></div>	
							<div elem="item-param" data-item-index="16"><input type="checkbox" class="_js_p-elem"><span>0-2000</span></div>	
						</div>		
					</div>		
					<div elem="back-btn" class="s-button">Готово</div>		
				</div>			
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" mods="single"> 
			<div elem="item-params-container" data-list-index="5">
				<div elem="item-name">Только один возможный вариант из двух</div>
				<div elem="item-param" data-item-index="0"><input type="checkbox" checked class="_js_p-elem-single"><span>Да</span></div>	
				{#<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Только один возможный вариант из двух</div>
					<div elem="item-param" data-item-index="0"><input type="checkbox" checked class="_js_p-elem-single"><span>Да</span></div>	
				</div>#}
			</div>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="6">
				<div elem="item-name">Цена деления</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Цена деления</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" mods="single"> 
			<div elem="item-params-container" data-list-index="55">
				<div elem="item-name">Только один возможный вариант из двух вариант 2</div>
				<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem-single"><span>нет</span></div>
				{#<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Только один возможный вариант из двух</div>
					<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>Да</span></div>	
				</div>#}
			</div>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="7">
				<div elem="item-name">Глубиномер</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Глубиномер</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="8">
				<div elem="item-name">Общая длина нижних измерительных губок, мм</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Общая длина нижних измерительных губок, мм</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>	
					</div>	
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="9">
				<div elem="item-name">Поверка/ калибровка</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Поверка/ калибровка</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" class="toggle"> 
			<div elem="item-params-container" data-list-index="10">
				<div elem="item-name">Краткое обозначение</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Краткое обозначение</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="11">
				<div elem="item-name">Конструкция рамки</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Конструкция рамки</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
		<div elem="item" class="toggle">
			<div elem="item-params-container" data-list-index="12">
				<div elem="item-name">Класс точности</div>
				<div elem="item-params-list">
					<div elem="item-name" mods="mobile">Класс точности</div>
					<div elem="item-params-list-container">
						<div elem="for-checked-items-container">
							<div elem="sub-title">
								<span elem="sub-title-mobile">Ваши фильтры</span>
								<a elem="items-reset" href="#">Сбросить все</a>
							</div>
							<div elem="selected-items-container"></div>
							<div elem="sub-title"><span elem="sub-title-mobile">Все фильтры</span></div>
						</div>
						<div elem="list-box">
							<div elem="item-param" data-item-index="0"><input type="checkbox" class="_js_p-elem"><span>0-20</span></div>	
							<div elem="item-param" data-item-index="1"><input type="checkbox" class="_js_p-elem"><span>0-400</span></div>	
							<div elem="item-param" data-item-index="2"><input type="checkbox" class="_js_p-elem"><span>0-100</span></div>	
							<div elem="item-param" data-item-index="3"><input type="checkbox" class="_js_p-elem"><span>0-500</span></div>	
							<div elem="item-param" data-item-index="4"><input type="checkbox" class="_js_p-elem"><span>0-125</span></div>	
							<div elem="item-param" data-item-index="5"><input type="checkbox" class="_js_p-elem"><span>0-600</span></div>	
							<div elem="item-param" data-item-index="6"><input type="checkbox" class="_js_p-elem"><span>0-150</span></div>	
							<div elem="item-param" data-item-index="7"><input type="checkbox" class="_js_p-elem"><span>0-630</span></div>	
							<div elem="item-param" data-item-index="8"><input type="checkbox" class="_js_p-elem"><span>0-200</span></div>	
						</div>
					</div>
					<div elem="back-btn" class="s-button">Готово</div>
				</div>
			</div>
			<a href="#" elem="view-all">Показать все (<span>47</span>)</a>
		</div>
	</div>
	<button elem="button" class="s-button">Применить выбранные фильтры</button>
</form>