.b-filter
    padding-top 15px
    font-size 14px
    letter-spacing normal
    &__title
        font-weight 500
        font-size 20px
        padding-left 40px
        padding-bottom 14px
        color #232F36
        display none
    &__sub-title-mobile 
        display none
    &__reset
        display inline-block
        margin-bottom 27px
        text-decoration none
        &:hover
            text-decoration underline
    
    &__item-name
        font-size 14px
        color #232F36
        font-weight 500     
        position relative
        line-height normal
        transition all .5s ease
        &--mobile 
            display none
        
    .input_range_slider 
        margin-bottom 23px
        
    .noUi-horizontal .noUi-handle   
        &:active
            z-index 2
            
        span 
            position absolute
            left 50%
            top -25px
            transform translateX(-50%) 
            font-size 12px
            color #232F36
            padding-left 3px
            padding-right 3px
            background #fff
            white-space nowrap
        
    &__inputs-container
        display flex
        justify-content space-between
        
    &__field    
        position relative
        width 48.5%
        span 
            position absolute
            left 8px
            top 50%
            font-size 12px
            color #232F36
            transform translateY(-52%) 
        input   
            width 100%
            padding-top 0
            height 32px
            color #4C728B
            padding-left 28px
            padding-right 15px
            
    &__item
        margin-bottom 24px
        padding-bottom 14px
        border-bottom 1px solid #b7c2c9
        &--price
            border 0
            padding-bottom 0
            max-width 230px
            & ^[0]
                &__item-name
                    margin-bottom 37px
        &--type-2
            & ^[0]
                &__item-params-container
                    margin-bottom 5px
                &__item-params-list-container
                    display block
                &__item-param   
                    white-space normal
                    width auto
                &__list-box    
                    display block
        &--single           
            & ^[0]
                &__item-name
                    margin-bottom 7px
        &.toggle
            cursor pointer      
            padding-bottom 7px
            margin-bottom 7px
            border 0
            & ^[0]
                &__item-params-list
                    display none
                    
                &__item-name        
                    padding-left 40px   
                    margin-bottom 0     
                    
                    &:after
                        content ""
                        position absolute
                        left 0
                        top 7px
                        width 8px
                        height 5px
                        background url(../img/arrow-b-black.svg) center center no-repeat
                        
                &__view-all
                    height 0                     
                    transition all .3s ease
                        
            &.opened    
                padding-bottom 14px
                border-bottom 1px solid #B7C2C9     
                margin-bottom 19px      
                & ^[0]  
                    &__item-params-list,
                    &__view-all
                        display block   
                    &__item-name
                        &:after
                            transform rotate(180deg) 
                    &__view-all
                        height 24px
                        
    &__for-checked-items-container                    
        display none
        
    &__list-box    
        display flex
        flex-wrap wrap
        
    &__item-params-list-container
        display flex
        flex-wrap wrap
        
    &__item-params-list
        padding-top 10px
        padding-bottom 7px
        
    &__item-param
        width 50%
        margin-bottom 7px
        font-size 13px
        line-height normal
        white-space nowrap
        text-overflow ellipsis  
        display flex
        
        .jq-checkbox
            margin 0 10px 2px 0
        span 
            white-space nowrap
            text-overflow ellipsis  
            overflow hidden
            
    &__selected-container        
        display none
        
    &__view-all
        font-size 13px
        color #3F505B
        text-decoration none
        font-weight 500
        display block
        overflow hidden
    
    &__back-btn
        font-size 14px
        padding 16px 10px 15px
        border-radius 0
        display none
        box-shadow none

    &__button
        font-size 14px
        font-weight normal
        text-transform none
        display block
        display none
        padding 16px 10px 15px
        border-radius 0
        box-shadow none
        
    @media (max-width 1023px) 
        position fixed  
        background #fff
        left 0
        top 54px
        bottom 0
        width 100%
        margin-top 0
        padding-left 0
        padding-right 0
        z-index 8
        display block
        transition all .3s ease
        transform translateX(-100%) 
        &.opened
            transform translateX(0) 
        &.no-scroll
            overflow hidden
        &.show-submit-btn    
            & ^[0]
                &__container             
                    bottom 48px
                &__button    
                    display block
        &__container             
            position absolute
            left 0    
            top 1px
            padding-top 68px
            bottom 0
            right 0
            overflow-y auto
        &__title
            display block
            position fixed
            z-index 1
            left 0
            top 2px
            right 0
            padding-top 25px
            padding-bottom 17px
            background #fff
            border-bottom 1px solid #b7c2c9
            
        &__sub-title-mobile 
            display block
            
        &__item 
            margin-bottom 0
            padding-bottom 0
            border 0
            &--price
                max-width none
                & ^[0]  
                    &__item-name
                        margin-bottom 0
                        &--mobile
                            margin-bottom 15px

            &--single   
                position relative
                .b-filter__item-params-container
                    &.opened
                        .b-filter__item-params-list
                            transform translateY(-50%) 

                & ^[0]  
                    &__item-name
                        padding-right 70px !important
                        margin-bottom 0
                        &--mobile
                            display none
                        &:after
                            display none
                    &__item-param        
                        position absolute
                        transform translateY(-50%) 
                        top 50%
                        right 24px
                        width 36px
                        padding 0
                        background none
                        left auto
                        z-index 0
                    &__item-param
                        padding 0
                        width 36px
                        border 0
                        font-size 0
                        left auto
                        bottom auto
                        padding 0
                        .jq-checkbox
                            width 36px
                            height 19px                            
                            background #B7C2C9
                            border-radius 50px
                            margin-right 0
                            input 
                                width 100%
                            &__div
                                top 1px
                                left 0
                                right auto
                                width 17px    
                                height 17px
                                background #fff
                                border-radius 50px
                                transition all .3s ease
                            &.checked    
                                background rgba(#2577D7, 0.3)
                                border-color rgba(#2577D7, 0.3)
                                border 0
                                .jq-checkbox__div
                                    top 1px
                                    left 18px
                                    width 17px    
                                    height 17px
                                    border 0
                                    background #2577D7
                                    margin 0
                                    transform rotate(0) 
                                        
            &.toggle.opened
                margin-bottom 0
                padding-bottom 0
                border-bottom 0
                .b-filter__view-all
                    display none    
                .b-filter__item-name
                    &:after        
                        transform translateY(-50%) 
                        
        &__inputs-container
            border-bottom 1px solid #B7C2C9
            justify-content flex-start
            position relative
            
        &__reset-price  
            position absolute
            right 35px
            top 10px
            width 10px
            height 10px
            display none
            background url(../img/close-red.svg) center center no-repeat
                
        &__field
            margin-left 15px 
            width 35.5%
            span 
                transform translateY(-46%)
                font-size 12px
                color #232F36
            input    
                border 0
                font-size 16px
                &.tpp 
                    color #2577D7                
                
        &__list-box        
            display block
            
        .input_range_slider        
            display none
            
        &__selected-container    
            display block
            
        &__sub-title                    
            background #EFF4F8
            display none
            justify-content space-between
            padding 10px 30px 10px 40px  
            line-height 1
            font-size 12px
            border-bottom 1px solid #B7C2C9
            &.show
                display flex
            
        &__reset,
        &__items-reset
            margin-bottom 0
            font-size 12px
            margin-right 0
            color #D00000
            text-decoration none
            &:hover
                text-decoration none
            span 
                display none                 
                    
        &__item-params-container    
            margin-bottom 0 !important
            
        &__item 
            &.toggle    
                margin-bottom 0
                padding-bottom 0
                & ^[0]
                    &__item-name
                        padding-right 50px
                        &:after             
                            content ""
                            position absolute
                            right 30px
                            left auto
                            top 50%
                            transform translateY(-50%) 
                            width 5px 
                            height 8px  
                            background url(../img/arrow-r-black.svg) center center no-repeat
                        &--mobile   
                            display block
                            padding-left 58px !important
                            padding-right 20px
                            font-size 16px
                            border-bottom 0
                            font-weight 500
                            margin-bottom 8px
                            
                            &:after
                                right auto
                                left 20px
                                width 16px
                                height 16px
                                background url(../img/menu-l-arr-black.svg) center center no-repeat
                                transform translateY(-50%)  !important
                                
                                
                    &__item-params-list
                        display flex       
            &--type-2
                .b-filter__item-params-list            
                    display flex
        &__item-name
            position relative
            padding 12px 50px 12px 40px
            font-size 12px
            font-weight normal
            border-bottom 1px solid #B7C2C9
            
            &:after             
                content ""
                position absolute
                right 30px
                top 50%
                transform translateY(-50%) 
                width 5px 
                height 8px  
                background url(../img/arrow-r-black.svg) center center no-repeat
                
            &--mobile   
                display block
                padding-left 58px
                font-size 16px
                border-bottom 0
                font-weight 500
                margin-bottom 8px
                padding-top 14px
                &:after
                    right auto
                    left 20px
                    width 16px
                    height 16px
                    background url(../img/menu-l-arr-black.svg) center center no-repeat

        &__view-all 
            display none
            
        &__item-params-list-container    
            width 100%
            display block
            flex 1
            overflow-y auto
            // border-top 1px solid #b7c2c9
            
        &__item-params-list
            position fixed
            left 0
            top 0
            bottom 0
            padding-bottom 0
            padding-top 20px
            // overflow-y auto
            transition all .3s ease
            width 100%
            transform translateX(-100%) 
            z-index 1
            background #fff
            display flex
            flex-direction column
            flex-wrap wrap

        
        &__item-params-container    
            &.opened
                & ^[0]
                    &__item-params-list
                        transform translateX(0) 
                        
        &__item-param           
            margin-bottom 0
            width auto
            padding 10px 18px 10px 18px
            border-bottom 1px solid #B7C2C9
            color #232F36
            font-size 14px
            line-height 18px
            .jq-checkbox
                width 18px
                height 18px
                margin-right 24px
                margin-bottom 0
                input 
                    width 17px
                    height 17px
                    // z-index 1
                        
                &.checked
                    border-color #2577D7
                    background #2577D7
                    
                    .jq-checkbox__div
                        border-left 2px solid #fff
                        border-bottom 2px solid #fff
                        width 9px
                        height 5px
                        background none
                        transform rotate(-54deg) 
                        margin 4px 0 0 3px
            &.single
                font-size 0 
                padding 0
                border 0
                .jq-checkbox
                    width 36px
                    height 19px                            
                    background #B7C2C9
                    border-radius 50px
                    margin-right 0
                    input 
                        width 100%
                    &__div
                        top 1px
                        left 0
                        right auto
                        width 17px    
                        height 17px
                        background #fff
                        border-radius 50px
                        transition all .3s ease
                    &.checked    
                        background rgba(#2577D7, 0.3)
                        border-color rgba(#2577D7, 0.3)
                        border 0
                        .jq-checkbox__div
                            top 1px
                            left 18px
                            width 17px    
                            height 17px
                            border 0
                            background #2577D7
                            margin 0
                            transform rotate(0)            
        &__checked-param
            padding 10px 29px 10px 62px
            border-bottom 1px solid #B7C2C9
            position relative
            display flex
            justify-content space-between
            align-items center
            line-height 16px
            .remove-item
                position absolute
                left 40px
                top 50%
                width 10px
                height 10px
                margin-top -5px
                background url(../img/close-red.svg) center center no-repeat
            .parent-name    
                color #232F36
                max-width 50%
                font-size 12px
            .items-container    
                position relative
                padding-right 20px
                &:after
                    position absolute
                    content ""
                    position absolute
                    right 0
                    top 50%
                    width 5px
                    height 8px  
                    margin-top -5px
                    background url(../img/arrow-r-black.svg) center center no-repeat
                    text-transform lowercase 
                    white-space nowrap
                    text-overflow ellipsis
                    overflow hidden
            .item-name  
                color #91A2AE
                padding-right 3px
                position relative
                min-width 90px
                max-width 50%
                margin-right 2px
                &:after
                    content ","
                &:last-child    
                    &:after
                        display none
            &.single
                padding-right 24px        
        &__back-btn           
            font-size 14px
            text-transform none
            font-weight normal
            margin-top auto
            width 100%
        .selected  
            & ^[0]  
                &__item-name
                    display none
                    &--mobile 
                        display block
        
        &__for-checked-items-container
            border-top 1px solid #b7c2c9
            display none
            &.show
                display block
            & ^[0]    
                &__sub-title
                    display flex

        .show-btn
            & ^[0]  
                &__back-btn
                    display block
                    
        &__button
            // display block
            width 100%        
            position absolute
            left 0 
            bottom 0
            right 0

    @media (max-width 640px) 
        &__title
            padding-left 16px
        &__sub-title,
        &__item-name    
            padding-left 16px !important
            padding-right 27px !important
        &__item-name    
            &--mobile
                padding-left 58px !important
        &__checked-param    
            padding-left 42px
            .remove-item    
                left 18px
    

    @media (max-width 360px) 
        width 100%
        &__item-params-list
            width 100%
        &__back-btn
            width 100%
            padding-left 0            
    