.content-menu
    padding 22px 24px 0
    margin-bottom 56px
    position relative
    flex none
    z-index 8
    display none
    &__title
        margin-bottom 18px
        font-size 16px
        color #232F36
    .search-form
        right 24px
        top 23px
        left 24px  
        padding-right 27px
        width auto
        margin-right 0
        input
            &::placeholder
                font-size 0
        button   
            width 18px
        span     
            top 1px
            right -2px
    ul 
        > li         
            border-bottom 1px solid #B7C2C9
            > a
                text-decoration none
                font-weight 300
                color #000
                font-size 14px
                display block
                display flex
                align-items center
                padding 8px 10px 7px 11px
                line-height 16px
                .icon 
                    margin-right 18px
                    width 25px
                    text-align center
            &.opened        
                ul 
                    transform translateX(0) 
            ul     
                position fixed
                padding-top 14px
                left 0
                top 56px
                bottom 0
                width 100%
                background #fff
                overflow-y auto
                transition all .3s ease
                transform translate(-100%) 
                li 
                    &:first-child 
                        border-bottom 0
                    a 
                        padding 12px 23px 11px 23px
                        font-size 14px
                        color #3C4858
                        line-height 16px
                        font-weight normal
                        &.back
                            position relative
                            font-size 16px
                            font-weight 500
                            line-height 24px
                            color #232F36
                            padding 14px 0 12px 57px
                            
                            &:after
                                content ""
                                position absolute
                                left 19px
                                top 50%
                                margin-top -8px
                                width 16px
                                height 16px
                                background url(../img/menu-l-arr-black.svg) center center no-repeat
    @media (max-width 640px) 
        display block
    