<nav block="content-menu">
	<div elem="title">Каталог</div>
	<ul>
		<li class="has-levels">
			<a href="#"><span class="icon"><img src="img/m-c-ico1.svg" alt=""></span>Измерительный инструмент</a>
			<ul>
				<li><a href="#">Индикаторы, головки измерительные</a></li>
				<li><a href="#">Колеса измерительные (курвиметры)</a></li>
				<li><a href="#">Кубы поверочные</a></li>
				<li><a href="#">Лазерные дальномеры</a></li>
				<li><a href="#">Призмы поверочные</a></li>
				<li><a href="#">Приспособления для измерительного инструмента</a></li>
				<li><a href="#">Штифты</a></li>
				<li><a href="#">Интерфейсы</a></li>
				<li><a href="#">Глубиномеры</a></li>
				<li><a href="#">Штангенциркули</a></li>
				<li><a href="#">Шаблоны и щупы</a></li>
				<li><a href="#">Приспособления для измерительного инструмента</a></li>
				<li><a href="#">Штифты</a></li>
				<li><a href="#">Интерфейсы</a></li>
				<li><a href="#">Глубиномеры</a></li>
				<li><a href="#">Штангенциркули</a></li>
				<li><a href="#">Шаблоны и щупы</a></li>
			</ul>	
		</li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico2.svg" alt=""></span>Ручной инструмент</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico3.svg" alt=""></span>Электроинструмент</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico2.svg" alt=""></span>Оборудование и силовая техника</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico4.svg" alt=""></span>Расходные материалы</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico2.svg" alt=""></span>Станочная оснастка</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico4.svg" alt=""></span>Садовая техника</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico2.svg" alt=""></span>Хозтовары</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico2.svg" alt=""></span>Электрика и свет</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico4.svg" alt=""></span>Автосервисное оборудование</a></li>
		<li><a href="#"><span class="icon"><img src="img/m-c-ico4.svg" alt=""></span>Бренды</a></li>
	</ul>
</nav>