.cart-table-price
    line-height 21px
    white-space: nowrap;

    &__cost
        // font-size: 14px
        line-height: 22px
        font-size: 16px
        color: #232F36
        font-weight 500

    &__per-one,
    &__discount
        line-height 12px
        font-size: 12px

    &__per-one
        color: #91A2AE

    &__discount
        margin-top 3px
        font-weight 500
        color #e10c32
