.landing-request-form
	
	&__inner
		max-width 1048px
		margin 0 auto
		width 100%
		padding 130px 20px 156px
		
	&__title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #232F36;
		text-align center
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			width 64px
			height 3px
			background-color #2577D7
			bottom 0
			left 50%
			transform translateX(-50%)
			
	&__block
		margin 85px 0 0 0
		display flex
		padding 0 44px
		
	&__block-item
		flex 0 0 25%
		width 25%
		max-width 25%
		padding-right 20px
		display flex
		align-items center
		justify-content flex-end
		
	&__block-item-inner
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		
	&__block-item-icon
		flex 0 0 31px
		font-size 0
		line-height 0
		margin-right 22px
		
		img
			max-width 100%
			
	&__block-item-content
		font-family: Open Sans;
		font-size: 14px;
		letter-spacing: -0.5px;
		color: #2577D7;
		
	&__form
		margin-top 60px
		
		&.application-wrapper
		
			.b-form
				
				&__container-r
					max-width 100%			
					width 100%
					margin-left 0
					padding 0
					
				&__landing-row
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					margin-left -16px
					
					& > .b-form__item
						padding-left 16px
						flex 0 0 50%
						width 50%
						max-width 50%	
						
					.b-form__row
						padding-left 16px
						flex 0 0 50%
						width 50%
						max-width 50%
					
				&__item
					margin-bottom 30px
					
					&--name
						input
							height 58px
							
					&--phone
						height 60px
						
					&--email
						input
							height 60px
					
				&__bot-container
					flex-direction column
					
					.b-form__item--greement
						margin-right 0
						max-width 320px
						
					.b-form__item--button
						max-width 280px
						margin-bottom 0
						
@media (max-width: 980px)
	.landing-request-form
		display none