.cart-total
  position relative
  display flex
  align-items center
  justify-content flex-end
  padding 20px 0
  margin-top 20px

  font-weight: 500
  line-height: normal
  font-size: 18px
  text-align right

  &:before
    content ''
    width 100%
    max-width 244px
    position absolute
    top 0
    right 0
    border: 0.5px solid #B7C2C9;

  &__label
    margin-right 35px

  &__price
    color #D00000
