.delete-btn
    position: relative;
    display inline-block
    padding 10px
    line-height 1
    color #D00000

    .svg-icon
        fill currentColor
        width 16px
        height 16px

    &:focus
        outline: none

    &:before
        content: ''
        position: absolute
        top: -7px
        bottom: -7px
        left: -7px
        right: -7px
        border: 2px dashed currentColor
        opacity: 0
        pointer-events: none

    &:focus:before
        opacity .2
