<div block="landing-banner" mods="{{landingBannerMods}}">
	<div elem="inner">
		<div elem="content">
			<h1 elem="title">
				Экономьте свое время на закупках
			</h1>
			<div elem="description">
				Пришлите нам заявку на закупку нужных Вам инструментов всего за несколько кликов без звонков и длинных писем! И получите счет уже через 15 минут!
			</div>
		</div>
		<div elem="form">
			<form block="b-form" mods="landing" action="#">
				<div elem="container">
					<div elem="top-container">
						<div elem="item" mods="text">
							<div elem="item-control">
								<input type="text" placeholder="Ваше Имя" />
							</div>
						</div>	
						<div elem="item" mods="phone">	
							<div elem="item-phone-wrap">
								<div elem="item-name">Номер телефона</div>	
								<div elem="phone-container">	
									<span elem="country-flag">
										<div elem="country-selected-flag" class="_js_selected_country">
											<img src="img/flag-rf.svg" alt="">
											<icon name="arrow-b" tag="span">
										</div>				
										<div elem="country-flags" class="_js_select_country">
											<div data-phone-number="+7 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+7</div>
											<div data-phone-number="+8 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+8</div>
										</div>
									</span> 
									<input type="tel" required class="_js_phone-number" value="+7">
								</div>
							</div>
						</div>
						<div elem="item" mods="file requisites">
							<div elem="item-control">
								<input type="file" data-placeholder="Прикрепить реквизиты" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
							</div>
						</div>
						<div elem="item" mods="file docs">
							<div elem="item-control">
								<input type="file" data-placeholder="Загрузить документ с вашей заявкой" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
							</div>
						</div>
						<button elem="button">Отправить заявку</button>
					</div>
					<div class="b-form__bot-container">
						<div class="b-form__item b-form__item--greement">
	                        <input type="checkbox" checked="checked">
	                        <span>Я согласен на обработку персональных данных <span class="mobile-hidden">Вы можете загружать документы Word, Excel, Pdf с заявкой в произвольной форме</span></span>
	                    </div>
                    </div>
				</div>
			</form>
		</div>
		<div elem="document-scroll-icon">
	    	<span><img src="img/mouse-icon-landing.svg" alt=""></span>
	    </div>
	</div>
</div><!-- b:landing-banner -->