.landing-banner
	padding 170px 0
	background url('../img/landing-banner-bg.png') 0 0 no-repeat
	background-size cover
	position relative
	
	&__inner
		max-width 1220px
		padding 0 20px
		width 100%
		margin 0 auto
		
	&__title
		font-weight: 300;
		font-size: 46px;
		letter-spacing: -0.05em;
		color: #FFFFFF;
		padding-bottom 17px
		position relative
		margin-bottom 0
		
		&:before
			content ""
			position absolute
			bottom 0
			left 0
			background #2577D7
			width 104px
			height 3px
			
	&__description
		font-family: 'Open Sans';
		line-height: 26px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #FFFFFF;
		max-width 600px
		margin-top 15px
		
	&__form
		margin-top 100px
		
	&__document-scroll-icon
		position absolute
		bottom 35px
		left 50%
		transform translateX(-50%)
		z-index 1
		width 20px
		cursor pointer
		
		span
			display block
			text-align center
			font-size 0
			
@media (max-width: 1380px)
	.landing-banner
		background-position-x -300px
		
@media (max-width: 1023px)
	.landing-banner
		padding 0
		background transparent
		
		&__inner
			padding 0
		
		&__content
			padding 155px 80px 111px
			background url("../img/landing-banner-bg.png") 50% 0 no-repeat
		
		&__title
			font-size 30px
			line-height normal
			padding-bottom 10px
			
			&:before
				height 2px
				
		&__description
			font-size 14px
			line-height 24px
			max-width 435px	
			
		&__form
			margin-top -10px
			border-radius 10px 10px 0 0
			padding 30px 40px 65px
			background-color #fff
			
		&__document-scroll-icon
			display none
			
@media (max-width: 640px)
	.landing-banner
		
		&__form
			padding 30px 20px 65px	
			
@media (max-width: 480px)
	.landing-banner
		
		&__title
			max-width 250px
			
		&__description
			max-width 280px
		
		&__content
			padding 155px 15px 90px
			background-position-x -850px
		
		&__form
			padding 30px 15px 60px			
			
@media (max-width: 350px)
	.landing-banner
		
		&__content
			background-position-x -900px