.new-cart-form-payment-radio
  display flex
  flex-wrap wrap
  margin 0 0 0 -16px

  &__element
    display flex

    position relative
    padding 0 0 16px 16px
    flex: 0 0 (100%/2)
    max-width (100%/2)

    @media (min-width: 1024px)
      ._js-is-overlap &
        flex: 0 0 (100%/6)
        max-width (100%/6)

    &-input
      position: absolute
      z-index 5
      left: 16px
      top: 0
      width calc(100% - 16px)
      height: calc(100% - 16px)
      opacity: 0
      cursor pointer

    &-label
      position relative
      display block
      width 100%
      text-align center
      padding 67px 20px 7px 20px
      border: 1px solid #B7C2C9
      box-sizing: border-box
      border-radius: 2px
      margin 0
      line-height 11px
      height 102px

      &:before
        pointer-events none
        content ''
        position absolute
        top 10px
        left 5px
        right 5px
        height 55px

        background-position center center
        background-size auto 100%
        background-repeat no-repeat

      &--card:before
        background-image url('../img/pay-card.png')

      &--cash:before
        background-image url('../img/pay-cash.png')

      &--yandex:before
        background-image url('../img/pay-yandex.png')

      &--qiwi:before
        background-image url('../img/pay-qiwi.png')

      &--pvz:before
        background-image url('../img/pay-pvz.png')

      &--bill:before
        background-image url('../img/pay-bill.png')

    &-text
      font-size: 12px
      letter-spacing: -0.5px
      color: #3F505B

    input[type=radio]:checked + label
      border-color: #2577D7

      &:after
        content ''
        z-index 5
        position absolute
        width 24px
        height 24px
        top 0
        right 0
        background url('../img/check-on.svg') center center no-repeat


@media (min-width: 540px)
  .new-cart-form-payment-radio
    &__element
      flex: 0 0 (100%/3)
      max-width (100%/3)
