<div block="new-cart-form-payment-radio">
	{% for payment in newCartFormPaymentRadio %}
	<div elem="element" data-id="{{ loop.index }}">
		<input type="radio" name="data[payment_type]" value="{{ loop.index }}" elem="element-input">
		<label elem="element-label" mods="{{ payment.icon }}" class="payment-" data-value="{{ loop.index }}" data-client_type_1="1" data-client_type_2="1" for="data[payment_type]">
			<span class="new-cart-form-payment-radio__element-text">{{ payment.name }}</span>
		</label>
	</div>
	{% endfor %}
</div><!-- b:new-cart-form-payment-radio -->
