::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    color          : $headings.color
    text-transform : $headings.transform
    letter-spacing : -0.5px
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-weight 500
    
h1, .h1
    font-weight 700
    font-size 38px
    line-height 48px
    margin-bottom: 30px

h2, .h2
    font-size 32px
    line-height 40px
    
h3, .h3
    font-size 26px
    line-height 32px
    
h4, .h4
    font-size 24px
    line-height 32px
    
h5, .h5,
h6, .h6
    font-size : 22px
    line-height 30px

a
    color : $links.default
    text-decoration underline
    
    &:hover
        text-decoration none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

.overflow-hidden
    overflow hidden

.site-width
    width 100%
    max-width $appWidth
    padding-left $appGutter    
    padding-right $appGutter
    margin-left auto    
    margin-right auto    
    
    @media (max-width 400px) 
        padding-left 16px    
        padding-right 16px
        
    &.type-2
        max-width 1808px
button, 
.s-button
    cursor pointer
    border-radius 2px
    background #2577D7
    box-shadow 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
    padding 11px 25px 10px
    font-size 14px
    border 0
    font-weight 500
    line-height normal
    text-align center
    text-decoration none
    letter-spacing 1px
    outline none
    text-transform uppercase    
    color #fff
    display inline-block
    transition all .3s ease
    
    &.type-2
        background #D00000
        
    &.type-3
        background #FFA800
        border-radius 40px
        box-shadow none
        
    &.type-4
        border 1px solid #B7C2C9
        background #EFF4F8
        color #232F36
        box-shadow none
        &:hover
            background #EFF4F8
    &.type-5
        border 1px solid #3F505B
        background none
        color #3F505B
        box-shadow none
        padding 10px 25px 9px
        &:hover
            background #232F36
            color #fff
            
    &.type-6
        background #68757A
        color #fff
        box-shadow none
        
        &:hover
            background #232F36
            color #fff

    &.type-7
        background #FFC706
        font-size 12px
        font-weight normal
        text-transform none
        color #232F36
        letter-spacing: normal;
        padding 17px 40px
        box-shadow none

        &:hover
            color #fff

    &.type-8
        background #B7C2C9
        font-size 12px
        font-weight normal
        text-transform none
        color #fff
        letter-spacing: normal;
        padding 17px 46px
        box-shadow none

    &.more
        position relative
        padding 15px 60px 15px 25px
        
        &:before
            content ""
            position absolute
            right 27px
            top 50%
            margin-top -7.5px
            width 16px
            height 15px
            background url(../img/morearr.svg) 0 0 no-repeat
            background-size cover
        
    &:hover
        background #232F36
        

    &.disabled
        background #B7C2C9
        cursor default
        box-shadow none


svg:not(:root)
    overflow hidden

img
    max-width 100%