.cart-table
    font-size 14px
    width 100%

    &__head
        display none

    &__head-row

        .cart-table__cell
            font-weight 500
            padding-bottom 14px

            &:first-child
                padding-left 0

    &__body-row

        .cart-table__cell
            padding-top 10px
            padding-bottom 10px

    &__cell
        padding-left 32px

    display block

    &__cell,
    &__body,
    &__body-row
        display block
        padding 0

    &__body
        counter-reset: cart-table-items

    &__body-row
        position relative
        display flex
        flex-wrap wrap
        align-items center
        margin-bottom 10px
        counter-increment: cart-table-items

        .cart-item-snippet:before
            content: counter(cart-table-items)
            display inline-block
            vertical-align top
            width 24px
            text-align center

    &__cell

        &--snippet
            flex: 0 0 100%
            max-width 100%
            order 1
            padding-right 40px
            margin-bottom -10px

        &--price
            order 2
            padding-left: 92px
            flex-basis 56%

        &--amount
            padding-left 10px
            order 3

        &--delete
            position absolute
            top 8px
            right 0
            width auto


    .b-amount
        border none
        width 90px

        &__button
            width 18px
            height 18px
            border: 1px solid #B7C2C9
            box-sizing: border-box
            border-radius: 2px

            &:before
                width 10px
                margin-left -5px
                background-color #3C4858

            &.plus:after
                height 10px
                margin-top -5px
                background-color #3C4858


@media (min-width: 640px)
    .cart-table
        display table

        &__body
            display: table-row-group

        &__body-row
            display: table-row
            margin-bottom 0

        &__cell
            display: table-cell
            padding-left 24px

            &--snippet
                padding-left 0

            &--amount
                width 130px

            &--price
                width 94px

            &--delete
                width 70px
                position static

@media (min-width: 1140px)

    .cart-table

        &__head
            display: table-header-group;

        &__body-row

            .cart-item-snippet:before
                display none

        &__cell--snippet
            width 257px
