<table block="cart-table">
	<thead elem="head">
		<tr elem="head-row">
			<th elem="cell">Наименование</th>
			<th elem="cell">Количество</th>
			<th elem="cell">Цена</th>
			<th elem="cell"></th>
		</tr>
	</thead>
	<tbody elem="body">
		{% for item in cartTable %}
		<tr elem="body-row">
			<td elem="cell" mods="snippet">
				{% include 'cart-item-snippet.html' %}
			</td>
			<td elem="cell" mods="amount">
				<div class="b-amount b-amount--visible">
					<button class="b-amount__button minus"></button>
					<input type="text" data-min="1" value="{{ item.count }}" class="b-amount__number">
					<button class="b-amount__button plus"></button>
				</div>
			</td>
			<td elem="cell" mods="price">
				{% set cost = item.price.cost %}
				{% set perOne = item.price.perOne %}
				{% set discount = item.price.discount %}
				{% include 'cart-table-price.html' %}
			</td>
			<td elem="cell" mods="delete">
				<a block="delete-btn" href="#">
					<icon name="delete" tag="span">
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
