.color-red
	color #d00000

.pickup-block
	padding-bottom 130px
	
	&__text
		line-height: 24px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #3F505B;
		margin-bottom 25px
		
		&--bold
			font-weight: 500;
			color: #232F36;
			
	&__topline-layouts
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		
	&__topline-layout
		flex 1 1 auto
		
		&--schedule
			margin-right 110px
		
	&__topline-layout-title
		font-weight: 500;
		line-height: 24px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #232F36;
		
	&__topline-layout-block
		margin-top 24px
		
	&__schedule-item
		display flex
		align-items center
		justify-content space-between
		line-height: 24px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #3C4858;
		padding 11px 10px
		border-bottom 1px solid #C5D1D9
		
		&:last-child
			border-bottom none
			
	&__payment
		line-height: 24px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #3C4858;
		
	&__topline-layouts-text
		margin-top 40px
		font-family: Open Sans;
		font-weight: 600;
		line-height: 26px;
		font-size: 16px;
		color: #232F36;
		
	&__map
		height 495px
		width 100%
		max-width 100%
		margin 48px 0 40px
		
	&__map-block
		width 100%
		height 100%
		
	&__how-get
		margin-bottom 65px
		
	&__how-get-title
		font-family: Roboto;
		font-size: 32px;
		letter-spacing: -0.03em;
		color: #232F36;
		
	&__how-get-items
		margin-top 38px
		
	&__how-get-item
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		margin-bottom 24px
		
		&:last-child
			margin-bottom 0
		
	&__how-get-item-img
		flex 0 0 160px
		margin-right 47px
		
		img
			max-width 100%	
			
	&__how-get-item-content
		line-height: 24px;
		font-size: 14px;
		letter-spacing: -0.5px;
		color: #3C4858;	
			
	&__delivery-title
		font-family: Roboto;
		font-size: 32px;
		letter-spacing: -0.03em;
		color: #232F36;
		
	&__delivery-link
		margin-top 40px
		
		a
			display flex
			justify-content center
			align-items center
			max-width 332px
			width 100%
			height 56px
			line-height 56px
			background-color #68757A
			border-radius 2px
			font-family: Roboto;
			font-weight: 500;
			font-size: 16px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #FFFFFF;
			text-decoration none
			
			img
				margin -3px 0 0 20px
				
@media (max-width: 1023px)
	.pickup-block
		padding-bottom 80px
		
		&__text
			font-size 14px
			
		&__topline-layout
			&--schedule
				margin-right 30px
				
		&__map
			height 320px
			
		&__how-get
			margin-bottom 35px
			
		&__how-get-title,&__delivery-title
			line-height: 24px;
			font-size: 16px;
			font-weight 500

		&__how-get-items
			margin-top 20px
			
		&__how-get-item-img
			margin-right 16px
			
		&__delivery-link
			margin-top 25px
			
			a
				max-width 240px
				height 48px
				font-size 14px
				
@media (max-width: 640px)
	.pickup-block
		
		&__topline-layouts
			flex-wrap wrap
			
		&__topline-layout
			flex 0 0 100%
			
			&--schedule
				margin-right 0
				margin-bottom 30px
				
		&__schedule-item
			padding 11px 0
			
		&__how-get-item
			flex-direction column
			align-items center
			
		&__how-get-item-img
			flex 1 1 auto
			margin-right 0
			margin-bottom 30px
			
		&__how-get-item-content
			text-align center