<div block="pickup-block" mods="{{pickupBlockMods}}">
	<div elem="inner">
		<div elem="text">
			Вы можете самостоятельно <span class="color-red">БЕСПЛАТНО</span> забрать укомплектованный заказ из пункта самовывоза, расположенного в 7-ми минутах ходьбы от метро Шоссе энтузиастов. 
		</div>
		<div elem="text" mods="bold">
			Обращаем Ваше внимание, что в пункт самовывоза нужно приезжать только после того, как с вами свяжется наш менеджер (по телефону, СМС, электронной почте) и сообщит, что заказ собран и готов к выдаче.
		</div>
		<div elem="topline-layouts">
			<div elem="topline-layout" mods="schedule">
				<div elem="topline-layout-title">
					График работы пункта самовывоза в Москве:
				</div>
				<div elem="topline-layout-block">
					<div elem="schedule">
						<div elem="schedule-item">
							<div elem="schedule-item-day">
								понедельник-четверг
							</div>
							<div elem="schedule-item-time">
								8:30-17:15
							</div>
						</div>
						<div elem="schedule-item">
							<div elem="schedule-item-day">
								пятница
							</div>
							<div elem="schedule-item-time">
								8:30-16:00
							</div>
						</div>
						<div elem="schedule-item">
							<div elem="schedule-item-day">
								суббота-воскресенье
							</div>
							<div elem="schedule-item-time">
								выходной
							</div>
						</div>
					</div>			
				</div>
			</div>
			<div elem="topline-layout" mods="payment">
				<div elem="topline-layout-title">
					Варианты оплаты:
				</div>
				<div elem="topline-layout-block">
					<div elem="payment">
						<div elem="payment-item">
							1) Наличные
						</div>
						<div elem="payment-item">
							2) Онлайн на сайте при оформлении заказа
						</div>
						<div elem="payment-item">
							3) По выставленному счету
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div elem="topline-layouts-text">
			Срок хранения заказа в пункте самовывоза – <span class="color-red">7 дней</span>. По вашей просьбе он может быть продлен.
		</div>
		<div elem="map">
			<div elem="map-block" id="contacts-page-map" data-center="55.7571289, 37.75060689999998"></div>
		</div>
		<div elem="how-get" mods="car" id="how-get-car">
			<div elem="how-get-title">
				Как добраться: На автомобиле
			</div>
			<div elem="how-get-items">
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						С Шоссе Энтузиастов свернуть на ул. Электродная (если ехать из Центра - поворот направо, из области - поворот налево, под стрелку).
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Проехать прямо примерно 200 м (здания НИИ "Графит", "МОЭК", шиномонтаж).
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Повернуть направо в арку, далее прямо, до шлагбаума.
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Напротив шлагбаума — вход в серо-желтое здание (строение 12), надо пройти в стеклянные двери (подъезд 4), над которыми будет вывеска белыми буквами на красном фоне "ПРЯМАЯ АРЕНДА ОТ СОБСТВЕННИКА"
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Заходите в эти двери и слева вы увидите наш розничный магазин "Инстрдом"
					</div>
				</div>
			</div>
		</div>
		<div elem="how-get" mods="public" id="how-get-public">
			<div elem="how-get-title">
				Как добраться: На общественном транспорте
			</div>
			<div elem="how-get-items">
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						м. Шоссе Энтузиастов, Первый вагон из центра, выход из метро направо к ул. Электродная, слева будет пруд, перейти дорогу.
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Далее идти вдоль по улице 150 метров мимо "МОЭК", потом шиномонтаж.
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Повернуть направо в арку перед Макдональдс.
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Далее прямо, никуда не сворачивая. Впереди будет серое здание (строение 12), пройти в стеклянные двери (подъезд 4), над которыми будет вывеска белыми буквами на красном фоне "ПРЯМАЯ АРЕНДА ОТ СОБСТВЕННИКА"
					</div>
				</div>
				<div elem="how-get-item">
					<div elem="how-get-item-img">
						<img src="img/no-image.png" alt="">
					</div>
					<div elem="how-get-item-content">
						Заходите в эти двери и слева вы увидите наш розничный магазин "Инстрдом"
					</div>
				</div>
			</div>
		</div>
		<div elem="delivery">
			<div elem="delivery-title">
				Так же вы можете оформить доставку
			</div>
			<div elem="delivery-link">
				<a href="#">Узнать о ДОСТАВке <img src="img/arrow-right.svg" alt=""></a>
			</div>
		</div>
	</div>
</div><!-- b:pickup-block -->