.cart-item-snippet
    display flex
    align-items: center
    font-size: 14px;
    line-height 18px
    min-height 60px
    letter-spacing: 0;

    &__image
        max-width 40px

        &-wrap
            flex 0 0 60px
            max-width 60px
            text-align center
            margin-right 10px

    &__info
        flex 1

    &__category-title
        font-family: Open Sans
        font-size: 13px
        color: #3C4858

        + .cart-item-snippet__link
            margin-top 6px

    &__link
        display inline-block
        text-decoration-line: underline
        color: #232F36
