<div block="cart-item-snippet">
	<div elem="image-wrap">
		<img elem="image" src="img/{{ item.image }}">
	</div>
	<div elem="info">
		<div elem="category-title">{{ item.category }}</div>
		<a elem="link" href="{{ item.link }}">
			<span elem="name">{{ item.name }}</span>
		</a>
	</div>
</div>
