.b-delivery-lm
	margin 60px 0 20px
	ul
		margin 0
		padding 0
		list-style none
		font-size 0
		line-height 1
	
	&__ul
		max-width 180px
		> li
			margin-bottom 15px
			> a
				display inline-block
				text-decoration none
				font-size 18px
				color #232F36
			
			ul
				padding 16px 0
				> li
					margin-bottom 10px
					a
						font-size 16px
						color #2577D7
						line-height 1.2