<div block="b-delivery-lm">
	<ul elem="ul">
		<li>
			<a href="#">Москва и область:</a>
			<ul>
				<li><a href="#">Курьером</a></li>
				<li><a href="#">Транспортной компанией</a></li>
			</ul>
		</li>
		<li>
			<a href="#">По всей России:</a>
			<ul>
				<li><a href="#">Курьером</a></li>
				<li><a href="#">Транспортной компанией</a></li>
				<li><a href="#">Почтой</a></li>
			</ul>
		</li>
	</ul><!-- e:ul -->
</div><!-- b:delivery-lm -->