.cart-on-map
  margin-bottom 30px

  &__header
    display flex
    align-items center
    flex-wrap wrap
    justify-content space-between
    margin-bottom 20px

  &__type

    @media (max-width: 540px)
      flex 0 0 100%
      margin-top 10px

  &__city
    flex 1
    padding 0 12px

  &__title
    font-size 18px
    line-height 22px

  &__list
    display none
