<div block="cart-on-map">
	<div elem="header">
		<div elem="title">Адрес доставки:</div>
		<div elem="city">
			<a class="city-chooser" href="#modal3">Москва</a>
		</div>
		<div elem="type">
			{% include 'two-way-switch.html' %}
		</div>
	</div>
	<div elem="content">
		<div elem="coords">
			<img style="width: 100%;height: auto;vertical-align: top;" src="img/google-maps.jpg">

			<div block="address-point">
				<div elem="title">Ваш пункт самовывоза</div>
				<div elem="info">Пункт самовывоза магазина Инстрдом Россия, г. Москва, Электродная улица, д.2, стр. 12-13-14</div>
				<div elem="change-link">
					<a href="#">ИЗМЕНИТЬ?</a>
				</div>
			</div><!-- b:address-point -->

		</div>
		<div elem="list">
			{% include 'metro-chooser.html' %}
		</div>
	</div>
</div><!-- b:cart-on-map.html -->
