.landing-callback-form
	background-color #2F3B62
	
	&__inner
		max-width 670px
		width 100%
		margin 0 auto
		padding 70px 20px 140px
		
	&__title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #fff;
		text-align center
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			width 64px
			height 3px
			background-color #2577D7
			bottom 0
			left 50%
			transform translateX(-50%)
			
	&__form
		margin-top 45px
		
		.b-form
			
			&--popup
				max-width 100%
				
			&__container
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				
			&__item
				margin-bottom 0
				
				&--phone
					flex 1 1 auto
					height 64px
					
			&__button
				&.s-button
					flex 0 0 233px
					max-width 233px
					width 233px
					height 64px
					border-radius: 0px 32px 32px 0px;
					
	&__email-block
		margin-top 38px
		display flex
		flex-direction column
		align-items center
		
	&__email-link
		font-family: Open Sans;
		font-weight: 300;
		font-size: 24px;
		color: #FFFFFF;
		text-decoration none
		
	&__email-copy
		font-family: Open Sans;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: -0.5px;
		color: #FFFFFF;
		text-decoration none
		border-bottom 1px dotted #fff
		
@media (max-width: 1023px)
	.landing-callback-form
		
		&__inner
			padding 44px 20px 112px
			
		&__form
			margin-top 35px
			
			.b-form
				
				&__container
					flex-wrap wrap
					
				&__item
					
					&--phone
						flex 0 0 100%
						width 100%
						max-width 100%
						height 56px
						margin-bottom 15px
					
				&__button
					&.s-button
						flex 0 0 100%
						width 100%
						max-width 100%
						border-radius 0
						
		&__email-block
			margin-top 25px
			
		&__email-link
			font-size 16px
			line-height 24px
			
		&__email-copy
			font-size 13px
			line-height 24px
			color rgba(255,255,255,0.6)
			text-decoration underline
			border-bottom none
			
@media (max-width: 480px)
	.landing-callback-form
		
		&__inner
			padding 33px 15px 190px
			
		&__form
			.b-form		
			
				&__button
					&.s-button
						height 48px