<div block="landing-callback-form" mods="{{landingCallbackFormMods}}">
	<div elem="inner">
		<div elem="title">
			Остались вопросы?
		</div>
		<div elem="form">
			<form block="b-form" mods="popup" action="#">
				<div elem="container">
					<div elem="item" mods="phone">	
						<div elem="item-name">Номер телефона</div>	
						<div elem="phone-container">	
							<span elem="country-flag">
								<div elem="country-selected-flag" class="_js_selected_country">
									<img src="img/flag-rf.svg" alt="">
									<icon name="arrow-b" tag="span">
								</div>				
								<div elem="country-flags" class="_js_select_country">
									<div data-phone-number="+7"><img src="img/flag-rf.svg" alt="">+7</div>
									<div data-phone-number="+8"><img src="img/flag-rf.svg" alt="">+8</div>
								</div>
							</span> 
							<input type="tel" value="+7" required class="_js_phone-number">
						</div>
					</div>
					<button elem="button" class="s-button">ПЕРЕЗВОНИТЕ МНЕ</button>
				</div>
			</form>
		</div>
		<div elem="email-block">
			<a elem="email-link" href="mailto:b2b@instrdom.ru" id="text2">b2b@instrdom.ru</a>
			<a elem="email-copy" class="copy" href="#" id="text2">скопировать почту</a>
		</div>
	</div>
</div><!-- b:landing-callback-form -->