<div class="form reviews">
	<form block="b-form" action="#">
		<div elem="title">Написать отзыв</div><!-- e:title -->
		<div elem="container-r">
			<div elem="row-title">Представьтесь</div>
			<div elem="row">
				<div elem="item" mods="name" class="small">
					<input type="text" class="inputName" placeholder="Ваше Имя">
				</div>
				<div elem="item" mods="email" class="small">
					<div elem="error-note">Email ошибка ввода</div>	
					<input type="email" class="inputEmail" value="" placeholder="Ваш Email (необязательно)">			
					<div elem="item-close"><icon name="close-red" tag="span"></div>
				</div>
			</div>
			<div elem="row-title">Охарактеризуйте товар</div>
			<div elem="row">
				<div elem="item" mods="virtues" class="small">
					<textarea name="virtues" placeholder="Достоинства"></textarea>
				</div><!-- e:item -->
				<div elem="item" mods="disadvantages" class="small">
					<textarea name="disadvantages" placeholder="Недостатки"></textarea>
				</div><!-- e:item -->
			</div><!-- e:row -->
			<div elem="item" mods="comment small">
				<textarea name="comment" placeholder="Комментарий"></textarea>
			</div><!-- e:item -->
			<div elem="bot-container">
				<div elem="item" mods="greement">
					<input type="checkbox" checked="checked">
					<span>Я согласен на обработку персональных данных</span>
				</div>
				<div elem="item" mods="button">
					<button elem="button type-2">ОПУБЛИКОВАТЬ</button> 
				</div>
			</div>
		</div>
	</form>
</div>