.reviews
    .b-form
        &__title
            margin-bottom 40px
        &__row-title
            font-size 16px
            letter-spacing -0.5px
            color #232F36
            margin-bottom 10px
            margin-top 40px
        
        &__row
            display flex
            justify-content space-between
            
        &__item
            margin-bottom 15px
            &.small
                width 48.5%
                flex 0 0 48.5%
            
            &--greement
                font-size 12px
                order 2
                
            &--button
                flex 0 0 400px
                margin-right 40px
                
                button
                    width 100%
                    padding 21px 25px
            
            textarea
                width 100%
                min-height 120px
                padding 10px 17px
        
        &__bot-container
            display flex
            align-items center
        

    @media all and (max-width: 1023px)
        .b-form
            &__title
                margin-bottom 20px
            &__row-title
                margin-top 20px
                
            &__item
                &.small
                    width 49%
                    flex 0 0 49%
                    
                &--button
                    flex 0 0 300px
                    margin-right 20px
                    
                    button
                        padding 15px 25px
                        
    @media all and (max-width: 760px)
        .b-form
            &__title
                margin-bottom 15px
            &__row-title
                font-size 14px
                margin-top 18px
                font-weight 500
                
            &__row
                display block
                
            &__item
                &.small
                    width 100%
                    flex 0 0 100%
                    
                textarea
                    min-height 90px
                    
                &--button
                    flex 0 0 100%
                    margin-right 0
                    
                    button
                        padding 17px 12px
            
            &__bot-container
                display block
        
            
