.compare-fields
    width 100%
    margin 0
    padding 0
    list-style-type none
    text-align center

    &__field
        border-top 1px solid #B7C2C9
        position relative
        padding 15px 20px

        &:before,
        &:after
            content ''
            position absolute
            left 100%
            width 32px
            height 1px
            background-color #B7C2C9

        &:before
            top -1px

        &:after
            opacity 0

        &:last-child
            border-bottom 1px solid #B7C2C9

            &:after
                bottom -1px
                opacity 1
