<div block="b-breadcrumbs" class="site-width">
	<div elem="in">
		<a href="#" elem="item">Главная</a><!-- e:item -->
		<icon tag="span" name="separator">
		<spam elem="item">{{pageTitle}}</spam><!-- e:item -->
	</div><!-- e:in -->
</div><!-- b:breadcrumbs -->