.b-breadcrumbs
	flex none
	
	&__in
		font-family Roboto
		line-height 1
		font-size 13px
		color #232F36
		border-bottom 1px solid #B7C2C9
		padding 16px 0
		
		a
			color #91A2AE
			text-decoration none
			&:hover
				text-decoration underline
		
		span
			margin 0 3px
		
		.svg-icon
			width 5px
			height 8px
			vertical-align middle
			display inline-block
			svg 
				fill #91A2AE
	
	@media all and (max-width: 1023px)
		display none