.form-grid
  display flex
  flex-wrap wrap
  margin 0 0 16px -16px

  + .lawyer-fields,
  + .form-grid,
  + .lawyer-fields-handy-btn,
  + .lawyer-fields-handy
    margin-top -16px

  &__col
    padding 0 0 16px 16px
    flex-basis: 0
    flex-grow: 1
    max-width 100%

    .b-form__item
      margin-bottom 0

    input
      width 100%

    for $column in (1..12)
      &.w-{$column}
        flex: 0 0 (100 / $column * 1%)
        max-width (100 / $column * 1%)

@media (max-width: 540px)
  .form-grid__col

    &--m-2
      flex 0 0 50% !important
      max-width 50%

    &.w-2
      flex 0 0 100% !important
      max-width 100%

@media (min-width: 1024px)

  ._js-is-overlap

    .form-grid__col

      &.w-1
        flex 0 0 50%
        max-width 50%

      &.w-2
        flex 0 0 25%
        max-width 25%

      &.w-3
        flex 0 0 (100% / 6)
        max-width (100% / 6)
