.mobile-panel
    position fixed
    left 0
    top 0
    width 100%
    background #2577D7
    transition all .3s ease
    transform translateX(-100%) 
    display none
    z-index 51
    color #fff
    &__close
        position absolute
        right 0
        top 0
        cursor pointer
        display block
        width 47px
        height 47px
        z-index 1
        background $colorAccent
        .icon
            position absolute
            left 50%
            top 50%
            color #fff
            width 14px
            height 14px
            margin-top -7px
            margin-left -7px
            
    &__content
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        overflow-y auto
        padding-bottom 60px
        
    &.opened
        transform translateX(0) 
        & ^[0]
            &__close
                display block
    

    .search-form
        height 51px
        background rgba(#3C4858, 0.2)
        padding  11px 0 9px 38px
        
        
        input 
            border 0
            border-radius 0
            background none
            padding-left 6px
            height 28px
            font-size 13px
            font-weight normal
            color #fff
            &::placeholder
                color rgba(#fff, 0.5)

    .app-header
        &__menu,
        &__folders-shared,
        &__cart
            display block
        
        &__cart
            background #3F505B
            height 48px
            padding-left 38px
            display flex
            align-items center
            border-bottom 1px solid #B1E5FC
            .icon
                display inline-block
                
            .svg-icon--cart-icon
                display none
                
            .svg-icon--cart-total-icon
                display none
                
        &__cart-title       
            display block
            font-size 14px
            font-weight 500
            margin-right 16px
            img 
                margin-right 5px
                vertical-align middle
                
        &__cart-total   
            position relative
            left auto
            top auto
            
        &__cart-total-amount    
            width auto
            height auto
            padding 0 3px 0 3px 
            font-size 12px
            font-weight normal  
            color #fff
            span 
                display inline
                
        &__cart-sum     
            color #fff
            font-size 12px
            
        &__menu         
            background #4A8DDC
            > ul                
                position relative
                padding 20px 0 13px 40px
                flex-direction row-reverse
                justify-content flex-end
                &:after
                    content ""
                    position absolute
                    left 50%
                    margin-left -1px
                    top 19px
                    bottom 19px
                    width 1px
                    background rgba(#78A7DF, 0.5)
                > li
                    width 50%
                    margin 0
                    margin-bottom 16px
                    padding-right 25px
                    > a 
                        padding 0
                        color #fff
                        font-size 13px
                        line-height 16px
                        letter-spacing normal
                        
                        &:after
                            display none
                    &.bold        
                        a 
                            font-weight normal

                    
        &__folders-shared
            font-family "Roboto"
            padding 0
            letter-spacing normal
            z-index 0
            position static
            .mobile-title    
                display block
                
            .horisontal
                display none
                
            .vertical.desctop
                    display none
                    
            .vertical.mobile                 
                display block
                opacity 1
                visibility visible
                left 0
                top auto
                width 100%
                padding 0
                margin-bottom 34px
                li 
                    border-bottom 1px solid #78A7DF
                    a 
                        padding 14px 30px 11px 40px
                        display block
                        line-height 16px
                        font-size 14px
                        color #fff
                        text-decoration none
                        position relative
                        .arrow
                            position absolute
                            right 0
                            top 50%
                            margin-top -15px
                            width 35px
                            text-align center
                            svg 
                                margin-top 8px
                                width 9px
                                height 13px
                    > ul           
                        background #2577D7                             
                        position fixed
                        width 100%
                        top 0
                        left 0   
                        bottom 0                     
                        z-index 3
                        overflow-y auto
                        padding-bottom 10px
                        transition all .3s ease
                        transform translateX(-100%) 
                        &.opened
                            transform translateX(0) 
                        li
                            a.back
                                background rgba(#3C4858, 0.2)
                                padding 17px 30px 15px 56px
                                &:after
                                    content ""
                                    position absolute
                                    right 0
                                    top 0
                                    bottom 0                                    
                                    width 45px                                    
                                    background url(../img/close-white.svg) center center no-repeat
                                .arrow
                                    right auto
                                    left 17px
                                    width 16px
                                    height 16px
                                    margin-top -8px
                                    &:after
                                        display block
                                        content ""
                                        width 16px    
                                        height 16px
                                        background url(../img/menu-l-arr.svg) center center no-repeat
                                    svg 
                                        display none
                                        width 17px
                                        height 17px
                                        margin 0
                            
    @media (max-width 1023px) 
        display block

    @media (max-width 360px)
        width 100%
    