<div block="mobile-panel">	
	<div elem="content">
		<div elem="close"><img class="icon" src="img/close-white.svg" alt=""></div>
    	<form block="search-form" mods="type-2" action="/search-error.html">
    		<input type="text" placeholder="введите ваш запрос">
    		<button><img src="img/search-icon-light.svg" alt=""></button>
    	</form>
	</div>
</div>