.owl-prev,
.owl-next
    position absolute
    top 50%
    width 23px
    height 40px
    overflow hidden
    svg 
        position absolute
        left 50%
        top 50%
        fill #fff
        width 38px
        height 38px
        transform translate(-50%, -50%) 

.owl-prev
    left 0
    transform rotate(180deg) 
.owl-next
    right 0

.owl-dots
    position absolute
    left 0
    right 0
    bottom 20px
    font-size 0
    text-align center
    line-height 0
    
    .owl-dot
        z-index 1
        width 9px
        height 9px
        display inline-block
        margin 0 3px 0
        border-radius 20px
        background rgba(#fff, 0.5)
        &:hover,
        &.active
            background #fff

.b-slider
    position relative
    flex none
    padding-left 0
    padding-right 0
    min-height 115px
    overflow hidden
    .owl-prev,
    .owl-next
        margin-top -23px
        
    .owl-prev
        left 50%
        margin-left -610px
        
    .owl-next
        right 50%
        margin-right -610px
    @media (max-width 1023px)
        &.site-width     
            padding-left 0
            padding-right 0
        .owl-nav
            display none
            
    @media (max-width 640px)     
        padding-left 0
        padding-right 0
        
        .owl-dots
            bottom 9px
            
    @media (max-width 580px)     
        .owl-item
            overflow hidden
            &.is-active 
                z-index 2
                position relative
            img
                position relative
                width auto
                height 100%
                max-height 118px
                left 50%
                transform translateX(-50%) 