<div block="b-slider" class="site-width type-2 owl-carousel _js_b-slider">
	<img src="img/slide.jpg" alt="">
	<img src="img/slide2.jpg" alt="">
	<img src="img/slide.jpg" alt="">
	<img src="img/slide2.jpg" alt="">
</div>