.btn-radio
  position relative
  font-size 14px
  line-height 15px
  letter-spacing: -0.5px;

  &__ctrl
    position absolute
    z-index 3
    top 0
    left 0
    width 100%
    height 100%
    opacity 0
    cursor pointer

    &:hover + .btn-radio__label
      background-color lighten(#2F4AA9, 90%)
      border-color lighten(#2F4AA9, 70%)

    &:checked + .btn-radio__label
      background-color #2F4AA9
      border-color #2F4AA9
      color: #fff

  &__label
    text-align center
    background: #F4F8FA
    border: 1px solid #B7C2C9
    box-sizing: border-box
    border-radius: 2px
    padding 16px 30px 17px
    color #4C728B

    &-text
      display block
      margin-top 3px

  &__icon
    fill currentColor
    display inline-block


@media (min-width: 360px)
  .btn-radio

    &__label
      padding 16px 5px 17px

      &-text
        display inline-block
        margin-top 0

    &__icon
      margin-right 2px
