.copy-compare-link
  font-size 14px

  &__label
    margin-bottom 10px

  &__input
    display block
    width 100%
    margin-bottom 15px

  &__action
    position relative
    margin-left 20px
    color #2577D7
    text-decoration none
    display inline-block
    vertical-align top
    border-bottom 1px dotted currentColor

    &:before
      content ''
      position absolute
      width 13px
      height 13px
      top 5px
      left -20px
      background url('../img/copy-link-icon.svg') center center no-repeat


@media (min-width: 760px)

  .copy-compare-link
    display flex
    align-items center

    &__label,
    &__input
      margin-bottom 0

    &__input
      margin 0 18px
      flex 1
      max-width 300px
