<div block="copy-compare-link">
	<div elem="label">Ссылка на это сравнение</div>
	<input elem="input" id="compareUrlInput" type="text" value="https://localohst">
	<a elem="action" data-id="compareUrlInput" href="https://localohst">Копировать ссылку</a>
</div><!-- b:copy-compare-link -->
