<footer block="app-footer">
    <div elem="content" mix="block:site-width">
		{% include 'footer-form.html' %}
		<div elem="container">
			<div elem="column" mods="info">
				<div elem="logo">
					<a href="#"><img src="img/logo-bot.svg" alt=""></a>
				</div>
				<div elem="phone">
					Есть вопросы? Звоните!
					<div elem="phone-item"><a href="tel:8 (495) 287 14 66">8 (495) 287 14 66</a></div>
				</div>
				<div elem="copyright">
					<b>© 2015 – 2018 Инстрдом.ру</b>
					<br>
					Информация на сайте instrdom.ru не является публичной офертой. Материалы сайта являются собственностью ООО «Инструментальный дом».
				</div>
			</div>
			<div elem="column" mods="menu">
				<nav elem="menu">
					<div class="b-title">Информация</div>
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Магазин</a></li>
						<li><a href="#">Юр. лицам</a></li>
						<li><a href="#">Доставка/ Оплата</a></li>
						<li><a href="#">Самовывоз</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div elem="column" mods="folders-shared">
				<nav>
					<div class="b-title">Информация</div>
					<ul>
						<li>
							<ul>
								<li><a href="#">Электроинструмент</a></li>
								<li><a href="#">Измерительный инструмент</a></li>
								<li><a href="#">Ручной инструмент</a></li>
								<li><a href="#">Расходные материалы</a></li>
								<li><a href="#">Силовая техника</a></li>
								<li><a href="#">Станочная оснастка</a></li>
								<li><a href="#">Автосервисное оборудование</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#">Климат</a></li>
								<li><a href="#">Электрика и свет</a></li>
								<li><a href="#">Хозтовары</a></li>
								<li><a href="#">Садовая техникка</a></li>
								<li><a href="#">Деревообрабатывающий инструмент</a></li>
								<li><a href="#">Бренды</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div elem="column" mods="review">
				<div elem="review">
					<img class="ya-logo" src="img/logo-ym-white.svg" alt="">
					<div elem="rating">
						Наш рейтинг
						<div elem="stars">
							<icon name="star" tag="span" class="active">
							<icon name="star" tag="span" class="active">
							<icon name="star" tag="span" class="active">
							<icon name="star" tag="span" class="active">
							<icon name="star" tag="span">
						</div>	
					</div>
					<a href="#" elem="rating-link">Написать отзыв</a>
				</div>
			</div>
		</div>
		<div elem="hand-tool"><img src="img/tool.svg" alt="">Сделано ручным инструментом :)</div>
    </div><!-- e:content -->
</footer><!-- b:app-footer -->
