.app-footer
    flex none
    background $colorPrimary
    color #fff
    a 
        color #fff
    &__content
        padding-top 60px
        padding-bottom 38px

    &__container
        display flex
        justify-content space-between
        
    &__column
        border-left 1px solid #3C4858
        padding-bottom 20px
        &:first-child
            border 0
        
        &--info
            padding-right 20px
            width 24.596%
            
        &--menu        
            padding-left 40px
            padding-right 20px
            width 15.292%
            min-width 189px
            
        &--folders-shared    
            width 36.409%
            padding-left 36px
            padding-right 20px
            
        &--menu,        
        &--folders-shared    
            font-family "Open Sans"
            li 
                margin-bottom 16px
                line-height 17px
                &:last-child
                    margin-bottom 0
            a 
                font-size 13px
                text-decoration none
                &:hover
                    text-decoration underline
                    
        &--folders-shared    
            ul
                display flex               
                > li 
                    padding-right 10px
                    width 57%
                    margin-bottom 0
                    &:nth-child(2)
                        width 43%
                    ul 
                        display block
                        li 
                            margin-bottom 16px
                            padding-right 0
                            width auto
                            &:nth-child(2)
                                width auto
                            &:last-child
                                margin-bottom 0
                                

        &--review    
            padding-left 32px  
            padding-top 40px
            flex 1 

            img
                margin-bottom 11px
            & ^[0]    
                &__rating
                    font-family "Open Sans"
                    text-align center
                    font-size 12px     
                &__stars       
                    font-size 0
                    margin-top 3px
                    margin-bottom 17px
                    .svg-icon
                        margin-left 3px
                        margin-right 3px
                        fill #B7C2C9
                        &.active
                            fill #FFC706
                        
                        
    a&__rating-link
        width 168px
        margin-left auto
        margin-right auto
        display block
        padding 17px 25px 15px
        text-align center
        color #232F36
        font-size 15px
        border-radius 2px
        background #FFCF40
        text-decoration none
        transition all .3s ease
        &:hover
            background lighten(#FFCF40, 30%)

    &__logo
        margin-bottom 37px
        margin-top -26px
        width 213px
        img 
            width 100%
    &__phone
        margin-bottom 25px
        font-size 14px
        
    &__phone-item
        font-size 32px
        font-weight 500
        line-height normal
        a 
            text-decoration none
            cursor auto
            
    &__copyright
        font-size 13px
        font-family "Open Sans"
        line-height 23px
        b 
            font-weight 600        
            
    .b-title
        text-transform uppercase
        font-size 15px
        line-height 22px
        font-weight 700
        margin-bottom 28px

    &__hand-tool
        text-align center
        padding-top 80px
        color #4C728B
        font-weight 600
        font-family "Open Sans"
        img 
            margin-right 9px
            margin-bottom 3px
    
    @media (max-width 1023px)         
        &__content
            padding-top 34px
            padding-bottom 34px
        &__container
            flex-wrap wrap
            max-width 448px
            margin-left auto
            margin-right auto
            padding-left 20px
            padding-right 20px
            position relative
            &:after
                content ""
                position absolute
                left 50%
                margin-left -1px
                width 1px
                background #3B4E57
                top 54px
                bottom 0    
        .b-title    
            display none
        &__column
            border 0
            &--info
                width 100%
                display flex
                justify-content space-between
                align-items center
                margin-bottom 22px
                padding 0
            &--menu
                width 134px
                min-width 0
                order 2
                padding 20px 0 0
            &--folders-shared
                display none
            &--review    
                max-width 254px
                min-width 254px
                padding 33px 0 0
                
        &__hand-tool
            padding-top 47px
            display none
        &__logo
            margin 0
            width 124px
        &__copyright
            display none
        &__phone
            font-size 0
            margin-bottom 0
            line-height 1
        &__phone-item
            font-size 18px
            font-weight 500
            letter-spacing auto
            
        &__review        
            text-align center
            width 150px
            
        a&__rating-link
            width 150px
            padding 12px 15px 11px
            color #232F36
            
        .ya-logo                
            width 140px
            
    @media (max-width 640px)     
        &__container
            padding-left 10px
            padding-right 10px
            
        &__column
            &--review
                width 150px
                min-width 150px
                max-width 150px
        &__content
            padding-bottom 30px
            
    @media (max-width 359px)     
        &__phone-item
            font-size 18px
        &__container    
            padding-left 0
            padding-right 0
        &__column
            &--menu
                width 133px
            &--review    
                width 130px
                min-width 130px
                max-width 130px
                
        &__review
            width 130px
            .svg-icon 
                width 18px
                height 18px
        .ya-logo
            width 130px
        a&__rating-link
            width 100%
            padding 11px 5px 9px
            font-size 13px
            
@media (max-width 1023px)        
    .show-compare-panel     
        .app-footer
            padding-bottom 60px