.b-full-params
    max-width 1050px
    &__header
        font-size 0
        line-height 1
        margin-bottom 50px
        display flex
    
    &__name
        font-family "Open Sans"
        font-size 24px
        letter-spacing -0.5px
        color #3F505B
        margin-right 80px
    
    &__download
        margin-right 40px
        a
            display inline-flex
            align-items center
            font-family "Open Sans"
            font-size 13px
            letter-spacing -0.5px
            color #3F505B
            
            .svg-icon
                width 30px
                height 26px
                fill #D00000
                margin-right 12px
    
    &__text
        line-height 2
        font-size 16px
        letter-spacing -0.5px
        color #3F505B
        margin-bottom 60px
        
    &__params
        display flex
        flex-wrap wrap
        justify-content space-between
        max-width 1000px
        
        &-item
            flex 0 0 400px
            margin-right 20px
            display flex
            margin-bottom 20px
            position relative
        
            > span
                flex 1 1 0
                border-bottom 1px dotted #c0cad0
                margin 0 5px 2px
        
        &-name
            flex 0 0 auto
            font-weight 500
            line-height 1
            font-size 14px
            letter-spacing -0.5px
            color #3F505B
            
        &-value
            flex 0 0 auto
            font-size 14px
            line-height 1
            letter-spacing -0.5px
            color #3F505B
    
    @media all and (max-width: 1023px)
        &__header
            margin-bottom 40px
        &__text
            display none
        &__name
            margin-right 20px
            
        &__params
            display block
            max-width 100%
            
            &-item
                margin-right 0
                margin-bottom 0
                display flex
                align-items center
                padding 17px 30px
                border-bottom 0.5px solid #B7C2C9
                
                &:last-child
                    border none
            
                > span
                    display none
            
            &-name
                flex 0 0 240px
                font-weight 400
                margin-right 10px
                
            &-value
                flex 0 1 auto
                
    @media all and (max-width: 760px)
        margin 0 -16px
        &__header
            display block
            padding 0 16px
            margin-bottom 10px
            
        &__name
            font-size 16px
            margin-right 0
            margin-bottom 15px
            
        &__download
            margin 0 0 15px
        &__params            
            &-item
                padding 14px 16px
            
            &-name
                flex 0 0 48%
                margin-right 2%
                font-size 12px
                
            &-value
                flex 0 0 50%