<div block="b-full-params">
	<div elem="header">
		<div elem="name">Внесен в Госреестр</div><!-- e:name -->
		<div elem="download">
			<a href="#" download><icon tag="span" name="download-ico"> Скачать описание типа</a>
		</div><!-- e:download -->
		<div elem="download">
			<a href="#" download><icon tag="span" name="download-ico"> Скачать инструкцию</a>
		</div><!-- e:download -->
	</div><!-- e:header -->
	<div elem="text">
		Перфоратор с патроном SDS-plus GBH 2-24 DF, Высокопроизводительный универсальный инструмент, Быстрое выполнение работы благодаря высокой скорости при сверлении и высокая производительность при долблении благодаря двигателю мощностью 790 Вт и энергии единичного удара 2,7 Дж, Надежный и высокопрочный инструмент с долгим сроком службы благодаря высококачественным элементам и компактной конструкции.Разнообразные области применения с блокировкой вращения в режиме долбления, Сменный патрон для быстрой смены между ударным сверлением в бетоне и сверлением без удара в древесине и металле, Шарнирное крепление кабеля для предотвращения разрывов, Поворотный щеткодержатель для одинаковой мощности как при правом, так и при левом вращении.
	</div><!-- e:text -->
	<div elem="params">
		{% for item in params %}
		<div elem="params-item">
			<div elem="params-name">{{item.name}}</div><!-- e:params-name -->
			<span></span>
			<div elem="params-value">{{item.value}}</div><!-- e:params-value -->
		</div><!-- e:params-item -->
		{% endfor %}
		{% for item in params %}
		<div elem="params-item">
			<div elem="params-name">{{item.name}}</div><!-- e:params-name -->
			<span></span>
			<div elem="params-value">{{item.value}}</div><!-- e:params-value -->
		</div><!-- e:params-item -->
		{% endfor %}
		{% for item in params %}
		<div elem="params-item">
			<div elem="params-name">{{item.name}}</div><!-- e:params-name -->
			<span></span>
			<div elem="params-value">{{item.value}}</div><!-- e:params-value -->
		</div><!-- e:params-item -->
		{% endfor %}
		{% for item in params %}
		<div elem="params-item">
			<div elem="params-name">{{item.name}}</div><!-- e:params-name -->
			<span></span>
			<div elem="params-value">{{item.value}}</div><!-- e:params-value -->
		</div><!-- e:params-item -->
		{% endfor %}
	</div><!-- e:params -->
</div><!-- b:full-params -->