.chiose-city.remodal
    width 100%
    max-width 1006px
    padding 35px 20px
    text-align left

.choose-bottom-wrapper
    padding 0

.choose-bottom

    &.remodal
        vertical-align bottom
        max-width none
        margin 0
        width 100%
        padding 30px 16px 56px
        border-radius 0
        box-shadow none

    &__title
        font-weight 500
        font-size 20px
        text-align center
        margin-bottom 30px

    .remodal-close
        display none

    .remodal-cancel
        margin-left 13px
    
.popup-choose-city
    max-width 800px    
    margin-left auto
    margin-right auto
    &__title
        font-size 24px
        line-height 24px
        font-weight 500
        margin-bottom 23px
        color #232F36
        text-align center
    &__form
        position relative
        width 100%
        flex 1
        margin-bottom 18px
        input 
            background none
            height 48px
            line-height 49px
            border-radius 2px
            border 1px solid #B7C2C9
            width 100%
            padding 0 50px 0 16px
            font-size 14px
            &::placeholder
                letter-spacing -0.5px
                color #91A2AE

        button 
            position absolute
            right 0
            top 0
            bottom 0
            border 0
            padding 0
            width 45px
            background none
            box-shadow none
            img 
                width 20px
                height 20px                
            
    &__form-dropdown-list
        padding 14px 0 16px 0
        position absolute
        left 0
        top 100%
        right 0
        margin-top 3px
        background #FAFAFA
        box-shadow 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
        border-radius 2px
        transition all .3s ease
        opacity 0
        visibility hidden
        &.show 
            opacity 1
            visibility visible
        &.error
            max-width 327px
            background #D00000    
            color #fff
            font-size 14px
            font-weight normal
            padding-left 24px
            padding-right 24px
            display flex 
            align-items center
            display none
            align-items flex-start
            
        .icon    
            margin-right 12px
            margin-top 2px
        
    &__form-dropdown-list-item
        font-size 14px
        margin-bottom 4px
        color #3C4858
        cursor pointer
        padding 4px 24px
        &:last-child
            margin-bottom 0
        &:hover
            background #EEEEEE
    &__cityes-box        
        display flex
        justify-content space-between
    &__cityes-container
        color #232F36
        
    &__list 
        padding 0
        margin 0
        list-style none 
        margin-bottom 12px
        
        &--first
            padding-top 6px
        
    &__city 
        font-size 13px 
        line-height 20px
        margin-bottom 4px
        cursor pointer
        &:last-child
            margin-bottom 0
        &:hover
            text-decoration underline
            
        &--bold    
            font-weight 500
            font-size 14px
                    
    &__letter-title
        font-size 24px
        font-weight 500
        display inline-block
        margin-bottom 5px
    
    @media (max-width 580px) 
        &__cityes-box
            flex-wrap wrap
        &__cityes-container
            width 50%
            
            
@media (max-width 480px) 
    .chiose-city-wrapper
        padding 0
        top 56px
        z-index 8
        .remodal
            border-radius 0
            padding-top 30px
            padding-bottom 10px
        
        .remodal-close    
            position absolute
            width 250px
            left 20px
            top 30px
            height 25px
            svg 
                display none
            
    .popup-choose-city
        &__title
            text-align left
            padding-left 38px
            font-size 16px
            position relative
            &:after
                content ""
                position absolute
                left 0
                top 50%
                margin-top -9px
                display block
                width 16px
                height 16px
                background url(../img/back-gray.svg) center center no-repeat
        &__form            
            input
                padding-left 23px
                border 0
                height 27px
                background #F5F5F5
            button 
                img     
                    width 17px
                    height 17px    