<div data-remodal-id="modal3" class="chiose-city">  
	<div block="popup-choose-city">
		<div elem="title">Выберите ваш город</div>
		<form elem="form" action="#" class="not-found">
    		<input type="text" placeholder="Начните печатать название города">
    		<button><img src="img/search-icon.svg" alt=""></button>
    		<div elem="form-dropdown-list">
    			<div elem="form-dropdown-list-item"><span>Еще вариант</span></div>
    			<div elem="form-dropdown-list-item"><span>Пермь</span></div>
    			<div elem="form-dropdown-list-item"><span>Еще вариант</span></div>
    			<div elem="form-dropdown-list-item"><span>Еще вариант</span></div>
    		</div>	
    		<div elem="form-dropdown-list" class="error">
				<img class="icon" src="img/warning-icon.svg" alt=""><span>Сожалеем, но, похоже, вашего города нет в списке городов доставки</span>
    		</div>	
		</form>
		<div elem="cityes-box">
			<div elem="cityes-container">
				<ul elem="list" mods="first">
					<li elem="city" mods="bold" data-phone="8 (495) 287-14-66">Москва</li>
					<li elem="city" mods="bold" data-phone="8 (123) 456-78-99">Санкт-Петербург</li>
				</ul>
				<span elem="letter-title">А</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
				</ul>
				<span elem="letter-title">Б</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
				</ul>
				<span elem="letter-title">В</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
				</ul>
				<span elem="letter-title">Г</span>
				<ul elem="list">
					<li elem="city">Гусь-Хрустальный</li>
				</ul>
				<span elem="letter-title">Д</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
				</ul>
				<span elem="letter-title">Е</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
				</ul>
				<span elem="letter-title">Ж</span>
				<ul elem="list">
					<li elem="city">Жуковский</li>
				</ul>
				<span elem="letter-title">И</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
				</ul>
			</div>			
			<div elem="cityes-container">
				<span elem="letter-title">Й</span>
				<ul elem="list">
					<li elem="city">Йошкар-Ола</li>
				</ul>
				<span elem="letter-title">К</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
					<li elem="city">Александров</li>
					<li elem="city">Алексин</li>
					<li elem="city">Анапа</li>
					<li elem="city">Ангарск</li>
					<li elem="city">Арзамас</li>
					<li elem="city">Архангельск</li>
				</ul>
				<span elem="letter-title">Л</span>
				<ul elem="list">
					<li elem="city">Нижний Новгород</li>
					<li elem="city">Екатеринбург</li>
				</ul>
				<span elem="letter-title">М</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
				</ul>
				<span elem="letter-title">Н</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
					<li elem="city">Александров</li>
					<li elem="city">Алексин</li>
					<li elem="city">Анапа</li>
					<li elem="city">Ангарск</li>
					<li elem="city">Арзамас</li>
					<li elem="city">Архангельск</li>
				</ul>
			</div>			
			<div elem="cityes-container">
				<span elem="letter-title">О</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
				</ul>
				<span elem="letter-title">П</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
				</ul> 
				<span elem="letter-title">Р</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
				</ul>
				<span elem="letter-title">С</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
					<li elem="city">Александров</li>
				</ul>
				<span elem="letter-title">Т</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
				</ul>
			</div>			
			<div elem="cityes-container">
				<span elem="letter-title">У</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>
					<li elem="city">Самара</li>
					<li elem="city">Казань</li>
					<li elem="city">Абакан</li>
					<li elem="city">Александров</li>
					<li elem="city">Алексин</li>
					<li elem="city">Анапа</li>
					<li elem="city">Ангарск</li>
					<li elem="city">Арзамас</li>
					<li elem="city">Архангельск</li>
				</ul>
				<span elem="letter-title">Ф</span>
				<ul elem="list">
					<li elem="city">Фрязино</li>
				</ul>
				<span elem="letter-title">Х</span>
				<ul elem="list">
					<li elem="city">Фрязино</li>					
				</ul>
				<span elem="letter-title">Ч</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>					
				</ul>
				<span elem="letter-title">Ш</span>
				<ul elem="list">
					<li elem="city" data-phone="8 (987) 789-98-78">Нижний Новгород</li>
					<li elem="city" data-phone="8 (456) 456-78-45">Екатеринбург</li>
					<li elem="city" data-phone="8 (654) 566-65-99">Челябинск</li>
					<li elem="city" data-phone="8 (123) 888-88-88">Краснодар</li>
					<li elem="city" data-phone="8 (123) 564-78-89">Пермь</li>
					<li elem="city">Воронеж</li>					
				</ul>
				<span elem="letter-title">Щ</span>
				<ul elem="list">
					<li elem="city">Щелково</li>					
				</ul>
				<span elem="letter-title">Э</span>
				<ul elem="list">
					<li elem="city">Электросталь</li>					
				</ul>
				<span elem="letter-title">Я</span>
				<ul elem="list">
					<li elem="city">Электросталь</li>					
				</ul>
			</div>			
		</div>
	</div>
</div>


<div data-remodal-id="modal4" block="choose-bottom">    
	<div elem="title">Ваш город Москва?</div>
	<div elem="button-wrapper">
		<div class="s-button type-7 remodal-cancel" data-remodal-action="cancel">Да, все верно</div>
		<div data-remodal-close class="s-button type-8 remodal-cancel" data-remodal-action="cancel">Нет, другой</div>
	</div>
</div>