.compare-products-list
  margin 0
  padding 0
  list-style-type none
  display flex

  &__item
    display flex
    flex 0 0 25%
    max-width 25%
    padding-right 32px

    .owl-item &
      flex 0 0 100%
      max-width 100%

  .owl-stage:after
    content none

  .owl-stage,
  .owl-item
    display flex

  .owl-prev,
  .owl-next
    border-radius 50%
    border: 1px solid #97B3C4
    font-size 0
    width 35px
    height 35px
    top 78px
    background #fff url('../img/compare-slider-arrow.svg') 14px 9px no-repeat

  .owl-prev
    transform rotate(180deg)

  .owl-nav
    position absolute
    top 0
    left 0
    width 100%

