<ul block="compare-products-list">
	{% for product in compareProductsList %}
		<li elem="item">
			{% include 'compare-prod-snippet.html' %}
		</li>
	{% endfor %}
</ul><!-- b:compare-products-list -->
