<div block="landing-about" mods="{{landingAboutMods}}">
	<div elem="inner">
		<div elem="title">
			О компании
		</div>
		<div elem="content">
			<p>
				<strong>«Инструментальный дом»</strong> — онлайн-гипермаркет инструментов для бизнеса и частных клиентов с доставкой по всей России.
			</p>
			<p>
				Наша главная цель — комплексное и оперативное решение задач клиентов. Ассортимент компании сегодня насчитывает более 130 000 позиций. За счет этого мы в полном объеме закрываем потребности — Вам не придется тратить время на поиск нескольких поставщиков.
			</p>
		</div>
	</div>
</div><!-- b:landing-about -->