.landing-about
	
	&__inner
		max-width 900px
		margin 0 auto
		width 100%
		padding 90px 20px 40px
		
	&__title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #232F36;
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			bottom 0
			left 0
			background-color #2577d7
			width 64px
			height 3px

	&__content
		font-family: Montserrat;
		line-height: 24px;
		font-size: 16px;
		color: #3C4858;
		margin-top 32px
		
		p
			margin-bottom 40px
			
@media (max-width: 1023px)
	.landing-about
		
		&__inner
			max-width 100%
			padding 5px 40px 30px
			
		&__title
			text-align center
			font-size 20px
			line-height 24px
			font-weight 500
			padding-bottom 10px
			
			&:before
				left 50%
				transform translateX(-50%)
				
		&__content
			font-size 14px
			line-height 24px
			letter-spacing -0.5px
			
			p
				margin-bottom 25px
				
@media (max-width: 480px)
	.landing-about
		
		&__inner
			padding 5px 15px 20px
			
		&__content
			
			p
				margin-bottom 20px