.floated-input
  position relative
  padding 26px 56px 0 20px
  height 56px

  &:after
    pointer-events none
    content: ""
    position: absolute
    right: 12px
    top: 50%
    width: 18px
    height: 18px
    transform: translateY(-50%)

  &.is-filled .floated-input__label,
  .floated-input__input:focus + .floated-input__label
    padding-top 8px
    z-index 5
    font-size 12px
    pointer-events none

  &.is-filled .floated-input__label .floated-input__fake,
  .floated-input__input:focus + .floated-input__label + .floated-input__fake
    border-color #0f8ec7

  &.is-error

    &:after
      background: url(../img/marker-x-red.svg) center center no-repeat

    .floated-input

      &__label
        color #D00000

      &__fake
        border-color #D00000

  &.is-success

    &:after
      background: url(../img/marker-green.svg) center center no-repeat

  &__input
    position relative
    z-index 10
    border none
    background transparent
    padding 0
    height 22px

  &__label
    position absolute
    z-index 15
    top 0
    left 0
    width 100%
    padding 18px 20px

    font-family: "Open Sans"
    font-size 14px
    color: #4c728b
    margin-bottom: 2px
    line-height: normal

    transition padding .16s linear, font-size .16s linear

  &__fake
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border-radius: 2px
    border: 1px solid #b7c2c9
