.compare-tag-select
  background: #EFF4F8
  border-radius: 2px
  text-align center
  ine-height: 16px
  font-size: 11px
  text-align: center
  letter-spacing: -0.5px
  color: #232F36
  text-decoration none
  max-width 146px
  margin 0 8px 8px 0
  padding 12px 0

  cursor pointer
  user-select none

  &:hover
    background-color darken(#EFF4F8, 10%)

  &.is-active
    background-color #FFD966

  @media (min-width 1140px)
    padding 8px 0
