.new-cart-form-radio-button-group
    font-size 14px
    margin 0 0 50px

    &_price
        font-weight 500

    &__table
        width 100%
        max-width 384px

        &-cell
            padding 5px

    label
        margin 0

    .cart-mini-icon
        display inline-block
        width: 16px
        margin-right: 7px
        vertical-align: middle

.radio {
    display: block;
    cursor: pointer
}

.radio input[type=radio] {
    display: none
}

.radio input[type=radio]+span {
    display: block;
    position: relative;
    padding: 0 0 0 33px
}

.radio input[type=radio]+span:before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #C5D1D9;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0
}

.radio input[type=radio]+span:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #2577D7;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    left: 5px;
    transition: all .2s ease;
    opacity: 0
}

.radio input[type=radio]:checked+span:before {
    background: #fff
}

.radio input[type=radio]:checked+span:after {
    opacity: 1
}
