<div class="new-cart-form-radio-button-group" data-type="0">
    <table class="new-cart-form-radio-button-group__table">
        <tbody>
        	<tr class="delivery_courier_table_switcher new-cart-form-radio-button-group__table-row">
        		<td class="new-cart-form-radio-button-group__table-cell">
        			<label class="radio new-cart-form-radio-button-group_radio" for="js-cart-delivery-courier">
        				<input id="js-cart-delivery-courier" type="radio" name="delivery_main_type" class="courierRadio" value="2" checked>
        				<span>
        					<div class="cart-mini-icon">
        						<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.90774 8.50274C3.02103 8.50274 2.30444 9.24113 2.30444 10.1516C2.30444 11.0594 3.02103 11.7979 3.90774 11.7979C4.79445 11.7979 5.51104 11.0594 5.51104 10.1516C5.51101 9.24113 4.79445 8.50274 3.90774 8.50274ZM3.90774 10.9747C3.46437 10.9747 3.10606 10.6042 3.10606 10.1516C3.10606 9.69637 3.46437 9.32844 3.90774 9.32844C4.35108 9.32844 4.70939 9.69637 4.70939 10.1516C4.70936 10.6042 4.35108 10.9747 3.90774 10.9747ZM16 7.2848V9.04265C16 9.48114 15.6538 9.83664 15.2267 9.83664H14.3993C14.2498 8.78323 13.3657 7.97336 12.2985 7.97336C11.234 7.97336 10.3498 8.78327 10.2003 9.83664H6.00645C5.85695 8.78323 4.97281 7.97336 3.90824 7.97336C2.84368 7.97336 1.95954 8.78327 1.81006 9.83664H0.773838C0.346756 9.83664 0.000564952 9.48117 0.000564952 9.04265V7.2848H16ZM12.3006 8.50274C11.4138 8.50274 10.6947 9.24113 10.6947 10.1516C10.6947 11.0594 11.4139 11.7979 12.3006 11.7979C13.1847 11.7979 13.9038 11.0594 13.9038 10.1516C13.9038 9.24113 13.1847 8.50274 12.3006 8.50274ZM12.3006 10.9747C11.8572 10.9747 11.4989 10.6042 11.4989 10.1516C11.4989 9.69637 11.8572 9.32844 12.3006 9.32844C12.7413 9.32844 13.1022 9.69637 13.1022 10.1516C13.1022 10.6042 12.7413 10.9747 12.3006 10.9747ZM15.6953 5.5146L12.6563 2.42854C12.463 2.23268 12.2026 2.12152 11.932 2.12152H10.3983V1.53129C10.3983 1.09196 10.0529 0.737305 9.625 0.737305H0.773305C0.347981 0.737305 3.11445e-05 1.092 3.11445e-05 1.53129C3.11445e-05 3.77559 0.000304833 4.67825 0 6.84589H15.9995V6.26623C15.9995 5.98303 15.8886 5.7131 15.6953 5.5146ZM14.3704 5.6178H9.16929C9.10228 5.6178 9.04813 5.56223 9.04813 5.49342V3.16168C9.04813 3.09287 9.10228 3.03727 9.16929 3.03727H11.9887C12.0196 3.03727 12.0505 3.05052 12.0737 3.07169L14.4529 5.40343C14.5328 5.48017 14.4786 5.6178 14.3704 5.6178Z" fill="#2577D7"/>
								</svg>
        					</div>
        					<span>Курьером</span>
        				</span>
        			</label>
        		</td>
        		<td class="deliveryButtonSum new-cart-form-radio-button-group__table-cell new-cart-form-radio-button-group_price">
        			250 <span class="rub">₽</span>
        		</td>
        		<td class="deliveryButtonDays new-cart-form-radio-button-group__table-cell new-cart-form-radio-button-group_date">
        			Через 4 дня
        		</td>
        	</tr>
        	<tr class="delivery_self_table_switcher new-cart-form-radio-button-group__table-row"><td class="new-cart-form-radio-button-group__table-cell">
        		<label class="radio new-cart-form-radio-button-group_radio" for="js-cart-delivery-self">
        			<input id="js-cart-delivery-self" type="radio" name="delivery_main_type" class="selfRadio" value="1">
        			<span>
        				<div class="cart-mini-icon">
        					<svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M5.125 15C5.46667 15 10.25 7.76142 10.25 5C10.25 2.23858 7.95546 0 5.125 0C2.29454 0 0 2.23858 0 5C0 7.76142 4.78333 15 5.125 15ZM5.125 8.4375C6.54023 8.4375 7.6875 6.94852 7.6875 5.47697C7.6875 4.00543 6.54023 2.8125 5.125 2.8125C3.70977 2.8125 2.5625 4.00543 2.5625 5.47697C2.5625 6.94852 3.70977 8.4375 5.125 8.4375Z" fill="#2577D7"/>
							</svg>
        				</div>
        				<span>Самовывоз</span>
        			</span>
        		</label>
        	</td>
        	<td class="deliveryButtonSum new-cart-form-radio-button-group__table-cell new-cart-form-radio-button-group_price">
        		бесплатно
        	</td>
        	<td class="deliveryButtonDays new-cart-form-radio-button-group__table-cell new-cart-form-radio-button-group_date">
        		Завтра
        	</td>
        </tr>
    </tbody></table>
</div>
