.b-categor-block
	ul
		padding 0
		margin 0
		list-style none
		font-size 0
		line-height 1
	
	&__ul
		display flex
		flex-wrap wrap
		
		> li
			flex 0 0 31%
			margin-right 3.5%
			margin-bottom 24px
			transition all 0.3ms ease
			
			&.hide
				display none
			
			&:nth-child(3n)
				margin-right 0
				
			@media all and (max-width: 760px)
				flex 0 0 48%
				margin-right 4%
				
				&:nth-child(3n)
					margin-right 4%
				&:nth-child(2n)
					margin-right 0
			@media all and (max-width: 520px)
				flex 0 0 100%
				margin-right 0
				
				&:nth-child(3n)
					margin-right 0
			
			a
				text-align center
				text-decoration none
				display block
				background #F2F6F8
				border-radius 2px
				font-weight 500
				line-height 1.4
				font-size 14px
				letter-spacing 1px
				text-transform uppercase
				color #232F36
				padding 20px 10px 20px
				height 100%
				
				span
					display block
					
					&.pic
						height 130px
						display flex
						align-items center
						justify-content center
						
						img
							max-height 120px
					
					&.name
						margin-bottom 10px
	
	&__banner
		background #D4F4F2
		margin-bottom 40px
		padding 32px 20px
		display flex
		align-items center
		justify-content center
		
		&-text
			font-size 24px
			letter-spacing -0.5px
			color #246F68
			flex 0 1 auto
			margin-right 32px
		
		&-btn
			flex 0 0 168px
			a
				display block
				text-decoration none
				font-size 16px
				line-height 1
				letter-spacing -0.5px
				color #246F68
				border 2px solid #246F68
				border-radius 40px
				text-align center
				padding 14px 10px
				transition all 0.3s ease
				
				&:hover
					color #fff
					background #246F68
		
		@media all and (max-width: 760px)
			display block
			text-align center
			margin-bottom 24px
			&-text
				margin-right 0
				margin-bottom 15px
			&-btn
				a
					display inline-block
					min-width 160px
					
		@media all and (max-width: 520px)
			&-text
				font-size 18px
	