<div block="b-categor-block">
    <ul elem="ul">
        {% for item in categBlock %}
        <li elem="li" data-categ="{{item.categ}}">
            <a href="#">
                <span class="name">{{item.name}}</span>
                <span class="pic"><img src="{{item.pic}}" alt=""></span>
            </a>
        </li><!-- e:li -->
        {% endfor %}
    </ul><!-- e:ul -->
    <div elem="banner">
        <div elem="banner-text">Пссс... псс.. лобзик, случайно, не нужен?</div><!-- e:banner-text -->
        <div elem="banner-btn"><a href="#">Нужен!</a></div><!-- e:banner-btn -->
    </div><!-- e:banner -->
    <ul elem="ul">
        {% for item in categBlock %}
        <li elem="li" data-categ="{{item.categ}}">
            <a href="#">
                <span class="name">{{item.name}}</span>
                <span class="pic"><img src="{{item.pic}}" alt=""></span>
            </a>
        </li><!-- e:li -->
        {% endfor %}
    </ul><!-- e:ul -->
</div><!-- b:categor-block -->