<div block="b-categor-lm">
	<ul elem="ul">
		<li>
			<a href="#">Глубиномеры</a>
			<ul>
				<li><a href="#">Индикаторные</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Штангенциркули</a>
			<ul>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Индикаторы, головки измерительные</a>
			<ul>
				<li><a href="#">Часового типа ИЧ</a></li>
				<li><a href="#">Цифровые (электронные) </a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Интерфейсы</a>
			<ul>
				<li><a href="#">Часового типа ИЧ</a></li>
				<li><a href="#">Цифровые (электронные) </a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Колеса измерительные (курвиметры)</a>
			<ul>
				<li><a href="#">Часового типа ИЧ</a></li>
				<li><a href="#">Цифровые (электронные) </a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Концевые меры длины КМД</a>
			<ul>
				<li><a href="#">Часового типа ИЧ</a></li>
				<li><a href="#">Цифровые (электронные) </a></li>
				<li><a href="#">Двусторонние с глубиномером ТИП-1</a></li>
				<li><a href="#">Микрометрические</a></li>
				<li><a href="#">Электронные</a></li>
				<li><a href="#">Электронные</a></li>
			</ul>
		</li>
		<li><a href="#">Лазерные дальномеры</a></li>
		<li><a href="#">Лазерные уровни (нивелиры)</a></li>
		<li><a href="#">Линейки</a></li>
		<li><a href="#">Меры твердости образцовые</a></li>
		<li><a href="#">Микрометры</a></li>
		<li><a href="#">Нутромеры</a></li>
		<li><a href="#">Плиты поверочные</a></li>
		<li><a href="#">Проволочки для измерения среднего диаметра резьбы</a></li>
		<li><a href="#">Рулетки и метры складные</a></li>
		<li><a href="#">Стенкомеры, толщиномеры</a></li>
		<li><a href="#">Угломеры и уклономеры</a></li>
		<li><a href="#">Угольники</a></li>
		<li><a href="#">Уровни</a></li>
		<li><a href="#">Шаблоны и щупы</a></li>
		<li><a href="#">Штангенрейсмасы</a></li>
		<li><a href="#">Штангенциркули</a></li>
		<li><a href="#">Калибры</a></li>
		<li><a href="#">Граммометры</a></li>
		<li><a href="#">Колёса зубчатые измерительные</a></li>
		<li><a href="#">Кольца установочные и образцовые</a></li>
		<li><a href="#">Кубы поверочные</a></li>
		<li><a href="#">Меры плоского угла</a></li>
		<li><a href="#">Образцы шероховатости</a></li>
		<li><a href="#">Пластины поверочные стеклянные</a></li>
		<li><a href="#">Призмы поверочные</a></li>
		<li><a href="#">Приспособления для измерительного инструмента</a></li>
		<li><a href="#">Скобы измерительные</a></li>
		<li><a href="#">Штифты</a></li>
	</ul><!-- e:ul -->
</div><!-- b:categor-lm -->