.b-categor-lm
	ul
		padding 0
		margin 0
		list-style none
		font-size 0
		line-height 1
		
	&__ul
		> li
			margin-bottom 5px
			> a
				display inline-block
				text-decoration none
				font-weight 500
				font-size 14px
				letter-spacing -0.5px
				color #232F36
				padding 13px 0
				
				&:hover
					color #2577D7
			
			> ul
				> li
					&:nth-child(1n+3)
						display none
					
					&.b-categor-lm__viewAll
						display block
						
						> a
							color #2577D7
							.svg-icon
								width 8px
								height 5px
								fill #2577D7
								vertical-align middle
							
							&.opened
								.svg-icon
									transform rotate(180deg)
			
			ul
				li
					a
						display inline-block
						text-decoration none
						font-size 13px
						letter-spacing -0.5px
						color #3C4858
						padding 5px 0
						
						&:hover
							color #2577D7
					
					ul
						padding-left 10px