<div block="landing-contacts" mods="{{landingContactsMods}}">
	<div elem="inner">
		<div elem="title">
			Как  стать корпоративным клиентом?
		</div>
		<div elem="items">
			<div elem="item" mods="phone">
				<div elem="item-icon">
					<img src="img/phone.svg" alt="">
				</div>
				<div elem="item-content">
					Позвонить по телефону <a class="phone-link" href="tel:+74952871466">+7 (495) 287-14-66</a> или заказать <a class="modal-link" href="#modal2">обратный звонок</a>
				</div>
			</div>
			<div elem="item" mods="email">
				<div elem="item-icon">
					<img src="img/letter.png" alt="">
				</div>
				<div elem="item-content">
					Написать нам на e-mail <br/> <a class="modal-link" href="mailto:b2b@instrdom.ru">b2b@instrdom.ru</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:landing-contacts -->