.landing-contacts
	background url('../img/landing-contacts-bg.jpg') 0 0 no-repeat
	background-size cover
	
	&__inner
		max-width 1008px
		width 100%
		margin 0 auto
		padding 95px 20px 150px
		
	&__title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #fff;
		text-align center
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			width 64px
			height 3px
			background-color #2577D7
			bottom 0
			left 50%
			transform translateX(-50%)
			
	&__items
		margin-top 100px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		padding 0 44px
		
	&__item
		flex 0 0 50%
		width 50%
		max-width 50%
		padding-right 30px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content flex-end
		
	&__item-icon
		flex 0 0 80px
		width 80px
		max-width 80px
		height 80px
		margin-right 25px
		border-radius 80px
		background-color #2577D7	
		display flex
		justify-content center
		align-items center
		padding 10px
		font-size 0
		line-height 0
		
		img
			max-width 100%
			max-height 100%
		
	&__item-content
		font-family: Open Sans;
		font-weight: 600;
		line-height: 26px;
		font-size: 16px;
		letter-spacing: -0.5px;
		color: #C8DFF4;
				
		a
			color: #C8DFF4;
			text-decoration none
			
			&.modal-link
				border-bottom 1px dotted #C8DFF4
				
@media (max-width: 1023px)
	.landing-contacts
		
		&__inner
			padding 47px 20px 40px
			
		&__title
			padding-bottom 10px
			font-weight 500
			font-size 20px
			line-height 24px

			&:before
				height 2px
				
		&__items
			margin-top 30px
			flex-direction column
			align-items center
			padding 0
			
		&__item
			flex 1 1 auto
			width auto
			max-width 360px
			padding-right 0
			margin-bottom 40px
			flex-direction column
			justify-content flex-start
			
		&__item-icon
			margin-right 0
			flex 0 0 34px
			width 34px
			height 34px
			padding 7px
			
		&__item-content
			text-align center
			margin-top 11px
			
@media (max-width: 480px)
	.landing-contacts
		
		&__inner
			padding 37px 15px 60px
			
		&__item
			margin-bottom 35px