.two-way-switch
  position relative
  display inline-flex
  align-items center

  &__ctrl
    opacity 0
    position absolute
    z-index 3
    width 100%
    height 100%
    top 0
    left 0

    + .two-way-switch__fake + .two-way-switch__label
    &.checked + .two-way-switch__fake + .two-way-switch__label + .two-way-switch__label
      color #3C4858

    &.checked + .two-way-switch__fake + .two-way-switch__label
      color: #B7C2C9

    &.checked + .two-way-switch__fake:before
      left 18px

  &__fake
    order 2
    position relative
    margin 0 16px
    width 34px
    height 14px
    border-radius 10px
    background-color rgba(34, 31, 31, 0.26);

    &:before
      content ''
      position absolute
      left -4px
      top -3px
      border-radius 50%
      width: 20px;
      height: 20px;
      background: #2577D7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);

  &__label
    font-weight: 500
    line-height: normal
    font-size: 13px
    line-height 13px
    color: #B7C2C9

    &:first-child
      order 1
    &:last-child
      order 3
