.b-reviews-tabs
    border-bottom 0.5px solid #B7C2C9
    margin-bottom 45px
    &__item
        display flex
        margin-bottom 40px
        
        &-left
            flex 0 0 220px
            padding 0 20px 0 0
        
        &-name
            font-size 20px
            letter-spacing -0.005em
            color #232F36
            margin-bottom 10px
        
        &-date
            line-height 20px
            font-size 14px
            letter-spacing -0.005em
            color #3C4858
        
        &-text
            line-height 1.4
            font-size 14px
            color #232F36
            margin-bottom 15px
        
        &-text-name
            font-weight 500
            margin-bottom 5px
            
    &__rating-star
        display inline-block
        vertical-align middle
        position relative
        width 76px
        height 14px
        background url(../img/star-grey.svg) 0 0 repeat-x
        
        > span
            position absolute
            left 0
            top 0
            bottom 0
            background url(../img/star-gelb.svg) 0 0 repeat-x
    
    @media all and (max-width: 1023px)
        &__item
            
            &-left
                flex 0 0 180px
    @media all and (max-width: 640px)
        border none
        margin-bottom 35px
        &__item
            display block
            margin-bottom 30px
            &-left
                padding 0
                margin-bottom 15px
        