<div block="b-reviews-tabs">
	<div elem="item">
		<div elem="item-left">
			<div elem="item-name">Иван Иванов</div><!-- e:item-name -->
			<div elem="item-date">12.04.2018</div><!-- e:item-date -->
			<div elem="rating-star" data-rating="80"><span></span></div><!-- e:rating-star -->
		</div><!-- e:item-left -->
		<div elem="rigth">
			<div elem="item-text">
				<div elem="item-text-name">Достоинства</div><!-- e:text -->
				Удобный, легкий, хорошо держит заряд, адекватная цена
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Недостатки</div><!-- e:text -->
				По аппарату нареканий нет. У кейса застежка ослабла и стала плохо держать
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Комментарий</div><!-- e:text -->
				Что то прикрутить, собрать мебель, хватает закрутить саморез. В принципе почти все характеристики как у шуруповерта, плюс показывает уровень зарядки. 
			</div><!-- e:text -->
		</div><!-- e:rigth -->
	</div><!-- e:item -->
	<div elem="item">
		<div elem="item-left">
			<div elem="item-name">Fanaa Geoorf</div><!-- e:item-name -->
			<div elem="item-date">12.04.2018</div><!-- e:item-date -->
			<div elem="rating-star" data-rating="70"><span></span></div><!-- e:rating-star -->
		</div><!-- e:item-left -->
		<div elem="rigth">
			<div elem="item-text">
				<div elem="item-text-name">Достоинства</div><!-- e:text -->
				Удобный, легкий, хорошо держит заряд, адекватная цена
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Недостатки</div><!-- e:text -->
				По аппарату нареканий нет. У кейса застежка ослабла и стала плохо держать
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Комментарий</div><!-- e:text -->
				Что то прикрутить, собрать мебель, хватает закрутить саморез. В принципе почти все характеристики как у шуруповерта, плюс показывает уровень зарядки. 
			</div><!-- e:text -->
		</div><!-- e:rigth -->
	</div><!-- e:item -->
	<div elem="item">
		<div elem="item-left">
			<div elem="item-name">Fanaa Geoorf</div><!-- e:item-name -->
			<div elem="item-date">12.04.2018</div><!-- e:item-date -->
			<div elem="rating-star" data-rating="80"><span></span></div><!-- e:rating-star -->
		</div><!-- e:item-left -->
		<div elem="rigth">
			<div elem="item-text">
				<div elem="item-text-name">Достоинства</div><!-- e:text -->
				Удобный, легкий, хорошо держит заряд, адекватная цена
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Недостатки</div><!-- e:text -->
				По аппарату нареканий нет. У кейса застежка ослабла и стала плохо держать
			</div><!-- e:text -->
			<div elem="item-text">
				<div elem="item-text-name">Комментарий</div><!-- e:text -->
				Что то прикрутить, собрать мебель, хватает закрутить саморез. В принципе почти все характеристики как у шуруповерта, плюс показывает уровень зарядки. 
			</div><!-- e:text -->
		</div><!-- e:rigth -->
	</div><!-- e:item -->
</div><!-- b:reviews-tabs -->