<div block="b-delivery-tabs">
	<div elem="header">Город достваки/самовывоза: <span elem="city">Москва</span><!-- e:city --></div><!-- e:header -->
	<div elem="type-wr">
		<div elem="type">
			<div elem="type-name"><icon tag="span" name="courery">Курьером</div><!-- e:type-name -->
				<div elem="type-value"><span>250 ₽/ через 4 дня </span></div><!-- e:type-value -->
		</div><!-- e:type -->
		<div elem="type">
			<div elem="type-name"><icon tag="span" name="map-ico">Самовывоз из ПВЗ</div><!-- e:type-name -->
				<div elem="type-value"><span>от 190 ₽/ через 2 дня</span></div><!-- e:type-value -->
		</div><!-- e:type -->
		<div elem="type">
			<div elem="type-name"><icon tag="span" name="map-ico">Самовывоз из магазина</div><!-- e:type-name -->
				<div elem="type-value"><span>Бесплатно/ завтра</span></div><!-- e:type-value -->
		</div><!-- e:type -->
	</div><!-- e:type-wr -->
	<div elem="address">Адрес магазина: Электродная улица, д.2, стр. 12-13-14 </div><!-- e:address -->
	<div elem="map-name">Пункты самовывоза на карте</div><!-- e:map-name -->
	<div elem="map" mods="sdek">
		<img src="img/sdek.jpg" alt="">
	</div><!-- e:map -->
</div><!-- b:delivery-tabs -->