.b-delivery-tabs
    &__header
        font-size 18px
        color #232F36
        margin-bottom 20px
        
        span
            display inline-block
            position relative
            font-weight 500
            font-size 16px
            padding-right 15px
            
            &:before
                content ""
                position absolute
                right 0
                top 50%
                border-style solid
                border-width 4px 0 4px 7px
                border-color transparent
                border-left-color #0F8EC7
                margin-top -4px
    
    &__type-wr
        display flex
        flex-wrap wrap
        border 1px solid #B7C2C9
        margin-bottom 25px
            
    &__type
        position relative
        flex 0 0 33%
        font-weight 500
        line-height 1
        font-size 14px
        letter-spacing -0.5px
        color #232F36
        
        &:first-child
            &:after
                display none
        &:nth-child(2n)
            flex 0 0 34%
        &:after
            content ""
            position absolute
            left 0
            top 0
            bottom 0
            width 1px
            background #B7C2C9
        
        &-name
            font-weight normal
            border-bottom 1px solid #B7C2C9
            .svg-icon
                fill #0F8EC7
                width 16px
                height 16px
                vertical-align middle
                margin-right 5px
                
                &--map-ico
                    fill none
                    stroke #0F8EC7
            
        > div
            display flex
            align-items center
            justify-content center
            position relative
            
            &:before
                content ""
                display block
                padding-bottom 72px
            
            &.b-delivery-tabs__type-name
                
                &:before
                    padding-bottom 72px
                
            
    
    &__address
        line-height 1
        font-size 16px
        letter-spacing -0.5px
        color #D00000
        margin-bottom 60px
    
    &__map-name
        font-size 18px
        color #232F36
        margin-bottom 28px
    
    @media all and (max-width: 760px)
        &__header
            font-size 14px
            
            span
                font-size 16px
                
                &:before
                    transform rotate(90deg)
        
        &__type-wr
            display block
            border none
                
        &__type
            display flex
            align-items center
            padding 12px 0
            border-bottom 1px solid #B7C2C9
            
            &:after
                display none
            
            &-name
                border none
                margin-right 15px
                flex 0 0 180px
                
            > div
                display block
                &:before
                    display none
                    
                
        
        &__address
            font-size 12px
            margin-bottom 20px
        
        &__map-name
            font-size 14px
            margin-bottom 10px
        
