.compare-prod-snippet
  display flex
  flex-direction column
  width 100%

  &__head
    width 100%
    display flex
    flex-direction column
    justify-content space-between
    flex 1
    -ms-flex 1 0 auto

    position relative
    margin-bottom 35px

  &__thumb
    width auto
    height 100%
    max-height 178px

    &-wrap
      width 100%
      max-width 185px
      height 178px
      margin-bottom 10px

  &__name
    font-weight: bold
    line-height: 22px
    font-size: 16px
    margin 0 0 23px 0
    flex 1
    -ms-flex 1 0 auto

  &__to-cart
    padding 0 3px

    .s-button
      width 100%
