<div block="compare-prod-snippet">
	<div elem="head">

		{% include 'compare-delete.html' %}

		<div elem="thumb-wrap">
			<img elem="image" src="img/{{ product.image }}">
		</div>
		<div elem="name">{{ product.name }}</div>
		<div elem="to-cart">
			<a href="#" class="s-button type-2">В корзину</a>
		</div>
	</div>
	<ul block="compare-fields">
		{% for item in product.fields %}
			<li elem="field">{{ item }}</li>
		{% endfor %}
	</ul>
</div>
