<div block="landing-header" mods="{{landingHeaderMods}}">
	<div elem="inner">
		<div elem="inner-layout">
			<div elem="burger">
				<icon name="burger" tag="span"/>
			</div>
			<div elem="logo">
				<a href="#">
					<img src="img/logo-bot.svg" alt="logo">
				</a>
			</div>
		</div>
		<nav elem="menu" mods="hidden">
			<ul>
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Магазин</a>
				</li>
				<li>
					<a href="#">Самовывоз</a>
				</li>
				<li>
					<a href="#">Доставка/Оплата</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
				<li class="is-active">
					<a href="#">Юридическим лицам</a>
				</li>
			</ul>
		</nav>
		<div elem="contacts">
			<div elem="contacts-item" mods="phone">
				<a href="tel:84952871466">8 (495) 287-14-66</a>
			</div>
			<div elem="contacts-item" mods="email">
				<a href="mailto:b2b@instrdom.ru">b2b@instrdom.ru</a>
			</div>
		</div>
	</div>
</div><!-- b:landing-header -->