.landing-header
	flex none
	background-color transparent
	transition background-color ease-out 0.2s

	&.scroller
		background-color #2F3B62
		
		.landing-header__inner
			padding 10px 20px
	
	&__inner
		max-width 1220px
		width 100%
		margin-left auto
		margin-right auto
		padding 30px 20px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content space-between
		transition padding ease-out 0.2s
		
	&__inner-layout
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		
	&__burger
		flex 0 0 24px
		display none
		margin-right 35px
		cursor pointer
		
		.svg-icon
			width 24px
			height 24px
			fill #fff
		
	&__logo
		flex 0 0 150px
		font-size 0
		width 150px
		
		a
			display block
			text-decoration none
			
			img
				width 100%
				max-width 100%
			
	&__menu
		
		&--hidden
			display none
			
		& > ul
			padding 20px 0 13px 40px
			
			& > li
				margin-bottom 20px
				
				& > a
					color #fff
					text-decoration none
					font-size 14px
					line-height 16px

	
	&__contacts-item
		text-align: right;
		a
			text-decoration none

		&--phone
			a
				font-size: 24px;
				color: #FFFFFF;
				display block
				
		&--email
			a
				font-size 18px
				font-weight 300
				text-decoration underline
				color #e5f5ff
				
				&:hover
					text-decoration none
					
	&--fixed
		position fixed
		top 0	
		left 0
		width 100%
		z-index 10
		
@media (max-width: 1023px)
	.landing-header		
		
		&.scroller
			.landing-header__inner
				padding 20px
		
		&__inner
			padding 20px
			
		&__logo
			flex 0 0 130px
			width 130px

		&__burger
			display block
		
		&__contacts-item
			
			&--phone
				a
					font-size 18px
			
			&--email
				display none
				
@media (max-width: 480px)
	.landing-header
		background-color #2f3b62
		
		&.scroller
			.landing-header__inner
				padding 15px
		
		&__inner
			padding 15px
		
		&__logo
			flex 0 0 120px
			width 120px
			
		&__burger
			margin-right 20px
			
@media (max-width: 350px)
	.landing-header
		
		&__burger
			margin-right 10px
			
		&__logo
			flex 0 0 110px
			width 110px