.b-form
    &--popup
        width 100%
        max-width 592px
        margin-left auto
        margin-right auto
        
        & ^[0]
            &__button
                width 100%
                height 56px
                letter-spacing 1px

.remodal
    border-radius 2px
         
.form.remodal
    width 100% 
    max-width 992px
    padding 102px 30px 160px
        
.application-wrapper
    padding 0
    
    .form.remodal
        margin 0
        padding 0
        // height 100%
        max-width 100%
        text-align left      
    
    .remodal-close
        top 36px
        right 50%
        margin-right -580px

    .text-container-l
        background #2577D7
        color #fff
        padding-right 100px
        display flex
        align-items center
        justify-content flex-end
        width 40%
        padding-left 30px
        position fixed
        left 0
        top 0
        bottom 0
        &__l-title
            font-weight 300
            font-size 52px
            line-height 60px
            margin-bottom 28px
            letter-spacing 0.04em
            color #fff
        &__sub-title
            font-family "Open Sans"
            font-weight 300
            line-height 33px
            font-size 26px

    .b-form
        overflow-y auto
        &--popup
            max-width 100%
            height 100%
            display flex
            


            font-size 26px
            
        &__container-r    
            margin-left 40%
            position relative
            padding 50px 56px 50px 104px
            width 100%
            max-width 727px
            display flex
            justify-content center          
            flex-direction column
            
        &__title 
            display none
    
        &__row
            flex none
            display flex
            justify-content space-between
            &--file
                display none
        
        &__file-container
                
            input[type="file"]
                font-size 16px
                height 56px
                
            .jq-file    
                width auto
                border 0
                border-radius 0
                display flex
                top auto
                right auto
                padding-right 40px
                input
                    width 100%
                
            .jq-file__name
                line-height 56px    
                height 56px
                padding 0 0 0 25px
                margin 0
                width auto
                background none
                font-size 16px
                color #4C728B                    
                font-family "Open Sans"
                
            .jq-file__browse    
                position relative
                font-size 13px
                font-family "Open Sans"
                line-height 56px
                font-size 16px
                border 0
                background none
                opacity 1
                background none
                top auto
                right auto
                padding 0
                box-shadow none
                display none
            
            .jq-file__refresh
                display none
                line-height 52px
                position relative
                z-index 1
                cursor pointer
                padding-top 3px
                font-size 16px

            .jq-file.changed    
                padding-right 18px
                input[type="file"]
                    display none
                .jq-file__name
                    padding-top 1px
                    font-family "Roboto"
                    color #232F36
                    margin-right 14px

                .jq-file__refresh    
                    display block
                    color #D00000   
            

        &__item
            flex none
            &--phone
                background none
            &--name
                
                .b-form__item-in
                    position relative
                    border 1px solid #B7C2C9
                    border-radius 2px
                    display flex
                    justify-content space-between
                    align-items center
                
                input
                    border 0
                    background none
                    width 50%  
                
                &.error 
                    border 0
                    
                    .b-form__item-in
                        border-color #d00000
                    
                    .b-form__error-note
                        padding-left 0
                        margin-bottom 6px

                    &.expansion
                        .expansion
                            display block
                        .size 
                            display none  
                    &.size 
                        .size 
                            display block
                        .expansion
                            display none

            &--email
                &.error
                    height 56px
                    .b-form__error-note    
                        margin-bottom -2px

            &--file
                text-align center
                font-family "Open Sans"
                height 239px
                margin-bottom 20px
                width 100%
                &.error
                    height 272px
  
                .jq-file
                    padding-bottom 40px
                    height 239px
                    padding-top 80px
                    &:before
                        content ""
                        position absolute
                        top 30px
                        left 50%
                        width 41px
                        height 28px
                        display block
                        margin-left -20px
                        background url(../img/cloud.svg)
                    input 
                        font-size auto 
                        height 100%
                        
                .jq-file__name
                    height auto
                    margin 0 auto 25px
                    padding 0 0 0 0
                    line-height 22px
                    font-size 14px
                    color #4C728B
                    max-width 412px
                    white-space normal
                    background none
                    &:before
                        display none
                        
                    span 
                        display none
                        margin-left 16px
                        color #D00000
                        
                .jq-file__browse 
                    position relative
                    right auto
                    top auto
                    width 200px
                    margin 0 auto
                    border-radius 70px
                    color #fff
                    background #2577D7
                    height 48px
                    opacity 1
                    border 0
                    padding 0 29px 0 53px
                    text-shadow none
                    line-height 48px
                    font-size 13px
                    cursor pointer
                    box-shadow none 
                    letter-spacing normal
                    &:hover
                        background #232F36
                    &:before
                        content ""
                        position absolute
                        left 29px
                        top 50%
                        margin-top -9px
                        width 17px
                        height 18px
                        background url(../img/clip-white.svg) 0 0 no-repeat
                        
                .jq-file__refresh    
                    color #D00000
                    font-size 18px
                    line-height 1
                    cursor pointer
                    position relative
                    z-index 1
                    display none

                .jq-file.changed
                    padding-top 114px
                    display flex
                    justify-content center
                    align-items flex-start
                    input 
                        display none
                    .jq-file__name
                        width auto
                        max-width 100%
                        margin 0 16px 0 0
                        color #232F36
                        font-size 18px
                        line-height 21px
                        font-family "Roboto"

                    .jq-file__browse        
                        display none
                    
                    .jq-file__refresh
                        font-family "Roboto"
                        display block    
                        line-height 21px
            
            &--text
                font-style italic
                font-family "Open Sans"
                margin-bottom 25px
                font-size 14px
                line-height normal
                text-align center
                color #3C4858
            &--greement    
                font-family "Open Sans"
                line-height 21px
                margin-right 20px
                max-width 208px
                display flex
                align-items flex-start
                font-size 13px
                
                .jq-checkbox
                    margin-top 4px

            &--button
                width 48.5%

            &.smal
                width 48.5%
                
            &.error 
                background none    

        &__bot-container
            flex none
            display flex
            align-items center
            justify-content space-between
            
    // @media (max-height 630px) 
    //     .b-form
    //         &__container-r
    //             justify-content flex-start
    //             padding-top 0
    //             padding-bottom 0
    //             margin-top 50px
    //             margin-bottom 50px
    //             height 100%
            
.after-note
    padding-top 50px
    &__icon    
        position relative
        border-radius 500px
        background #2577D7
        width 80px
        height 80px
        margin 0 auto 17px
        &:before
            content ""
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%) 
            width 18px
            height 14px            

                    
    &__title
        font-weight 500
        color #232F36        
        font-size 24px
        margin-bottom 11px
    &__text
        font-size 16px
        line-height 22px
        
    &.success
        & ^[0]
            &__icon 
                box-shadow inset 0 0 0 17px rgba(#fff, 0.4)
                background #2577D7
                &:before
                    background url(../img/cl-l.svg) center center no-repeat 
    &.error
        & ^[0]
            &__icon 
                box-shadow inset 0 0 0 17px rgba(#fff, 0.4)
                background #D00000
                &:before
                    width 14px
                    height 14px
                    background url(../img/close-white.svg) center center no-repeat       
      

@media (max-width 1280px)
    .application-wrapper 
        .text-container-l            
            min-width 380px
            padding-right 40px
            &__l-title
                padding-right 0
                font-size 40px
                line-height 45px
        .b-form
            // height 100% !important
            &__sub-title
                font-size 23px
            &__container-r
                padding-top 100px
                padding-left 40px
                padding-right 80px
                
                max-width 100%
                
        .remodal-close    
            right 27px
            top 30px
            margin-right 0
                    
@media (max-width 940px) 
    .application-wrapper 
        top 64px
        z-index 8
        .remodal
            border-radius 0
        .text-container-l
            display none
        .b-form
            overflow-y inherit
            padding-left 16px
            padding-right 16px
            // height auto !important
            &__container-r
                margin-left 0
                padding-top 36px
                padding-left 77px
                padding-right 77px
                max-width 100%
                margin 0 auto
            &__title    
                display block                
                flex none
                margin-bottom 32px
            &__item
                &.smal
                    width 58%
                &--phone
                    &.smal
                        width 40%
                &--text    
                    font-size 14px
                    font-family "Open Sans"
            &__item
                &--name
                    
                    .b-form__file-container
                        display none
                        
                &--file             
                    display none
                    
                &--button    
                    width 48%
                    margin-bottom 0px
            &__row
                &--file                
                    display flex
                    margin-bottom 36px
                    
            &__file-container                
                &.mobile
                    width 49%
                                        
                    .jq-file
                        background #2F3B62
                        border-radius 2px
                        padding-left 31px
                        padding-right 0
                        .jq-file__name
                            font-size 14px
                            color #fff
                            text-transform uppercase
                            font-weight 500
                            letter-spacing 1px
                            padding-top 2px
                            font-family "Roboto"
                            &:before
                                margin-top -9px
                                background: url(../img/clip-white.svg) 0 0 no-repeat
                                
                    &.type-2        
                        .jq-file
                            background #2577D7
                            padding-left 24px
                            .jq-file__name
                                padding-left 30px
                                &:before
                                    width 21px
                                    height 20px
                                    margin-top -10px
                                    background: url(../img/folder.svg) 0 0 no-repeat
                                    
            &__bot-container
                justify-content space-between
                                    

@media (max-width 640px) 
    .form.remodal
        min-height 0
        padding 35px 7px
        .b-form
            &__title
                font-size 20px
                margin-bottom 8px
            &__text
                font-size 14px

                
    .remodal-close
        right 13px
        width 14px
        height 14px
        overflow hidden
        svg
            position absolute
            left 50%
            top 50%
            width 36px
            height 36px
            margin -18px 0 0 -18px

    .application-wrapper
        top 56px
        .remodal
            border-radius 0
        .remodal-close    
            right 17px
            top 28px
        .b-form
            height auto !important
            &__title 
                margin-bottom 32px
                text-align center
                margin-bottom 20px !important
            &__container-r
                margin-bottom 20px !important
                // padding-top 45px
                // padding-bottom 25px
                padding-left 0
                padding-right 0
                padding-top 25px
                padding-bottom 9px

            &__row
                display block
                &--file
                    display block
                    margin-bottom 1px
            &__file-container
                margin-bottom 16px
                &.mobile
                    width 100%
                    .jq-file
                        padding-left 0
                        display flex
                        justify-content center
                    &.type-2 
                        .jq-file
                            padding-left 0
                    .jq-file.changed
                        .jq-file__name        
                            padding-left 15px
                            padding-right 15px
                            margin-right 0
                    
                    .jq-file__refresh
                        position absolute
                        font-size 0
                        right 13px
                        top 50%
                        transform translateY(-50%) 
                        background url(../img/close-white.svg) center center no-repeat
                        width 14px
                        height 14px

                    .b-form__error-note
                        padding-left 0

                    &.error.expansion        
                        .b-form__error-note.expansion
                            display block
                    &.error.size        
                        .b-form__error-note.size
                            display block
                        
            &__bot-container
                display block
                
            &__item 
                &.smal
                    width 100%
                    
                &--greement
                    max-width 100%
                    
                &--button         
                    width 100%
                    
                &--text    
                    display none
                    
    .after-note
        padding-top 20px
        padding-bottom 20px

@media (max-width 480px)
    .application-wrapper
        top 56px
        z-index 9