.b-card-tabs
	margin-bottom 90px
	
	&__titles
		margin 0
		padding 0
		list-style none
		font-size 0
		line-height 1
		border-bottom 1px solid #B7C2C9
		
		&-item
			display inline-block
			vertical-align top
			margin-right 80px
			
			&.active
				> a
					padding 16px 0
					font-size 24px
					color #2577D7
					
					&:before
						content ""
						position absolute
						left 0
						right 0
						bottom -1px
						height 2px
						background #2577D7
			
			> a
				position relative
				padding 20px 0
				display block
				text-decoration none
				font-size 16px
				letter-spacing -0.5px
				color #232F36
	
	&__body
		display none
		
		&-name
			display none
		
		&-content
			padding 36px 0
		
		&.active
			display block
	
	@media all and (max-width: 1023px)
		margin-bottom 50px
		&__titles
			display none
			
		&__body
			display block
			margin 0 -40px 
			
			&:last-child
				.b-card-tabs__body-name
					border-color transparent
			
			&-name
				position relative
				display block
				background #EFF4F8
				border-bottom 0.5px solid #B7C2C9
				border-left none
				border-right none
				border-radius 2px
				font-weight: 500;
				line-height 16px
				font-size 14px
				letter-spacing -0.5px
				color #3C4858
				padding 17px 40px 18px
				
				.svg-icon
					position absolute
					right 60px
					top 50%
					width 12px
					height 8px
					fill #2577D7
					margin-top -4px
			
			&-content
				display none
				padding 36px 40px
			
			&.active
				.b-card-tabs__body-name
					color #2577D7
					border-color transparent
					
					.svg-icon
						transform rotate(180deg)
				.b-card-tabs__body-content
					display block
	
	@media all and (max-width: 640px)
		margin-bottom 35px
		&__body
			margin 0 -16px
			
			&-name
				padding 11px 16px 12px
				
				.svg-icon
					right 40px
			
			&-content
				padding 15px 16px