<div block="b-card-tabs" id="tabsparams">
	<ul elem="titles">
		<li elem="titles-item" class="active"><a href="#tabs1">Все характеристики</a></li><!-- e:titles-item -->
		<li elem="titles-item"><a href="#tabs2">Условия доставки/самовывоза</a></li><!-- e:titles-item -->
		<li elem="titles-item"><a href="#tabs3">Отзывы (3)</a></li><!-- e:titles-item -->
	</ul><!-- e:titles -->
	<div elem="bodys">
		<div elem="body" class="active" id="tabs1">
			<div elem="body-name">Все характеристики <icon tag="span" name="arrow-b"></div><!-- e:elem -->
			<div elem="body-content">
				{% include 'full-params.html' %}
			</div><!-- e:body-content -->
		</div><!-- e:bodys -->
		<div elem="body" id="tabs2">
			<div elem="body-name">Условия доставки/самовывоза <icon tag="span" name="arrow-b"></div><!-- e:elem -->
			<div elem="body-content">
				{% include 'delivery-tabs.html' %}
			</div><!-- e:body-content -->
		</div><!-- e:bodys -->
		<div elem="body" id="tabs3">
			<div elem="body-name">Отзывы (3) <icon tag="span" name="arrow-b"></div><!-- e:elem -->
			<div elem="body-content">
				{% include 'reviews-tabs.html' %}
				{% include 'reviews-form.html' %}
			</div><!-- e:body-content -->
		</div><!-- e:bodys -->
	</div><!-- e:body -->
</div><!-- b:card-tabs -->