<div block="pagination">
	<div elem="show">
		<span>Показано:</span> с 1 по 20 из 700
	</div>
	<div elem="container">
		<a href="#" elem="item">1</a>
		<a href="#" elem="item">2</a>
		<a href="#" elem="item">3</a>
		<a href="#" elem="item" class="is-active">4</a>
		<a href="#" elem="item">5</a>
		<a href="#" elem="item">6</a>
		<a href="#" elem="item">7</a>
		<a href="#" elem="item">8</a>
		<span elem="dots">...</span>
		<a href="#" elem="item">14</a>		
		<a href="#" elem="item">15</a>		
	</div>
</div>