.pagination
	display flex
	justify-content space-between
	align-items center
	line-height normal
	padding-left 15px
	padding-right 7px
	letter-spacing normal
	margin-bottom 100px
	&__show		
		font-size 14px
		color #232f36
		span 
			color #3F505B
			margin-right 13px
	&__container
		font-size 0
	&__item
		font-size 16px
		color #3F505B
		text-decoration none
		padding 0 5px
		margin-left 1px
		margin-right 1px
		text-align center
		border-radius 2px
		transition all .3s ease
		width 30px
		height 30px
		line-height 32px
		display inline-block
		&:hover,
		&.is-active	
			background #2577D7
			color #fff
		&.is-active
			cursor auto	
	&__dots
		display inline-block
		color #3F505B
		font-size 16px
		height 8px
		line-height 0
		margin-left 3px
		margin-right 3px
		margin-top -8px
		vertical-align middle
		
	@media (max-width 1023px) 
		margin-bottom 60px
	
	@media (max-width 640px) 
		display block
		padding-left 0	
		padding-right 0
		&__show
			text-align center
			margin-bottom 15px
		&__container	
			display block
			text-align center
		