html,
body
    margin 0
    padding 0
    min-width 320px

html
    min-height 100%
    min-height 100vh

.app

    display flex
    flex-direction column
    height 100%
    height 100vh

    &__overlay
        position fixed
        left 0
        top 0
        right 0
        bottom 0
        background rgba(#000, 0.80)
        opacity 0
        visibility hidden
        z-index 15
        &.opened
            opacity 1
            visibility visible

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto
        padding-top 40px
        padding-bottom 40px
        &.application
            padding 0

        @media (min-width: 1024px)
          &.delivery-page
            padding-bottom 140px
          .app--cart-order &
            padding-top 10px

    &__main
        flex 1

        &.delivery-page
            padding-bottom 140px

    &__aside

        &--left
            order -1
            flex : 0 0 340px
            padding-right 100px
            
        &--right
            flex : 0 0 280px
            margin-left 56px
    .c-t-container
        position relative
    .inner-title
        font-size 32px
        font-weight normal
        margin-bottom 14px

    .block-title
        font-size 26px
        color #3C4858
        margin-bottom 30px

    .block-text
        font-size 13px
        font-family "Montserrat"    
        
    &--landing
        .app__content
            padding-top 0  
            padding-bottom 0

.document-scroll-icon
    text-align center
    flex none
    margin 30px 0 -10px
    span
        cursor pointer
    .svg-icon
        width 17px
        height 85px

.warning
    color #D00000

.table1
    margin-bottom 20px
    font-size 14px
    line-height 1
    width 100%
    text-align center
    
    tr
        border-bottom 1px solid #C5D1D9
    th
        padding 17px 15px
        color #D00000
        font-size 13px
        font-weight 500
        text-align center
        &:first-child
            text-align left
    
    td
        padding 17px 12px
        &:first-child
            text-align left
    
    @media all and (max-width: 760px)
        th
            font-size 12px
            font-weight 400
            padding 13px 0 13px 5px
        td
            font-size 12px
            padding 13px 0 13px 5px


.ul1
    list-style none
    padding 0 0 0 20px

h2.inner-title
    margin-top 40px

.rowdiv
    display flex
    flex-wrap wrap
    align-items center
    
    &.column3
        > div,
        > span
            flex 0 0 auto
            margin-right 5%
            margin-bottom 20px
            max-width 30%
            
            &:nth-child(3n)
                margin-right 0
@media (max-width 1280px) 
    .app
        &__aside
            &--right
                margin-left 30px


@media (max-width 1023px)
    .site-width
        padding-left 40px
        padding-right 40px

    .document-scroll-icon
        display none

    .app

        &__aside
            &--right
                display none
            
            &--left
                display none
                
        .inner-title            
            margin-bottom 25px
            font-weight 500
            font-size 20px
            line-height 26px  
            padding-right 80px  
            
        &--pickup
            .app__aside--left 
                display none  
                
            .app-header .search-form
                display none
                
            h1
                font-weight: 500;
                line-height: 24px;
                font-size: 20px;
                margin-bottom 20px

@media (max-width 640px)
    .site-width
        min-width 320px
        padding-left 16px
        padding-right 16px

