.cart-list-toggle
  margin 0 0 26px 0
  padding 8px 10px
  border none
  background #2577D7
  line-height 1
  box-shadow none
  border-radius 0

  &__icon
    width 21px
    height 16px
    display inline-block
    vertical-align top
    transition transform .3s

  ._js-is-overlap &

    .cart-list-toggle__icon
      transform rotate(180deg)

