.landing-trust
	margin 0 40px
	background-color rgba(239,246,255,0.5)
	
	&__inner
		max-width 1220px
		padding 40px 20px 80px
		width 100%
		margin 0 auto
		
	&__title
		max-width 860px
		margin 0 auto
		width 100%
		position relative
		font-family: Roboto;
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #232F36;
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			bottom 0
			left 0
			background-color #2577d7
			width 64px
			height 3px
			
	&__items
		margin 60px 0 0 -32px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content center
		
	&__elem
		flex 0 0 25%
		width 25%
		max-width 25%
		padding 0 0 32px 32px
		
	&__item
		background: #FFFFFF;
		box-shadow: 0px 4px 7px rgba(1, 99, 143, 0.15), 0px -1px 4px rgba(1, 99, 143, 0.14);		
		font-size 0
		line-height 0
		
	&__item-img
		display flex
		justify-content center
		align-items center
		height 160px
		width 100%
		padding 15px
		
		img
			max-width 100%
			max-height 100%
		
@media (max-width 1320px)
	.landing-trust{}
			
@media (max-width 1023px)
	.landing-trust
		margin 0 24px
		
		&__inner
			padding 20px 104px 28px
		
		&__title
			text-align center
			font-size 20px
			padding-bottom 10px
			
			&:before
				left 50%
				height 2px
				transform translateX(-50%)
		
		&__items
			margin 40px 0 0 -16px
			
		&__elem
			flex 0 0 33.33%
			width 33.33%
			max-width 33.33%
			padding 0 0 16px 16px
			
		&__item-img
			height 92px
			
@media (max-width 640px)
	.landing-trust
		
		&__inner
			padding 20px 30px 28px
			
@media (max-width 480px)
	.landing-trust
		display none