<div block="landing-trust" mods="{{landingTrustMods}}">
	<div elem="inner">
		<div elem="title">
			Нам доверяют более 1000 организаций
		</div>
		<div elem="items">
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-1.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-2.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-3.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-4.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-5.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-6.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-7.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-8.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-9.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-10.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-11.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-12.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-13.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-14.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-15.png" alt="">
					</div>
				</div>
			</div>
			<div elem="elem">
				<div elem="item">
					<div elem="item-img">
						<img src="img/trust-16.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:landing-trust -->