.folders-list
    background #F2F6F8
    flex none
    text-align center
    position relative
    z-index 1
    &__title
        text-align left 
        line-height 24px
        font-size 16px
        padding-left 32px
        display none
    &__container
        display flex
        justify-content space-between
        
    &__item
        display block
        padding 18px 30px
        transition all .3s ease
        position relative
        cursor pointer

        &:last-child
            display none

        &:hover
            background #B8E9FF
            & ^[0]
                &__item-icon
                    .svg-icon
                        svg 
                            fill #232F36
    &__item-icon    
        margin-bottom 12px
        .svg-icon
            width 38px
            height 38px
            svg
                transition all .3s ease
                fill #0F8EC7
                
    &__item-name
        color #232F36
        font-size 14px
        line-height 16px
        cursor pointer
        position relative
        display inline-block
        vertical-align top
        padding-right 10px      
        letter-spacing 0  
        &:after
            content ""
            position absolute
            right 0
            top 6px
            border 3px solid transparent
            border-top 4px solid #232F36
        
    &__item-list
        transition all .4s ease
        opacity 0
        visibility hidden
        position absolute
        text-align left
        left 0
        right 0
        top 100%
        margin-top -10px
        padding 0 20px 30px
        background #B8E9FF
        div 
            margin-bottom 11px
            &:last-child
                margin-bottom 0
        a   
            text-decoration none
            font-size 13px
            color #232F36
            &:hover
                font-weight 500             
        
    &__item
        &:hover
            background #B8E9FF
            z-index 1
            & ^[0]  
                &__item-icon
                    .svg-icon
                        svg 
                            fill #232F36
                // &__item-name
                //     &:after
                //         top 0
                //         transform rotate(180deg) 

                &__item-list
                    opacity 1
                    visibility visible                   


    @media (max-width 1023px) 
        padding 23px 0 23px 0
        margin-bottom 31px
        &__container
            flex-wrap wrap
        &__item
            width 25%
            border-right 1px solid #B7C2C9
            padding-left 0
            padding-right 0
            &:last-child
                display block
            &:nth-child(4n) 
                border-right 0
            &:nth-child(n + 5) 
                border-top 1px solid #B7C2C9
            
        &__item-name
            padding-right 0
            &:after
                display none

    @media (max-width 640px)  
        display none
        /*background none   
        text-align left
        margin-bottom 56px
        padding-left 24px
        padding-right 24px
        padding-bottom 0
        
        &__title
            display block
            padding-left 10px
            margin-bottom 18px

        &__container
            padding-left 0
            padding-right 0
            display block

        &__item    
            width auto
            border-right 0
            padding 0
            border-bottom 1px solid #B7C2C9
            &:hover
                background none
                & ^[0]
                    &__item-icon
                        .svg-icon
                            svg 
                                fill #0F8EC7
            &:first-child
                border-top 1px solid #B7C2C9
            &:nth-child(n+5)
                border-top 0
            &.opened
                background #b8e9ff
                & ^[0]
                    &__item-icon
                        .svg-icon
                            svg 
                                fill #000

        &__item-container
            padding 6px 15px 6px 20px
            display flex
            align-items center
            

        &__item-icon    
            margin-right 21px
            margin-bottom 0
            height 27px
            width 27px
            .svg-icon
                width 100%
                height 27px
        &__item-name 
            padding-top 3px
            padding-right 0
            display block
            font-size 15px
            color #000
            // font-weight 300
            font-family "Roboto"
            br 
                display none
        
        &__item-list        
            position relative
            left auto
            top auto
            right auto
            margin-top 0
            width 100%
            display none
            padding 14px 0 14px 16px
            opacity 1
            visibility visible
            background none
            transition all 0s ease
            a 
                font-size 14px
    
    @media (max-width 400px)
        &__container 
            padding-left 8px
            padding-right 8px