<div block="folders-list" class="site-width type-2">
	<div elem="title">Каталог</div>
	<div elem="container" class="site-width">
		{% for item in folderList %}
		<div elem="item">
			<div elem="item-container">
				<div elem="item-icon">
					<icon name="{{item.icon}}" tag="span">
				</div>
				<div elem="item-name">{{item.name}}</div>
			</div>
			<div elem="item-list">
				<div><a href="#">Нониусный</a></div>
				<div><a href="#">Механический</a></div>				
				<div><a href="#">Нониусный</a></div>
				<div><a href="#">Механический</a></div>
				<div><a href="#" elem="item-list-all">Все ...</a></div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>