= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : true
    catalog : true
    thumbs : false
    simple : false
    list : true
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
<div block="b-breadcrumbs" class="site-width">
    <div elem="in">
        <a href="#" elem="item">Главная</a><!-- e:item -->
        <icon tag="span" name="separator">
        <a href="#" elem="item">Измерительный инструмент</a><!-- e:item -->
        <icon tag="span" name="separator">
        <spam elem="item">Штангенциркули</spam><!-- e:item -->
    </div><!-- e:in -->
</div><!-- b:breadcrumbs -->
{% endblock %}

{% block main %}
    <div block="c-t-container">
        <h1 class="inner-title">Штангенциркули</h1>
    </div>
    <div block="filter-sorting-wrapper">
        <div elem="filter-container">
            <a elem="button" class="s-button filter-button">Фильтры<span class="pr-total"></span></a> 
        </div>
    </div>
    {% include 'sorting.html' %}
    {% set listType = 'price-list' %}
    {% set listClass = 'price-list' %}
    {% include 'product-list.html' %}
    {% include 'pagination.html' %}
    <div class="produc-list-title">Вы недавно смотрели</div>
    {% include 'product-list-recently-viewed.html' %}

    <br>

    <div class="block-text">
        <p>Кроме прочего, есть такой особый вид упомянутых приборов как путевые штангенциркули. Они нужны для измерений на открытом воздухе частей верхнего строения пути для железнодорожного транспорта с уложенными рельсами.

        Для самых точных измерений применяют дюймовые штангенциркули, точность которых составляет ± 0,02 мм. Шкала здесь, естественно, в дюймах. Диапазон измерений составляет от 0 до 150 мм. Само изделие производится из нержавеющей стали.</p>
        <br>
    </div>
    <div class="block-title">Что такое калибровка штангенциркулей? Специальные обозначения.</div>
    <div class="block-text">
        <p>Кроме прочего, есть такой особый вид упомянутых приборов как путевые штангенциркули. Они нужны для измерений на открытом воздухе частей верхнего строения пути для железнодорожного транспорта с уложенными рельсами.

        Для самых точных измерений применяют дюймовые штангенциркули, точность которых составляет ± 0,02 мм. Шкала здесь, естественно, в дюймах. Диапазон измерений составляет от 0 до 150 мм. Само изделие производится из нержавеющей стали.</p>
    </div>
    <br>
    <div class="block-title">Сколько стоит прибор в «ИНСТРДОМЕ»?</div>
    <div class="block-text">
        Диапазон цены варьируется от 1800 до 19 000 рублей. Как видите, самый обыкновенный стоит недорого. Также в магазине можно приобрести нутромеры, угломеры, целые наборы, помогающие делать точные замеры, разметки.
    </div>
    <br>
    <br>
    <br>

{% endblock %}

{% block afterContentBlock %}
{% endblock %}

{% block asideRight %}
    {% include 'b-filter.html' %}
{% endblock %}