= yaml =
pageTitle: Список категорий
siteName: ''
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : true
    right : false
    catalog : false
    thumbs : false
    simple : false
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
<div block="b-breadcrumbs" class="site-width">
    <div elem="in">
        <a href="#" elem="item">Главная</a><!-- e:item -->
        <icon tag="span" name="separator">
        <spam elem="item">Измерительный инструмент</spam><!-- e:item -->
    </div><!-- e:in -->
</div><!-- b:breadcrumbs -->
{% endblock %}

{% block main %}
    <div class="c-t-container">
        <h1 class="inner-title">Измерительный инструмент</h1>
    </div>
    {% include 'categor-filter.html' %}
    {% include 'categor-block.html' %}

{% endblock %}

{% block afterContentBlock %}
{% endblock %}

{% block asideLeft %}
    {% include 'categor-lm.html' %}
{% endblock %}
{% block asideRight %}
{% endblock %}