= yaml =
pageTitle: Доставка информация
siteName: ''
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : true
    right : false
    catalog : false
    thumbs : false
    simple : false
    delivery: true
    hidden_form : true
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
<div block="b-breadcrumbs" class="site-width">
    <div elem="in">
        <a href="#" elem="item">Главная</a><!-- e:item -->
        <icon tag="span" name="separator">
        <spam elem="item">Доставка/Оплата</spam><!-- e:item -->
    </div><!-- e:in -->
</div><!-- b:breadcrumbs -->
{% endblock %}

{% block main %}
    <div class="c-t-container">
        <h1 class="inner-title">Москва и область: Курьерская доставка</h1>
    </div>
    <p>Доставка по Москве осуществляется собственными курьерами магазина Instrdom.ru и сторонними курьерскими службами. Доставка заказов осуществляется с понедельника по субботу с 10:00 до 22:00 на следующий рабочий день после получения заказа.</p>
    <p>
        <strong>Цена доставки,  ₽ : </strong>
    </p>
    <table class="table1">
        <tr>
            <th>Вес</th>
            <th>Внутри МКАДа</th>
            <th>0-5 км</th>
            <th>5-10 км</th>
            <th>10+ км*</th>
        </tr>
        <tr>
            <td>до 5кг</td>
            <td>290</td>
            <td>340</td>
            <td>390</td>
            <td>390+15₽/км</td>
        </tr>
        <tr>
            <td>до 10</td>
            <td>330</td>
            <td>380</td>
            <td>430</td>
            <td>430+15₽/км</td>
        </tr>
        <tr>
            <td>до 15кг</td>
            <td>420</td>
            <td>470</td>
            <td>520</td>
            <td>520+15₽/км</td>
        </tr>
        <tr>
            <td>до 25кг</td>
            <td>560</td>
            <td>610</td>
            <td>660</td>
            <td>660+15₽/км</td>
        </tr>
        <tr>
            <td>25-50кг</td>
            <td>660</td>
            <td>710</td>
            <td>760</td>
            <td>760+15₽/км</td>
        </tr>
        <tr>
            <td>51-80кг</td>
            <td>760</td>
            <td>810</td>
            <td>860</td>
            <td>860+15₽/км</td>
        </tr>
    </table>
    <p><strong><span class="warning">*</span> Не более 25кг</strong></p>
    <p>За МКАД и по субботам доставка осуществляется в течение дня. Перед приездом курьер позвонит Вам для уточнения деталей доставки.</p>
    <p><strong>На странице с описанием товара Вы сразу можете увидеть ориентировочную дату и цену курьерской доставки.</strong></p>
    <p><strong>Варианты оплаты:</strong></p>
    <p>
        <div>1) Наличные</div>
        <div>2) Онлайн на сайте при оформлении заказа</div>
    </p>
    <p><strong>Конечную стоимость доставки Вам назовет менеджер после подтверждения заказа по телефону.</strong></p>

    <h2 class="inner-title">Москва и область: Транспортные компании</h2>
    <p>Доставка по Московской области осуществляется внешней курьерской службой с понедельника по субботу с 10:00 до 18:00 (в течении всего дня, без временных диапазонов). Стоимость доставки заказа зависит от удаленности адреса от МКАД и рассчитывается автоматически при оформлении заказа.</p>
    <p><strong>Мы готовы доставить товар любой из перечисленных транспортных компаний:</strong></p>
    <ul class="ul1">
        <li><a href="#">Деловые линии</a></li>
        <li><a href="#">ПЭК</a></li>
        <li><a href="#">КИТ</a></li>
        <li><a href="#">ЖелДорЭкспедиция</a></li>
        <li><a href="#">Ратэк</a></li>
        <li><a href="#">Байкал Сервис</a></li>
        <li><a href="#">СДЭК</a></li>
    </ul>
    <p><strong>На странице с описанием товара Вы сразу можете увидеть ориентировочную дату и цену доставки. Для Московской области возможно увеличение срока на 1-2 дня, в зависимости от загруженности транспортной службы.</strong></p>
    <p><strong>Варианты оплаты:</strong></p>
    <p>
        <div>1) Наличные</div>
        <div>2) Онлайн на сайте при оформлении заказа</div>
    </p>

    <h2 class="inner-title">По России: Транспортные компании</h2>
    <p>При использовании способа доставки транспортными компаниями вам необходимо лишь оплатить стоимость самого заказа любым из предложенных способов (<a href="#">Подробнее о способах оплаты</a>).
        Оплату самой услуги по доставки груза клиент осуществляет самостоятельно при его получении.</p>

    <p>Доставка товара осуществляется любой транспортной компанией по желанию клиента. Точную стоимость доставки вы можете увидеть во время оформления заказа.</p>

    <p><strong>Доставка заказа с нашего склада на пункт забора транспортной компании бесплатная.
            
            Перевозку груза транспортной компанией до места его получения оплачивает заказчик.</strong></p>

    <p class="warning"><strong>Отследить местонахождение отправленного товары вы можете на сайтах транспортных компаний по номеру отправления.</strong></p>
    <p><strong>Есть два способа отправки груза:</strong></p>
    <p>1) Экономичный способ.Отправка груза до филиала транспортной компании в населенном пункте заказчика. По приходу заказа в филиал клиент оплачивает доставку груза на месте и по паспорту забирает товар. </p>
    <p>2) Отправка груза транспортной компанией до адреса покупателя. При этом клиент оплачивает транспортировку груза до филиала транспортной компании в его населенном пункте, а также перевозку груза по населенному пункту до его адреса.</p>
    <p><strong>Мы готовы доставить товар любой из перечисленных транспортных компаний:</strong></p>
    <ul class="ul1">
        <li><a href="#">Деловые линии</a></li>
        <li><a href="#">ПЭК</a></li>
        <li><a href="#">КИТ</a></li>
        <li><a href="#">ЖелДорЭкспедиция</a></li>
        <li><a href="#">Ратэк</a></li>
        <li><a href="#">Байкал Сервис</a></li>
        <li><a href="#">СДЭК</a></li>
    </ul>
    <p><strong>На странице с описанием товара Вы сразу можете увидеть ориентировочную дату и цену доставки. </strong></p>
    <p><strong>Варианты оплаты:</strong></p>
    <p>
        <div>1) Наличные</div>
        <div>2) Онлайн на сайте при оформлении заказа</div>
    </p>

    <h2 class="inner-title">Почта России</h2>
    <p>При использовании способа доставки Почтой России Вам необходимо осуществить предоплату покупки. Итоговая стоимость будет складываться из стоимости покупки + стоимость доставки. Нужную сумму Вам озвучит менеджер после оформления заказа.
        
        "Почта России" доставляет заказы в абсолютно любой населенный пункт России.</p>

    <p>После получения предоплаты, Ваш заказ формируется и упаковывается в посылку и на следующий рабочий день передается в московское отделение Почты России.</p>

    <p>Сроки доставки зависят от удаленности от Москвы и обычно составляют от 4-х дней для Московской области и до 2-3 недель для самых удаленных регионов.</p>

    <p>После того, как ваша посылка прибудет в почтовое отделение почтальон доставит вам бумажное уведомление и вы сможете получить посылку в вашем почтовом отделении.</p>

    <p>Стоимость доставки зависит от удаленности от Москвы, веса товаров, и их стоимости.</p>
    <p><strong>С тарифами по доставке Почтой России Вы можете ознакомиться по ссылке:</strong></p>
    <p><a href="#">https://www.pochta.ru/parcels</a></p>

    <h2 class="inner-title">По всей России: Курьерские службы</h2>
    <p>Мы работаем со следующими курьерскими службами:</p>
    <div class="rowdiv column3">
        <span><img src="img/sdekimg.png" alt=""></span>
        <span><img src="img/dhlimg.png" alt=""></span>
        <span><img src="img/ponyimg.png" alt=""></span>
    </div>

    <h2 class="inner-title">Москва и область: Самовывоз</h2>
    <p>
        <a href="#" class="s-button type-6 more">Узнать про самовывоз</a>
    </p>
    <p>
        <a href="#modal4" class="s-button type-6 more">Поп-ап города</a>
    </p>
{% endblock %}

{% block afterContentBlock %}
{% endblock %}

{% block asideLeft %}
    {% include 'delivery-lm.html' %}
{% endblock %}
{% block asideRight %}
{% endblock %}