= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'application'
asideLeft: false
asideRight: false
layout: !!map
    header : false
    footer : false
    left : false
    right : false
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}    
{% endblock %}

{% block main %}
<div class="application-wrapper">
    <div class="form application">
        <div block="text-container-l">
            <div elem="column">
                <div elem="l-title">
                    Сделайте ваш
                    <br>
                    заказ за пару
                    <br>
                    кликов
                </div>
                <div elem="sub-title">И мы пришлем Вам счет уже <br> через 15 мин</div>
            </div>
        </div>
        <form block="b-form" mods="popup" action="#">
            <div elem="container-r">
                <div elem="title">Отправить заявку</div>
                <div elem="item" mods="name" class="type-1 has-file">
                    <div elem="error-note expansion">Не верный формат файла</div>
                    <div elem="error-note size">Файл не должен превышать 10Mb </div>
                    <div elem="item-in">
                        <input type="text" class="inputName" placeholder="Ваше Имя">
                        <div elem="file-container">
                            <input type="file" class="inputRequisites">
                        </div>
                    </div>
                </div>
                <div elem="row">
                    <div elem="item" mods="phone" class="smal"> 
                        <div elem="item-name">Номер телефона</div>  
                        <div elem="phone-container">    
                            <span elem="country-flag">
                                <div elem="country-selected-flag" class="_js_selected_country">
                                    <img src="img/flag-rf.svg" alt="">
                                    <icon name="arrow-b" tag="span">
                                </div>              
                                <div elem="country-flags" class="_js_select_country">
                                    <div data-phone-number="+7 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+7</div>
                                    <div data-phone-number="+8 (999) 999 99 99"><img src="img/flag-rf.svg" alt="">+8</div>
                                </div>
                            </span> 
                            <input type="tel" class="_js_phone-number" value="+7">
                        </div>
                    </div>
                    <div elem="item" mods="email" class="smal">
                        <div elem="error-note">Email ошибка ввода</div> 
                        <input type="email" class="inputEmail" value="" placeholder="Ваш Email (необязательно)">            
                        <div elem="item-close"><icon name="close-red" tag="span"></div>
                    </div>
                </div>
                <div elem="row" mods="file">
                    <div elem="file-container" class="mobile type-1 has-file">
                        <div elem="error-note expansion">Не верный формат файла</div>
                        <div elem="error-note size">Файл не должен превышать 10Mb </div>
                        <input type="file">
                    </div>
                    <div elem="file-container" class="mobile type-2 has-file">
                        <div elem="error-note expansion">Не верный формат файла</div>
                        <div elem="error-note size">Файл не должен превышать 10Mb </div>
                        <input type="file">
                    </div>
                </div>
                <div elem="item" mods="file" class="has-file">
                    <div elem="error-note expansion">Не верный формат файла</div>
                    <div elem="error-note size">Файл не должен превышать 10Mb </div>
                    <input type="file">
                </div>
                <div elem="item" mods="text">Вы можете прикрепить файлы: Word, Exсel, PDF, с вашей заявкойв <br> произвольной форме</div>
                <div elem="bot-container">
                    <div elem="item" mods="greement">
                        <input type="checkbox" checked="checked">
                        <span>Я согласен на обработку персональных данных</span>
                    </div>
                    <div elem="item" mods="button">
                        <button elem="button type-2 disabled">Отправить</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block afterContentBlock %}
{% endblock %}