= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
    main : true
    thumbs : true
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
    {% include 'b-slider.html' %}
    {% include 'content-menu.html' %}
    {% include 'folders-list.html' %}
    <div block="document-scroll-icon">
    	<span><img src="img/mouse-icon.svg" alt=""></span>
    </div>
    {% include 'c-mobile-buttons.html' %}
{% endblock %}

{% block main %}
	{% include 'b-professionals.html' %}
    {% include 'product-list-main.html' %}
    {% include 'b-banner.html' %}
    {% include 'product-list-main-2.html' %}
    {% include 'm-form.html' %}
    {% include 'icons-block.html' %}
{% endblock %}

{% block afterContentBlock %}
{% endblock %}