= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: 'landing landing-fixed'
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
landingHeaderMods: fixed
layout: !!map
    header : false
    footer : false
    left : false
    right : false
    main : false
    thumbs : false
= yaml =

{% extends '_layout.html' %}

{% block beforeContentBlock %}
    {% include 'landing-header.html' %}
{% endblock %}

{% block main %}
	{% include 'landing-banner.html' %}
    {% include 'landing-about.html' %}
    {% include 'landing-trust.html' %}
    <div block="icons-block" mods="landing">
        <div elem="inner">
            <div elem="title">Преимущества работы с нами</div>
            <div elem="container">
                {% for item in iconsBlock %}
                <div elem="item">
                    <div elem="icon"><img src="img/{{item.icon}}" alt=""></div>
                    <div elem="text">{{item.text}}</div>
                </div>
                {% endfor %}
            </div>
            <div elem="button">
                <a href="#modal2" class="s-button">Напишите нам </a>
            </div>
        </div>
    </div>
    {% include 'landing-profit.html' %}
    {% include 'landing-contacts.html' %}    
    {% include 'landing-request-form.html' %}
    {% include 'landing-callback-form.html' %}   
{% endblock %}

{% block afterContentBlock %}
{% endblock %}