= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: 'pickup'
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : true
    right : false
    main : false
    thumbs : true
= yaml =

{% set contentSiteWidthClass = true %}

{% extends '_layout.html' %}

{% block beforeContentBlock %}
<div block="b-breadcrumbs" class="site-width">
    <div elem="in">
        <a href="#" elem="item">Главная</a><!-- e:item -->
        <icon tag="span" name="separator">
        <spam elem="item">Самовывоз</spam><!-- e:item -->
    </div><!-- e:in -->
</div><!-- b:breadcrumbs -->
{% endblock %}

{% block asideLeft %}
    {% include 'pickup-scroll.html' %}
{% endblock %}

{% block main %}
	<h1 class="inner-title">Москва и область: Самовывоз</h1>
    {% include 'pickup-block.html' %}
{% endblock %}

{% block afterContentBlock %}

{% endblock %}