= yaml =
pageTitle: Товар
siteName: ''
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
    catalog : false
    thumbs : false
    simple : false
    product_page : true
    hidden_form: true
= yaml =

{% extends '_layout.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
<div block="b-breadcrumbs" class="site-width">
    <div elem="in">
        <a href="#" elem="item">Главная</a><!-- e:item -->
        <icon tag="span" name="separator">
        <a href="#" elem="item">Измерительный инструмент</a><!-- e:item -->
        <icon tag="span" name="separator">
         <a href="#" elem="item">Штангенциркули</a><!-- e:item -->
        <icon tag="span" name="separator">
        <spam elem="item">Штангенциркуль с цифровым индикатором 0-150мм/0,01мм ЭНКОР 10740</spam><!-- e:item -->
    </div><!-- e:in -->
</div><!-- b:breadcrumbs -->
{% endblock %}

{% block main %}
    {% include 'product-card.html' %}
    {% include 'card-tabs.html' %}
    <div class="produc-list-title">С этим продуктом также покупают</div>
    {% set productListRecentlyViewedMod = '4' %}
    {% set recentlyViewed = recentlyViewed2 %}
    {% include 'product-list-recently-viewed.html' %}

{% endblock %}

{% block afterContentBlock %}
{% endblock %}

{% block asideRight %}
{% endblock %}