.landing-profit
	position relative
	background-color #EFF6FF
	
	&:before
		content ""
		position absolute
		top 115px
		left 0
		right 0
		height 965px
		background url('../img/landing-profit-bg.png') 50% 50% no-repeat
		
	&__inner
		position relative
		z-index 1
		padding 150px 20px 70px
		
	&__lists
		max-width 1536px
		width 100%
		margin 0 auto
		background-color #fff
		box-shadow: 0px 4px 7px rgba(1, 99, 143, 0.15), 0px -1px 4px rgba(1, 99, 143, 0.14);
		padding 75px 200px 80px
		
	&__lists-title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #232F36;
		text-align center
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			width 64px
			height 3px
			background-color #2577D7
			bottom 0
			left 50%
			transform translateX(-50%)
			
	&__lists-items
		margin 65px auto 0
		max-width 970px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		
	&__lists-item
		flex 0 0 410px
		
	&__lists-item-title
		font-family: Open Sans;
		font-weight: 600;
		line-height: 39px;
		font-size: 24px;
		letter-spacing: -0.5px;
		color: #2577D7;
		padding-left 26px
		
	&__lists-item-block
		margin-top 30px
		
		& > ul
			list-style-type none
			padding 0
			margin 0
			
			& > li
				padding 10px 0 10px 46px
				position relative
				font-family: Open Sans;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: -0.5px;
				color: #3C4858;
				height 68px
				display flex
				align-items center
				
				@supports(display: block)
					min-height 68px
					
				
				&:before
					content ""
					position absolute
					background url('../img/landing-check.svg') 0 0 no-repeat
					width 18px
					height 13px
					left 0
					top 22px
					
				&:after
					content ""
					position absolute
					right 0
					left 26px
					bottom 0
					height 1px
					background-color #B7C2C9				
					
	&__lists-button
		margin-top 80px
		text-align center
		
		.s-button
			max-width 306px
			width 100%
			height 75px
			line-height 75px
			font-size 16px
			padding 0
			
	&__brands
		margin-top 65px
		
	&__brands-title
		font-size: 32px;
		letter-spacing: -0.5px;
		color: #232F36;
		text-align center
		position relative
		padding-bottom 17px
		
		&:before
			content ""
			position absolute
			width 64px
			height 3px
			background-color #2577D7
			bottom 0
			left 50%
			transform translateX(-50%)
			
	&__brands-items
		margin 50px 0 0 -40px
		display flex
		align-items center
		justify-content center
		flex-wrap wrap
		
	&__brands-item
		margin 0 0 50px 40px
		
@media (max-width: 1400px)
	.landing-profit
		
		&__lists
			padding-left 100px
			padding-right 100px
			
@media (max-width: 1180px)
	.landing-profit
		
		&__lists
			padding-left 50px
			padding-right 50px
			
@media (max-width: 1023px)
	.landing-profit
		
		&:before
			content none

		&__inner
			padding 50px 0
			
		&__lists
			background-color transparent
			box-shadow none
			padding 0 50px
			
		&__lists-items
			margin-top 60px
			
		&__lists-title
			font-weight: 500;
			line-height: 24px;
			font-size: 20px;
			padding-bottom 10px
			
			&:before
				height 2px
				
		&__lists-item
			flex 0 0 322px
				
		&__lists-item-title
			font-size 16px
			line-height 24px
			font-weight 500
			
		&__lists-item-block
			
			& > ul
				
				& > li
					line-height 20px
					font-size 14px
					height auto
					padding-left 26px
					font-weight 400
					
					&:after
						content none
						
					&:before
						top 13px
					
					@supports(display: block)
						min-height 0
						
		&__lists-button
			margin-top 60px
			
			.s-button
				height 64px
				line-height 64px
				

		&__brands
			margin-top 90px
			padding 0 20px
			
		&__brands-title
			font-weight: 500;
			line-height: 24px;
			font-size: 20px;
			padding-bottom 10px
			
			&:before
				height 2px
				
		&__brands-items
			margin-left 0
				
		&__brands-item
			flex 0 0 33.33%
			width 33.33%
			max-width 33.33%
			margin-left 0
			text-align center
			
@media (max-width: 760px)
	.landing-profit
		background-color transparent
		
		&__inner
			padding 0 
		
		&__lists
			background-color #fff
			padding-top 45px
			padding-bottom 55px
		
		&__lists-items
			display block
			margin-top 33px
			
		&__lists-item
			margin-bottom 35px
			
		&__lists-item-title
			text-align center
			padding-left 0
			
		&__lists-item-block
			
			& > ul
				& > li
					padding-left 40px
					
					&:before
						left 10px

					&:after
						content ""
						left 0
						
		&__lists-button
			margin-top 40px
			
			.s-button
				max-width 320px
				height 48px
				line-height 48px
				font-size 14px
				
		&__brands
			margin-top 0
			padding-top 40px
			padding-bottom 30px
			background-color #F4F8FA
			
		&__brands-item
			flex 0 0 50%
			width 50%
			max-width 50%
			
@media (max-width: 480px)
	.landing-profit
		
		&__lists
			padding 45px 15px 55px