<div block="landing-profit" mods="{{landingProfitMods}}">
	<div elem="inner">
		<div elem="lists">
			<div elem="lists-inner">
				<div elem="lists-title">
					Кому выгодно с нами работать?
				</div>
				<div elem="lists-items">
					<div elem="lists-item">
						<div elem="lists-item-title">
							Конечным потребителям
						</div>
						<div elem="lists-item-block">
							<ul>
								<li>Производственные предприятия, заводы, фабрики</li>
								<li>Строительные и подрядные организации</li>
								<li>Ремонтные и монтажные бригады</li>
								<li>Комплектующие и снабженческие организации</li>
								<li>Детские сады, школы, университеты,больницы</li>
								<li>Государственные и муниципальные организации</li>
								<li>СТО и автосервисы</li>
								<li>ЖЭК и ТСЖ</li>
							</ul>
						</div>
					</div>
					<div elem="lists-item">
						<div elem="lists-item-title">
							Торговым организациям
						</div>
						<div elem="lists-item-block">
							<ul>
								<li>Специализированные розничные магазины электроинструмента и садовой техники</li>
								<li>Оптовые организации</li>
								<li>Магазины строительной и бытовой техники, силового оборудования, крепежа</li>
								<li>Интернет-магазины</li>
								<li>Маркетплейсы</li>
								<li>B2B-платформы</li>
								<li>Торговые площадки</li>
							</ul>
						</div>
					</div>
				</div>
				<div elem="lists-button">
					<a href="#modal2" class="s-button">Стать партнером</a>
				</div>
			</div>
		</div>
		<div elem="brands">
			<div elem="brands-title">
				У нас представленно более 150 брендов
			</div>
			<div elem="brands-items">
				<div elem="brands-item">
					<img src="img/huter-logo.png" alt="">
				</div>
				<div elem="brands-item">
					<img src="img/makita-logo.svg" alt="">
				</div>
				<div elem="brands-item">
					<img src="img/dewalt-logo.svg" alt="">
				</div>
				<div elem="brands-item">
					<img src="img/bosh-logo.svg" alt="">
				</div>
				<div elem="brands-item">
					<img src="img/kinex-logo.svg" alt="">
				</div>
				<div elem="brands-item">
					<img src="img/micron-logo.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div><!-- b:landing-profit -->