.metro-select
  position relative
  display inline-block
  cursor pointer
  background-color #fff
  z-index 10
  font-size 0
  line-height 1

  &__button
    display inline-flex
    min-width 310px
    height 56px
    border: 1px solid #B7C2C9
    border-radius: 2px

  &__icon
    flex 0 0 56px
    max-width 56px
    border-right: 1px solid #B7C2C9
    background url('../img/metro-icon.png') center center no-repeat

  &__label
    font-size: 14px
    line-height 16px
    color: #3C4858
    padding 5px 19px
    flex 1
    display flex
    align-items center

  &__arrow
    width 56px
    flex 0 0 56px
    background url('../img/arrow-down.svg') center center no-repeat

  &__list
    display none
    position absolute
    top 100%
    left 0
    width 100%
    padding 5px 2px
    border: 1px solid #B7C2C9
    border-top none
    background-color #fff
    border-radius 0 0 2px 2px

    &-body
      max-height 180px
      overflow-y auto
      padding-top 5px
      padding-bottom 5px

      custom-scroll()

  &.is-opened

    .metro-select

      &__arrow
        transform rotate(180deg)

      &__list
        display block


.metro-name
  position relative
  font-size: 13px
  line-height 15px
  color: #3C4858
  padding 10px 38px 10px 20px

  &:before
    content ''
    display inline-block
    vertical-align: top
    margin-right: 6px
    margin-top: 4px
    border-radius 50%
    background-color #B7C2C9
    width 7px
    height 7px

  &--checked:after
    content: ""
    position: absolute
    right: 12px
    top: 50%
    width: 18px
    height: 14px
    background: url(../img/marker-green.svg) center center no-repeat
    transform: translateY(-50%)

  &--violet:before
    background-color #7B2997
  &--green:before
    background-color #43A804
  &--yellow:before
    background-color #FFE600
  &--gray:before
    background-color #B7C2C9
