<div block="metro-select">

	<div elem="button">
		<div elem="icon"></div>
		<div elem="label">
			<div>Выберите станцию метро</div>
		</div>
		<div elem="arrow"></div>
	</div>

	<div elem="list">

		<div elem="list-body">
			<div block="metro-name" mods="violet">Пушкинская</div>
			<div block="metro-name" mods="green">Тверская</div>
			<div block="metro-name" mods="yellow checked">Шоссе энтузиастов</div>
			<div block="metro-name" mods="gray">Алтуфьево</div>

			{% for metro in range(1, 15) %}
				<div block="metro-name">Метро {{ loop.index }}</div>
			{% endfor %}
		</div>

	</div>
</div>
