{% if layout.main == true %}
<form block="product-item" mods="first" class="_js_product-item" action="#">
	<a elem="in" href="#">
		<div elem="popup">
			<div elem="popup-l">
				<div elem="over-heading">Мойка высокого давления</div>
				<div elem="name">Makita HW140</div>
				<div elem="params">
					<div>500 м³/час л/мин</div>
					<div>140 бар</div>
					<div>2 кВт</div>
				</div>
				<div elem="price-container"{# % if item.priceOld != "" %} class="has-old-price"{% endif % #}>
					<div elem="price"><strong>26 000 ₽</strong></div>				
					<!--<div elem="price-old"><strong>30 000 ₽</strong></div>-->
				</div>
				<div elem="last-bot">
					<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
					<div block="b-amount">
						<button elem="button" class="minus disabled"></button>
						<input type="text" elem="number" data-min="{% if item.minPurchase == true %}12{% else %}1{% endif %}" value="{% if item.minPurchase == true %}12{% else %}1{% endif %}">
						<button elem="button" class="plus"></button>
					</div>
				</div>
			</div>
			<div elem="image">
				<img src="img/product-img1.jpg" alt="">
			</div>
		</div>
	</a>	
</form>

{% for item in productMain %}
<form block="product-item" class="_js_product-item" action="#">
	<a elem="in">
		<div elem="first">
			<div elem="compare" class="_js_add_to_compare" href="#">
				<icon name="compare-icon" tag="span">
				<span elem="compare-text"><span class="to">В сравнение</span><span class="in">добавлено к сравению</span></span>	
			</div>
			<div elem="image">
				<img src="img/{{item.image}}" alt="">
			</div>
		</div>
		<div elem="middle">
			<div elem="over-heading">Построитель лазерныхплоскостей</div>
			<div elem="name">{{item.name}}</div>
		</div>
		<div elem="last">
			<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
				<div elem="price"><strong>{{item.price}} ₽</strong><span>без НДС</span></div>
				{% if item.priceOld != "" %}
				<div elem="price-old"><strong>{{item.priceOld}} ₽</strong><span>без НДС</span></div>
				{% endif %}
			</div>
			<div elem="last-bot">
				<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
				<div block="b-amount">
					<button elem="button" class="minus disabled"></button>
					<input type="text" elem="number" data-min="{% if item.minPurchase == true %}12{% else %}1{% endif %}" value="{% if item.minPurchase == true %}12{% else %}1{% endif %}">
					<button elem="button" class="plus"></button>
				</div>
			</div>
		</div>
		<div elem="popup" style="display: none">
			<div elem="popup-l">
				<div elem="over-heading">Построитель лазерныхплоскостей</div>
				<div elem="name">{{item.name}}</div>
				<div elem="params">
					<div>500 м³/час л/мин</div>
					<div>140 бар</div>
					<div>2 кВт</div>
				</div>
				<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
					<div elem="price"><strong>{{item.price}} ₽</strong></div>
					{% if item.priceOld != "" %}
					<div elem="price-old"><strong>{{item.priceOld}} ₽</strong></div>
					{% endif %}
				</div>
				<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
			</div>
			<div elem="image">
				<img src="img/{{item.image}}" alt="">
			</div>
		</div>
	</a>	
</form>
{% endfor %}
{% else %}
	{% for item in productList %}
	{% if layout.list != true %}
	<form block="product-item" class="_js_product-item" action="#">
		<a elem="in" href="#">
			<div elem="first">
				<div elem="code">Код товара: <span>302464</span></div>
				<div elem="compare" class="_js_add_to_compare">
					<icon name="compare-icon" tag="span">
					<span elem="compare-text"><span class="to">В сравнение</span><span class="in">добавлено к сравению</span></span>	
				</div>
				<div elem="labels">
					<div elem="label rst"><span><img src="/img/rst.svg" alt=""></span>ГОСРЕЕСТР</div>
					<div elem="label like"><img src="/img/like.svg" alt=""></div>
				</div>
				<div elem="image">
					<div><img src="img/{{item.image}}" alt=""></div>
				</div>
			</div>
			<div elem="middle">
				<div elem="middle-top">			
					<div elem="in-stock"><span>В наличии: 3 456 шт</span></div>
					{#<div elem="reviews"><span>4 отзыва</span></div>#}
				</div>
				<div elem="over-heading">Построитель лазерныхплоскостей</div>
				<div elem="name">{{item.name}}</div>
				<div elem="params">
					<div elem="param-item">
						<div elem="param-name">Производитель</div>	
						<div elem="param-value">Микрон</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Принцип действия</div>	
						<div elem="param-value">Механический</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Цена деления</div>	
						<div elem="param-value">0.1</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Дипазон измерений</div>	
						<div elem="param-value">0-125</div>	
					</div>
				</div>
			</div>
			<div elem="last">
				<div elem="rating">
					<div elem="rating-stars">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span">
					</div>
					4 отзыва
				</div>
				<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
					<div elem="price"><strong>{{item.price}} ₽</strong><span>без НДС</span></div>
					{% if item.priceOld != "" %}
					<div elem="price-old"><strong>{{item.priceOld}} ₽</strong><span>без НДС</span></div>
					{% endif %}
				</div>
				{% if item.minPurchase == true %}
				<div elem="min-purchase"><img src="img/warning-ico.svg" alt="">Минимальная партия покупки: 12 шт</div>
				{% endif %}
				<div elem="last-bot">
					<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
					<div block="b-amount">
						<button elem="button" class="minus disabled"></button>
						<input type="text" elem="number" data-min="{% if item.minPurchase == true %}12{% else %}1{% endif %}" value="{% if item.minPurchase == true %}12{% else %}1{% endif %}">
						<button elem="button" class="plus"></button>
					</div>
				</div>
			</div>
		</a>	
	</form>
	{% else %}
	<form block="product-item" class="_js_product-item" action="#">
		<div elem="in">
			<div elem="first">					
				<div elem="labels">
					<div elem="label rst"><span><img src="/img/rst.svg" alt=""></span>ГОСРЕЕСТР 123</div>
					<div elem="label like"><img src="/img/like.svg" alt=""></div>
				</div>				
				<div elem="image">
					<img src="img/{{item.image}}" alt="">
				</div>
			</div>
			<div elem="middle">		
				<div elem="middle-top">
					<div elem="code">Код товара: <span>302464</span></div>
					<div elem="in-stock">В наличии: <span>3 456 шт</span></div>
					<div elem="reviews"><span>4 отзыва</span></div>
				</div>
				<div elem="over-heading">Построитель лазерныхплоскостей</div>
				<div elem="name"><a href="#">{{item.name}}</a></div>
				<div elem="params">
					<div elem="param-item">
						<div elem="param-name">Производитель</div>	
						<div elem="param-value">Микрон</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Принцип действия</div>	
						<div elem="param-value">Механический</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Цена деления</div>	
						<div elem="param-value">0.1</div>	
					</div>
					<div elem="param-item">
						<div elem="param-name">Дипазон измерений</div>	
						<div elem="param-value">0-125</div>	
					</div>
				</div>
			</div>
			<div elem="last">
				{% if layout.thumbs == false %}
				<div elem="compare" class="_js_add_to_compare">
					<icon name="compare-icon" tag="span">
					<span elem="compare-text"><span class="to">В сравнение</span><span class="in">добавлено к сравению</span></span>
				</div>
				<div elem="rating">
					<div elem="rating-stars">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span" class="active">
						<icon name="star" tag="span">
					</div>
					4 отзыва
				</div>
				{% endif %}
				<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
					<div elem="price"><strong>{{item.price}} ₽</strong><span>без НДС</span></div>
					{% if item.priceOld != "" %}
					<div elem="price-old"><strong>{{item.priceOld}} ₽</strong><span>без НДС</span></div>
					{% endif %}
				</div>
				{% if layout.simple == true %}
				{% if item.minPurchase == true %}
				<div elem="min-purchase"><img src="img/warning-ico.svg" alt="">Минимальная партия покупки: 12 шт</div>
				{% endif %}
				{% endif %}
				<div elem="last-bot">
					<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
					{% if layout.simple == true %}
					<div block="b-amount">
						<button elem="button" class="minus"></button>
						<input type="text" elem="number" data-min="{% if item.minPurchase == true %}12{% else %}1{% endif %}" value="{% if item.minPurchase == true %}12{% else %}1{% endif %}">
						<button elem="button" class="plus"></button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>	
	</form>
	{% endif %}
	{% endfor %}
	{#
	<form block="product-item" class="_js_product-item" action="#">
		<div elem="container" class="first">
			{% if layout.thumbs == false %}
			<div elem="labels">
				<div elem="label rst"><span><img src="/img/rst.svg" alt=""></span>ГОСРЕЕСТР</div>
				<div elem="label like"><img src="/img/like.svg" alt=""></div>
			</div>
			{% endif %}
			<div elem="code">Код товара: <span>302464</span></div>
		</div>
		<div elem="container" class="name">
			<div elem="over-heading">Построитель лазерныхплоскостей</div>
			<div elem="name"><a href="#">{{item.name}}</a></div>
		</div>

		<div elem="image">
			<img src="img/{{item.image}}" alt="">
		</div>

		<div elem="in-stock"><span>3 456 шт</span></div>
		<div elem="container" class="price">
			<div elem="price-container"{% if item.priceOld != "" %} class="has-old-price"{% endif %}>
				<div elem="price"><strong>{{item.price}} ₽</strong><span>без НДС</span></div>
				{% if item.priceOld != "" %}
				<div elem="price-old"><strong>{{item.priceOld}} ₽</strong><span>без НДС</span></div>
				{% endif %}
			</div>
		</div>
		<div elem="last-bot">
			<button elem="button" class="s-button type-2 _js_product_button">В КОРЗИНУ</button>
		</div>
	</form>
	#}
{% endif %}