.b-amount
    width 108px
    margin-left 8px
    border 1px solid #B7C2C9
    border-radius 2px
    display flex
    justify-content space-between
    align-items center
    display none
    &__number
        font-size 16px
        letter-spacing -0.5px
        color #3C4858
        border 0
        height 19px
        width 28px
        background none
        padding 0
        text-align center
    &__button
        padding 0
        position relative
        width 36px
        height 38px
        box-shadow none
        background none
        position relative
        &:hover
            background none
        &:before
            content ""
            position absolute
            left 50%
            top 50%
            margin-top -1px
            margin-left -7px
            width 14px
            height 2px
            background #D00000

        &.disabled
            background none
            &:before
                background #b7c2c9


        &.plus
            &:after
                content ""
                position absolute
                left 50%
                top 50%
                margin-left -1px
                margin-top -7px
                width 2px
                height 14px
                background #D00000
    
    &__error
        display none

    &--visible
      display flex

.product-item
    padding-left 32px
    margin-bottom 56px
    width 25%
    display flex
    padding-top 16px

    &__main-link
        position absolute
        left 0 
        right 0 
        top 0
        bottom 0

    &.in-cart
        .b-amount
            display flex

        .product-item__min-purchase
            display block

    &__in
        width 100%
        position relative
        display block
        display flex
        flex-direction column
        padding 14px 0 26px
        background #fff
        transition all .3s ease
        text-decoration none
        color currentColor
        cursor pointer
        &:hover
            box-shadow 0px 4px 7px rgba(1, 99, 143, 0.15), 0px -1px 4px rgba(1, 99, 143, 0.14)

            .product-item__name
                text-decoration underline

    &__first
        position relative

    &__code
        font-size 11px
        float left

    &__in-stock
        position relative
        padding-left 12px
        font-size 12px
        line-height 1
        color #3C4858
        &:after
            content ""
            position absolute
            left 0
            width 7px
            height 7px
            top 50%
            margin-top -4px
            border-radius 50px
            background #45B700
    &__compare
        position absolute
        right 8px
        top 8px
        cursor pointer
        z-index 1
        svg
            fill #B7C2C9
        &:hover
            & ^[0]
                &__compare-text
                    opacity 1
                    visibility visible
    &__labels
        position absolute
        left 0
        bottom 0
        z-index 1
        display flex

    &__label
        height 30px
        line-height 1
        border-radius 2px
        margin-right 9px
        &.rst
            background #1166BB
            color #fff
            font-size 11px
            text-transform uppercase
            letter-spacing normal
            padding 7px 8px 5px 4px
            display flex
            align-items center
            span
                width 22px
                height 19px
                display inline-block
                overflow hidden
                margin-right 3px
                vertical-align middle
                margin-bottom 2px
        &.like
            text-align center
            line-height 26px
            width 30px
            height 30px
            background #FFB55F

    &__compare-text
        position absolute
        right 100%
        padding 6px 6px 5px
        background #232F36
        color #fff
        white-space nowrap
        line-height 1
        font-size 11px
        letter-spacing normal
        top 1px
        margin-right 5px
        transition all .3s ease
        opacity 0
        visibility hidden
        &:after
            content ""
            position absolute
            right -9px
            top 50%
            margin-top -5px
            border 5px solid transparent
            border-left 4px solid #232F36
        .to
            display block
        .in
            display none


    &__image
        // height 224px
        margin-bottom 19px
        background #F2F6F8
        border-radius 2px
        position relative
        display flex
        align-items center
        justify-content center
        width 100%
        img
            max-width 100%

    &__middle
        flex 1 auto

    &__over-heading
        color #3C4858
        font-size 13px
        font-family "Montserrat"
        line-height 18px
        margin-bottom 3px

    &__name
        font-weight 500
        font-size 16px
        line-height 24px
        margin-bottom 11px
        a
            color #232F36
            text-decoration none
            &:hover
                text-decoration underline

    &__last
        padding 0

    &__rating
        margin-bottom 25px
        font-size 14px
        color #232F36

    &__rating-stars
        font-size 0
        margin-bottom 4px
        line-height 1
        .svg-icon
            width 19px
            height 19px
            margin-right 4px
            fill #9FA6AB
            &.active
                fill #FFA800

    &__last-bot
        display flex
        align-items center
        justify-content space-between

    &__price-container
        font-size 18px
        font-weight 500
        margin-bottom 14px
        line-height 1
        min-height 36px
        span
            padding-left 7px
            font-family "Montserrat"
            font-size 13px
            font-weight normal

        &.has-old-price
            display flex
            strong
                display block
                margin-bottom 4px
            span
                display block
                padding-left 0
            & ^[0]
                &__price
                    margin-right 20px
                    color #d00000

    &__price
        color #232F36
        font-weight 500
        span
            color #3C4858

    &__price-old
        color #91A2AE
        strong
            position relative
            &:after
                content ""
                position absolute
                left -4px
                top 50%
                right -4px
                height 1px
                background #91A2AE
        span
            color #91A2AE

    &__min-purchase
        font-size 12px
        color #D00000
        margin-bottom 12px
        display none
        img
            vertical-align middle
            margin-bottom 6px
            margin-right 5px

    &__reviews
        display none
        font-size 12px
        color #91A2AE

    &__button
        padding 13px 22px 10px
        font-size 14px
        min-width 130px

    &.selected
        & ^[0]
            &__compare
                svg
                    fill #D00000
            &__compare-text
                display none
                .to
                    display none
                .in
                    display block
            &__compare
                &:hover
                    .product-item__compare-text
                        display block


    &__in
        &:hover
            z-index 2
            & ^[0]
                &__popup
                    opacity 1
                    visibility visible


    &--first
        width 50%
        .product-item__in
            &:hover
                box-shadow none

        & ^[0]
            &__popup
                width auto
                display flex
                position relative
                left auto
                top auto
                right auto
                bottom auto
                opacity 1
                visibility visible
                flex 1
                &:before
                    display none
            &__image
                margin-bottom 0

    &__popup
        display none
        position absolute
        left 0
        top 0
        bottom 0
        width 211%
        right -32px
        background #fff
        padding  50px 36px 44px 48px
        border 1px solid #B7C2C9
        border-radius 2px
        opacity 0
        visibility hidden
        transition all .5s ease
        display flex
        justify-content space-between
        z-index 1
        &:before
            content ""
            position absolute
            left -5px
            top -5px
            right -5px
            bottom -5px
            background #fff
            box-shadow inset 0 0 0 3px #fff, inset 0 0 0 4px #B7C2C9


        & ^[0]
            &__name
                margin-bottom 10px
                font-size 24px
                font-weight 500

            &__image
                flex 1 1
                background none
            &__params
                flex 1 1
                display flex
                justify-content center
                flex-direction column
                color #3C4858
                div
                    font-size 16px
                    margin-bottom 5px
                    line-height 27px
                    &:last-child
                        margin-bottom 0
            &__price-container
                min-height 0
                margin-bottom 20px
                font-size 24px

    &__params
        display table
        width 100%
        margin-bottom 23px
        font-size 13px
        color #4C728B

    &__param-item
        display table-row

    &__param-name,
    &__param-value
        display table-cell
        border-bottom 1px solid #B7C2C9
        padding-top 5px
        padding-bottom 5px
        line-height normal

    &__popup-l
        position relative
        margin-right 30px
        flex 1
        display flex
        flex-direction column
        align-items flex-start

    &:nth-child(4n)
        & ^[0]
            &__popup
                left auto
                right 0

    @media (max-width 1023px)
        padding-left 17px
        &--first
            & ^[0]
                &__image
                    min-height 0
        &__in
            padding 0

        &__image
            min-height 128px
            img
                width 80%
        &__last
            padding 0

        &__over-heading
            line-height 16px
        &__popup
            padding 20px

    @media (max-width 640px)
        &--first
            & ^[0]
                &__popup
                    padding 13px 10px 20px 15px
                &__image
                    margin-top 85px

    @media (max-width 480px)
        &--first
            & ^[0]
                &__popup
                    margin-right 0
        &__popup-l
            flex none
            margin-right 0


.added-to-cart
    width 230px
    display none
    position fixed
    text-align center
    left 50%
    top 50%
    padding 17px 20px 15px 20px
    z-index 999
    line-height 1
    border 1px solid #4c728b
    background #fff
    transform translate(-50%, -50%)
    box-shadow 0px 2px 2px rgba(0,0,0,0.24), 0px 0px 2px rgba(0,0,0,0.12)

.product-list

    &--thumbs4,
    &--thumbs

        .product-item__code
            padding-left 16px
        .product-item__compare
            padding-right 16px
        .product-item__middle,
        .product-item__last
            padding 0 16px

        &.inner
            .product-item
                margin-bottom 14px
                width 33.333%
                position relative
                &:after
                    content ""
                    position absolute
                    left 0
                    top 0
                    right 0
                    height 1px
                    background #dbe0e4

                &:nth-child(-n+3)
                    padding-top 25px
                &:nth-child(3n + 1)
                    &:after
                        left 32px
                &__first
                    display flex
                    flex-wrap wrap
                    justify-content space-between
                &__compare
                    position relative
                    right auto
                    top auto
                    float right
                    margin-top -2px

                &__image
                    background none
    
    @media all and (min-width: 760px)
        &--thumbs4
            &.inner
                .product-item    
                    width 25%
                    
                    &:nth-child(-n+3)
                        padding-top 0
                    &:nth-child(3n + 1)
                        &:after    
                            left 0
                        
                    &:nth-child(-n+4)
                        padding-top 25px
                    &:nth-child(4n + 1)
                        &:after    
                            left 32px
    @media all and (max-width: 1023px)
        &--thumbs4,
        &--thumbs

            .product-item__middle,
            .product-item__last,
            .product-item__code,
            .product-item__compare
                padding 0
        &--thumbs4
            &.inner
                .product-item
                    &:after
                        display none

@media (max-width 767px)
    .product-item__compare,
    .b-product-card__compare
        display none

@media (max-width 480px)
    .product-list
        &--thumbs
            &.inner
                .product-item
                    // width 100%
                    &__labels
                        display none
                    &:after
                        left 0
