.cart-client-type
  display flex
  margin-bottom 16px

  &__item
    flex-basis: 0
    flex-grow: 1
    max-width: 100%

    &:first-child .btn-radio .btn-radio__label
      border-radius 2px 0 0 2px

    &:last-child .btn-radio .btn-radio__label
      border-radius 0 2px 2px 0

  @media (min-width: 1024px)

    ._js-is-overlap &
      max-width calc(50% - 8px)

