<div block="cart-client-type">
	<div elem="item">
		<div block="btn-radio">
			<input elem="ctrl" type="radio" name="data[user_type]" value="1" checked>
			<div elem="label">
				<svg elem="icon" width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.81755 6.52752C8.47502 5.92807 8.89103 5.06752 8.89103 4.10963C8.89103 2.30381 7.42167 0.833984 5.61539 0.833984C3.8091 0.833984 2.33974 2.30381 2.33974 4.10963C2.33974 5.06752 2.75575 5.92807 3.41322 6.52752C1.4717 6.90188 0 8.61176 0 10.6609V12.5327C0 12.7915 0.209641 13.0007 0.467949 13.0007H10.7628C11.0211 13.0007 11.2308 12.7915 11.2308 12.5327V10.6609C11.2308 8.61176 9.75907 6.90188 7.81755 6.52752ZM3.27564 4.10963C3.27564 2.81949 4.32525 1.76988 5.61539 1.76988C6.90552 1.76988 7.95513 2.81949 7.95513 4.10963C7.95513 5.39976 6.90552 6.44937 5.61539 6.44937C4.32525 6.44937 3.27564 5.39976 3.27564 4.10963ZM10.2949 12.0648H0.935898V10.6609C0.935898 8.85509 2.40526 7.38527 4.21154 7.38527H7.01923C8.82551 7.38527 10.2949 8.85509 10.2949 10.6609V12.0648Z"/>
				</svg>
				<span elem="label-text">Физическое лицо</span>
			</div>
		</div>
	</div>
	<div elem="item">
		<div block="btn-radio">
			<input elem="ctrl" type="radio" name="data[user_type]" value="2">
			<div elem="label">
				<svg elem="icon" width="18" height="13" viewBox="0 0 18 13" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.0906 6.5956C11.741 6.00256 12.1526 5.15119 12.1526 4.20354C12.1526 2.41701 10.6989 0.962891 8.91192 0.962891C7.12494 0.962891 5.67128 2.41701 5.67128 4.20354C5.67128 5.15119 6.08284 6.00256 6.73328 6.5956C4.81251 6.96596 3.35653 8.65757 3.35653 10.6848V12.5366C3.35653 12.7926 3.56393 12.9996 3.81948 12.9996H14.0044C14.2599 12.9996 14.4673 12.7926 14.4673 12.5366V10.6848C14.4673 8.65757 13.0113 6.96596 11.0906 6.5956ZM6.59718 4.20354C6.59718 2.92718 7.63557 1.88879 8.91192 1.88879C10.1883 1.88879 11.2267 2.92718 11.2267 4.20354C11.2267 5.47989 10.1883 6.51828 8.91192 6.51828C7.63557 6.51828 6.59718 5.47989 6.59718 4.20354ZM13.5414 12.0737H4.28243V10.6848C4.28243 8.89831 5.73609 7.44418 7.52307 7.44418H10.3008C12.0878 7.44418 13.5414 8.89831 13.5414 10.6848V12.0737Z"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.43711 4.94944C5.43711 5.53521 5.18271 6.06147 4.78065 6.42804C5.42224 6.55175 5.97994 6.91395 6.35706 7.41851C6.13485 7.43533 5.92043 7.48004 5.7173 7.54914C5.35389 7.18106 4.84936 6.95258 4.29246 6.95258H2.57547C1.47088 6.95258 0.572328 7.85142 0.572328 8.95573V9.81422H3.95997C3.95491 9.88051 3.95234 9.94749 3.95234 10.0151C3.95234 10.1412 3.96131 10.2652 3.97863 10.3865H0.286164C0.128201 10.3865 0 10.2586 0 10.1004V8.95573C0 7.70262 0.899985 6.65698 2.08728 6.42804C1.68522 6.06147 1.43082 5.53521 1.43082 4.94944C1.43082 3.84513 2.32937 2.94629 3.43397 2.94629C4.53856 2.94629 5.43711 3.84513 5.43711 4.94944ZM3.43397 3.51862C2.64501 3.51862 2.00315 4.16048 2.00315 4.94944C2.00315 5.73839 2.64501 6.38025 3.43397 6.38025C4.22292 6.38025 4.86478 5.73839 4.86478 4.94944C4.86478 4.16048 4.22292 3.51862 3.43397 3.51862Z"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5631 4.94944C12.5631 5.53521 12.8175 6.06147 13.2195 6.42804C12.5779 6.55175 12.0202 6.91395 11.6431 7.41849C11.8653 7.4353 12.0798 7.48 12.2829 7.5491C12.6463 7.18104 13.1508 6.95258 13.7077 6.95258H15.4247C16.5293 6.95258 17.4278 7.85142 17.4278 8.95573V9.81422H14.0404C14.0454 9.88051 14.048 9.94749 14.048 10.0151C14.048 10.1412 14.039 10.2652 14.0217 10.3865H17.714C17.872 10.3865 18.0002 10.2586 18.0002 10.1004V8.95573C18.0002 7.70262 17.1002 6.65698 15.9129 6.42804C16.315 6.06147 16.5694 5.53521 16.5694 4.94944C16.5694 3.84513 15.6708 2.94629 14.5662 2.94629C13.4616 2.94629 12.5631 3.84513 12.5631 4.94944ZM14.5662 3.51862C15.3552 3.51862 15.997 4.16048 15.997 4.94944C15.997 5.73839 15.3552 6.38025 14.5662 6.38025C13.7773 6.38025 13.1354 5.73839 13.1354 4.94944C13.1354 4.16048 13.7773 3.51862 14.5662 3.51862Z"/>
				</svg>
				<span elem="label-text">Юридическое лицо</span>
			</div>
		</div>
	</div>
</div>
